

ion-toolbar, ion-content, ion-footer{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}

.form{
  background-color: var(--background-color) !important;
}


ion-button, ion-label, ion-input{
  font-family: RoseSemi !important;
}


.item{
  --background: rgba(var(--background-color), 0.14);
  .input{
    margin: 1rem 0 0.5rem 0.5rem;
    width: 100%;
    ion-input{
      padding-left: 12px !important;
      background-color: rgba(var(--sand-rgb), 0.14);
      font-size: 26px;
      height: 80px;
      font-weight: 500;
    }
  }
  .button{
    margin-top: 10px;
    margin-left: 8px;
    height: 80px;
    width: 240px;
    --box-shadow: 0 !important;
    --background: var(--orange-contrast);
    --color: var(--light-orange);
  }
  .close{
    margin-top: 10px;
    margin-left: 8px;
    height: 80px;
    width: 80px;
    --box-shadow: 0 !important;
    --background: rgba(var(--orange-rgb), 1);
    --color: var(--text-color);
  }
}


.cancel-button{
  --background: rgba(var(--orange-rgb), 0.9) !important
}
.submit-button{
  --background: var(--orange-contrast) !important;
  --color: var(--light-orange) !important;
}




