

ion-toolbar, ion-content, ion-footer{
  --background: var(--ion-color-tertiary) !important;
}
.form{
  background-color: var(--ion-color-tertiary) !important;
}

ion-title{
  font-size: 60px;
  font-weight: 600;
}

ion-button, ion-label, ion-input{
  font-family: NoirProSemi !important;
}


.item{
  .input{
    box-shadow:
    0 -2px 4px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem 0 0.5rem 0.5rem;
    margin: 1rem 0 0.5rem 0.5rem;
    width: 100%;
    ion-input{
      font-size: 26px;
      height: 80px;
      font-weight: 500;
    }
  }
  .button{
    margin-top: 10px;
    margin-left: 8px;
    height: 80px;
    width: 240px;
  }
  .close{
    margin-top: 10px;
    margin-left: 8px;
    height: 80px;
    width: 80px;
  }
}


.title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  font-family: NoirProSemi !important;
  text-align: center;
  background-color: var(--ion-color-medium);
  padding: 18px;
  color: var(--ion-color-light);
  font-size: 38px;
  margin-top: 12px;
}

@media screen and (max-width:600px) {

  .item{
    .input{
      box-shadow:
      0 -2px 4px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 1rem 0 0.5rem 0.5rem;
      width: 100%;
      ion-input{
        font-size: 16px;
        height: 30px;
        font-weight: 400;
      }
    }
    .button{
      font-size: 14px;
      margin-top: 10px;
      margin-left: 4px;
      height: 60px;
      min-width: 50px;
      max-width: 70px;
    }
    .close{
      margin-top: 10px;
      margin-left: 2px;
      height: 60px;
      min-width: 20px;
      max-width: 40px;
    }
  }
}
