<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{total}} LEI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <form [formGroup]="paymentForm">
      <ion-item lines="none" class="item">
        <ion-button color="light" size="large" class="close" (click)="reset('cash')"[disabled]="disablePayButtons">X</ion-button>
        <ion-item lines="none" class="input">
          <ion-input type="number" label="Numerar" labelPlacement="floating" placeholder="00" formControlName="cash"></ion-input>
        </ion-item>
        <ion-button color="tertiary" size="large"  class="button" (click)="cash()" [disabled]="disablePayButtons">CASH</ion-button>
      </ion-item>
      <!-- <ion-item lines="none" class="item">
        <ion-button color="light" size="large" class="close" (click)="reset('card')"[disabled]="disablePayButtons">X</ion-button>
        <ion-item lines="none" class="input">
          <ion-input type="number" label="Card Bancar" labelPlacement="floating" placeholder="00" formControlName="card" ></ion-input>
        </ion-item>
        <ion-button color="tertiary" size="large" class="button" (click)="card()"[disabled]="disablePayButtons">CARD</ion-button>
      </ion-item> -->
      <ion-item lines="none" class="item">
        <ion-button color="light" size="large" class="close" (click)="reset('viva')"[disabled]="disablePayButtons">X</ion-button>
        <ion-item lines="none" class="input">
          <ion-input type="number" label="Viva Wallet" labelPlacement="floating" placeholder="00" formControlName="viva"></ion-input>
        </ion-item>
        <ion-button color="tertiary" size="large" class="button" (click)="viva()"[disabled]="disablePayButtons">VIVA</ion-button>
      </ion-item>

      <ion-item lines="none" class="item">
        <ion-button color="light" size="large" class="close" (click)="reset('online')"[disabled]="true">X</ion-button>
        <ion-item lines="none" class="input">
          <ion-input type="number" label="Plată Online" labelPlacement="floating" placeholder="00" formControlName="online"></ion-input>
        </ion-item>
        <ion-button color="tertiary" size="large" class="button" (click)="online()"[disabled]="false">ONLINE</ion-button>
      </ion-item>
<!--
      <ion-item lines="none" class="item">
        <ion-button color="light" size="large" class="close" (click)="reset('voucher')"[disabled]="disablePayButtons">X</ion-button>
        <ion-item lines="none" class="input">
          <ion-input type="number" label="Voucher" labelPlacement="floating" placeholder="00" formControlName="voucher"></ion-input>
        </ion-item>
        <ion-button color="tertiary" size="large" class="button" (click)="voucher()"[disabled]="disablePayButtons">VOUCHER</ion-button>
      </ion-item> -->
      <ion-item lines="none" class="item">
        <ion-button color="light" size="large" class="close" (click)="reset('cif')">X</ion-button>
        <ion-item lines="none" class="input">
          <ion-input type="text" label="Cod Fiscal" labelPlacement="floating" placeholder="ex.RO123232" formControlName="cif" #cifInp></ion-input>
        </ion-item>
        <ion-button color="tertiary" size="large" class="button" (click)="cif()">RO</ion-button>
      </ion-item>
    </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="block" color="danger"(click)="cancel()" [disabled]="disableCancelButton">Renunță</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="block" color="primary" (click)="cashIn()" [disabled]="disableCancelButton">{{button}}</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
