<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{total}} LEI</ion-title>
  </ion-toolbar>
</ion-header>
<div class="container">

  <ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="paymentForm">
        <ion-item lines="none" class="item">
          <ion-button color="light" size="large" class="close" (click)="reset('cash')"[disabled]="disablePayButtons">X</ion-button>
          <ion-item lines="none" class="input">
            <ion-input type="number" label="Numerar" labelPlacement="floating" placeholder="00" formControlName="cash"></ion-input>
          </ion-item>
          <ion-button color="tertiary" size="large"  class="button" (click)="cash()" [disabled]="disablePayButtons">CASH</ion-button>
        </ion-item>
        <ion-item lines="none" class="item">
          <ion-button color="light" size="large" class="close" (click)="reset('card')"[disabled]="disablePayButtons">X</ion-button>
          <ion-item lines="none" class="input">
            <ion-input type="number" label="Card Bancar Auto" labelPlacement="floating" placeholder="00" formControlName="card" ></ion-input>
          </ion-item>
          <ion-button color="tertiary" size="large" class="button" (click)="card()"[disabled]="disablePayButtons">CARD</ion-button>
        </ion-item>
        <ion-item lines="none" class="item">
          <ion-button color="light" size="large" class="close" (click)="reset('cif')">X</ion-button>
          <ion-item lines="none" class="input">
            <ion-input type="text" label="Cod Fiscal" labelPlacement="floating" placeholder="ex.RO123232" formControlName="cif" #cifInp></ion-input>
          </ion-item>
          <ion-button color="tertiary" size="large" class="button" (click)="cif()">RO</ion-button>
        </ion-item>
        <ion-item lines="none" class="item">
          <ion-button color="light" size="large" class="close" (click)="reset('card')"[disabled]="disablePayButtons">X</ion-button>
          <ion-item lines="none" class="input">
            <ion-input type="number" label="Card Manual" labelPlacement="floating" placeholder="00" formControlName="card2" ></ion-input>
          </ion-item>
          <ion-button color="tertiary" size="large" class="button" (click)="card2()"[disabled]="disablePayButtons">CARD Manual</ion-button>
        </ion-item>
        <ion-checkbox formConrtolName="dont"  (ionChange)="checkboxChanged($event)"></ion-checkbox>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
</div>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" expand="block" color="danger"(click)="cancel()" [disabled]="disableCancelButton">Renunță</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" expand="block" color="primary" (click)="cashIn()" [disabled]="disableCancelButton">{{button}}</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
