ion-content, ion-toolbar {
  --background: var(--ion-color-tertiary) !important;
}

.input{
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
  margin: 0.4rem 0 0.4rem 0.2rem;
  font-family: NoirProLight !important;
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--ion-color-light);
  color: var(--ion-color-medium);
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  span{
    margin: 10px 5px 10px 5px;
  }
  .nr{
    flex: 2%
  }
  .data{
    flex: 30%;
  }
  .discount{
    flex: 15%;
    // margin-left: 50px;
    text-align: center;
  }
  .client{
    font-family: NoirProSemi !important;
    flex: 38%;
    text-align: start;
  }

  .total{
    flex: 25%;
    font-family: NoirProSemi !important;
    text-align: end;
  }

}

.open{
  --background: var(--ion-color-danger);
}

.header{
  height: 40px;
  border-radius: 8px;
  margin: 0.4rem 0 0 0.2rem;
  font-family: NoirProLight !important;
  display: flex;
  flex-direction: row;
  span{
    margin: 10px 5px 10px 5px;
  }
  .nr{
    flex: 2%
  }
  .data{
    flex: 30%;
  }

  .client{
    flex: 38%;
    text-align: start;
  }
  .discount{
    flex: 15%;
    // margin-left: 50px;
    text-align: center;
  }
  .total{
    flex: 25%;
    font-family: NoirProSemi !important;
    text-align: end;
  }
}



.icon{
  color: white;
}
