
ion-content, ion-toolbar{
  --background: var(--ion-color-tertiary) !important;
}

ion-searchbar{
  font-family: NoirProReg !important;
  padding: 8px;
}

ion-select{
  font-family: NoirProReg !important;
}




#header{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

ion-label{
  font-family: NoirProReg !important;
}

.input{
  height: 45px;
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.1rem 0 0.1rem 0rem;
  background-color: var(--ion-color-light);
  border-radius: 8px;
}

img{
  height: 25px;
  cursor: pointer
}


.input-wrapper{
  display: flex;
  flex-direction: row;
}

 .product-container{
  display: flex;
  flex-direction: row;
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex:92%;
  padding-left: 12px;
  .nr{
    flex: 2%;
    text-align: start !important;
  }
  .name{
    flex: 16%;
    text-align: start !important;
  }
  .mainCat{
    flex: 15%;
    text-align: start !important;
  }
  .cat{
    flex: 15%;
    text-align: start !important;
  }
  .dep{
    flex: 10%;
    text-align: start !important;
  }
  .tva{
    flex: 7%;
    text-align: start !important;
  }
  .price-prod{
    flex: 8%;
    text-align: start !important;
  }
  .sale-price{
    flex: 8%;
    text-align: start !important;
  }
  .price{
    flex: 8%;
    text-align: start !important;
  }
  .recipe{
    flex: 3%;
    text-align: start !important;
    ion-icon{
      font-size: 22px !important;
    }
  }

  .edit{
    flex: 4%;
    text-align: start !important;
    font-size: 24px !important;
  }

  .delete{
    flex: 4%;
    text-align: start !important;
    font-size: 24px !important;
  }
  }
  .status-wrapper{
   flex: 8%;
    text-align: center;
    .status{
      margin-right: 20px;
    }
  }
  .toggle-wrapper{
    flex: 8%;
    --background: var(--ion-color-tertiary) !important;
    display: flex;
    span{
      font-size: 11px;
      margin-left: 8px;
    }
  }
 }

.sub-container{
  margin-left: 2rem;
  ion-item{
    ion-label{
      font-size: 13px;
    }
  }
}

.product{
  cursor: pointer;
}

.product:hover{
  --background: var(--ion-color-medium-shade);
}

// app-spinner{
//   background-color: #fbf0e7;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.spinner-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

