
<ion-content [fullscreen]="true">
  <ion-item lines="none" class="header content-container" slot="fixed">
    <ion-label class="name">Nume Produs</ion-label>
    <ion-label class="mainCat">Categorie Parinte</ion-label>
    <ion-label class="cat">Categorie Produs</ion-label>
    <ion-label class="dep">Departament</ion-label>
    <ion-label class="tva">Tva %</ion-label>
    <ion-label class="price-prod">Preț producție</ion-label>
    <ion-label class="sale-price">Preț vanzare</ion-label>
    <ion-label class="price">Adaos %</ion-label>
    <ion-label class="recipe">Rețetă</ion-label>
    <ion-label class="status">Status</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row style="margin-bottom:40px;">
      <ion-col size-lg="6">
        <ion-item lines="none">
          <ion-searchbar mode="ios" [(ngModel)]="productSearch"  placeholder="Caută Produs"  (ionInput)="searchProduct($event)">
          </ion-searchbar>
          <img src="assets/icon/add-circle.svg" id="add-ing" (click)="addProduct()">
        </ion-item>
      </ion-col>
      <ion-col size-lg="3" size-md="6">
        <ion-item lines="none" class="input">
          <ion-select placeholder="Alege Categorie Parinte" (ionChange)="onSelectMainCat($event)">
            <ion-select-option value="">Toate</ion-select-option>
            <ion-select-option *ngFor="let mainCat of mainCats" [value]="mainCat.name">{{mainCat.name | capitalize}}</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-col>
        <ion-col size-lg="3" size-md="6">
        <ion-item lines="none" class="input">
          <ion-select placeholder="Alege Categorie Produs" (ionChange)="onCatSelect($event)">
            <ion-select-option value="">Toate Categoriile</ion-select-option>
            <ion-select-option *ngFor="let cat of categoriesToShow" [value]="cat._id">{{cat.name}}</ion-select-option>
          </ion-select>
          <img src="assets/icon/add-circle.svg" id="add-cat" (click)="addCat()">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let product of products">
      <ion-col>
        <ion-item class="content-container product input" (click)="productEdit(product._id)" lines="none">
          <ion-label class="name">{{product.name}}</ion-label>
          <ion-label class="mainCat">{{product.mainCat | capitalize}}</ion-label>
          <ion-label class="cat">{{product.category.name}}</ion-label>
          <ion-label class="dep">{{product.dep ? product.dep : "dep" }}</ion-label>
          <ion-label class="tva">{{product.tva ? product.tva : "Tva"}} %</ion-label>
          <ion-label class="price-prod">{{product.subProducts.length ? '' : 'pret prod' }}</ion-label>
          <ion-label class="sale-price">{{product.subProducts.length ? '' : product.price }}</ion-label>
          <ion-label class="price">{{product.subProducts.length ? '' : "adaos"}}</ion-label>
          <ion-label class="recipe">{{product.subProducts.length ? '' : "reteta" }}</ion-label>
          <ion-label class="status">{{product.available ? "Activ" : "Inactiv"}}</ion-label>
        </ion-item>
        <div *ngIf="product.subProducts.length" class="sub-container">
          <ion-item *ngFor="let subProduct of product.subProducts" lines="none" class="content-container">
            <ion-label class="name">{{subProduct.name}}</ion-label>
            <ion-label class="mainCat"></ion-label>
            <ion-label class="cat">Sub Produs</ion-label>
            <ion-label class="dep"></ion-label>
            <ion-label class="tva"></ion-label>
            <ion-label class="price-prod">Preț producție</ion-label>
            <ion-label class="sale-price">{{subProduct.price}}</ion-label>
            <ion-label class="price">Adaos %</ion-label>
            <ion-label class="recipe">Rețetă</ion-label>
            <ion-label class="status">{{subProduct.available ? "Activ" : "Inactiv"}}</ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
