

ion-toolbar, ion-content, ion-list, ion-header, ion-item{
  --background: var(--ion-color-light) !important;
  background-color: var(--ion-color-light) !important;
}

ion-content{
  height: 70vh;
}




.main-button-container{
  margin-top: 24px;
  width: 97%;
  display: flex;
  margin-left: 14px;
}
.main-button, .add-button{
  cursor: pointer;
  flex: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-sand);
  border: 1px solid var(--sand);
  border-radius: 4px;
  padding: 6px;
  margin-left: 10px;
  .label{
    flex: 70%;
    font-family: RoseMed;
    display: flex;
    flex-direction: column;
    padding: 12px;
    .name{
      font-size: 24px;
      text-transform:capitalize;
    }
    .nr{
      font-size: 12px;
    }

  }
  ion-icon{
    font-size: 24px;
    flex: 30%;
  }
}
.add-button{
  flex: 0;
  width: 150px;
  justify-content: space-around;
  border: 2px dashed var(--sand);
  .label{
    // padding: 0;
    font-size: 24px;
  }
  ion-icon{
    padding: 0;
    font-size: 28px;
  }
}




.cat-button-container{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 0;
  margin: 0 24px;
  .cat-button{
    display: flex;
    min-width: fit-content;
    margin:  4px 6px 0 0 ;
    font-family: RoseReg;
    padding: 8px;
    background-color: var(--light-blue);
    font-size: 12px;
    .name{
      text-transform: uppercase;
    }
  }
}


.header{
  width: 96%;
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  margin: 0 24px;
  font-size: 18px;
  justify-content: space-between;
  // border-top: 0.6px solid var(--grey);
  border-bottom: 1.5px solid var(--grey);
}


.header, .order-container{
    .id{
      flex: 6%;
    }
    .product{
      text-align: start;
      flex: 30%;
    }
    .price{
      text-align: center;
      flex: 15%
    }
    .adaos{
      text-align: center;
      flex: 15%;
    }
    .status{
      text-align: center;
      flex: 10%;
    }
    .recipe{
      text-align: center;
      flex: 10%
    }
    .action{
      text-align: center;
      flex: 10%;
    }
}

.order-container{
  font-family: RoseReg !important;
  width: 96%;
  margin-left: 24px;
  padding: 12px 18px;
  border-bottom: 0.5px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;

  div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    ion-thumbnail{
      --border-radius: 8px;
    }
    .details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: RoseReg !important;
      margin-left: 8px;
      .name{
        color: var(--ion-color-medium);
        font-size: 16px;
      }
      .cat{
        color: var(--grey);
        font-size: 13px
      }
    }
  }
  .status{
    width: 100%;
    justify-content: center;
  }
}

.green{
  color: var(--green);
}
.red{
  color: var(--red);
}


.searchbar-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 97.5%;
  margin-left: 16px;
  ion-searchbar{
    flex: 50%;
    font-family: RoseReg !important;
    --box-shadow: none !important;
    --background: var(--light-grey);
    color: var(--dark);
  }

}

.main-selected{
  background-color: var(--sand) !important;
}

.cat-selected{
  background-color: var(--blue) !important;
}





// ion-content, ion-toolbar{
//   --background: var(--ion-color-tertiary) !important;
// }

// ion-searchbar{
//   font-family: NoirProReg !important;
//   padding: 8px;
//   --background: var(--ion-color-light);
// }

// ion-select{
//   font-family: NoirProReg !important;
// }





// #header{
//   font-size: 17px;
//   font-weight: 500;
//   margin-bottom: 8px;
//   .name{
//     cursor: pointer;
//   }
//   .price-prod{
//     cursor: pointer;
//   }
//   .sale-price{
//     cursor: pointer;
//   }
//   .price{
//     cursor: pointer;
//   }
//   .recipe{
//     cursor: pointer;
//   }
// }

// ion-label{
//   font-family: NoirProReg !important;
// }

// .selected{
//   background-color: var(--ion-color-medium);
//   color: var(--ion-color-light);
//   padding: 6px 2px;
// }

// .input{
//   height: 45px;
//   box-shadow:
//   0 -2px 4px rgba(0, 0, 0, 0.1),
//   0 2px 4px rgba(0, 0, 0, 0.1);
//   margin: 0.1rem 0 0.1rem 0rem;
//   background-color: var(--ion-color-light);
//   border-radius: 8px;
// }

// img{
//   height: 25px;
//   cursor: pointer
// }


// .input-wrapper{
//   display: flex;
//   flex-direction: row;
// }

//  .product-container{
//   display: flex;
//   flex-direction: row;
// .container{
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   text-align: center;
//   flex:92%;
//   padding-left: 12px;
//   .nr{
//     flex: 2%;
//     text-align: start !important;
//   }
//   .name{
//     flex: 16%;
//     text-align: start !important;
//   }
//   .mainCat{
//     flex: 15%;
//     text-align: start !important;
//   }
//   .cat{
//     flex: 15%;
//     text-align: start !important;
//   }
//   .dep{
//     flex: 10%;
//     text-align: start !important;
//   }
//   .tva{
//     flex: 7%;
//     text-align: start !important;
//   }
//   .price-prod{
//     flex: 8%;
//     text-align: start !important;
//   }
//   .sale-price{
//     flex: 8%;
//     text-align: start !important;
//   }
//   .price{
//     flex: 8%;
//     text-align: start !important;
//   }
//   .recipe{
//     flex: 3%;
//     text-align: start !important;
//     ion-icon{
//       font-size: 22px !important;
//     }
//   }

//   .edit{
//     flex: 4%;
//     text-align: start !important;
//     font-size: 24px !important;
//   }

//   .delete{
//     flex: 4%;
//     text-align: start !important;
//     font-size: 24px !important;
//   }
//   }
//   .status-wrapper{
//    flex: 8%;
//     text-align: center;
//     .status{
//       margin-right: 20px;
//     }
//   }
//   .toggle-wrapper{
//     flex: 8%;
//     --background: var(--ion-color-light) !important;
//     display: flex;
//     span{
//       font-size: 11px;
//       margin-left: 8px;
//     }
//   }
//  }

// .sub-container{
//   margin-left: 2rem;
//   ion-item{
//     ion-label{
//       font-size: 13px;
//     }
//   }
// }

// .product{
//   cursor: pointer;
// }

// .product:hover{
//   --background: var(--ion-color-medium-shade);
// }

// // app-spinner{
// //   background-color: #fbf0e7;
// //   height: 100vh;
// //   display: flex;
// //   flex-direction: column;
// //   justify-content: center;
// // }

// .spinner-container{
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

