ion-content{
  --background: var(--background-color) !important;
}


.product-item{
  padding: 14px;
  border-radius: 2px;
  margin: 1rem 0 0.5rem 0;
  box-shadow:
  0 -4px 8px rgba(0, 0, 0, 0.1),
  0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-light);
  height: fit-content !important;
  font-family: NoirProSemi !important;
  cursor: pointer;
  ion-thumbnail{
    height: 35px;
    width: 35px;
  }
  .prod-name{
    flex: 40%;
    margin-left: 18px;
    font-size: 13px;
    #p-name{
      text-transform: uppercase;

    }
    .toppings-wrapper{
      margin-left: 10%;
      span{
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  .prod-price{
    font-size: 16px !important;
    flex: 10%
  }
    .buttons-wrapper{
      flex: 6%;
      display: flex;
      align-items: center;
      .prod-qty{
        font-size: 16px !important;
      }
      .button{
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px, solid, var(--ion-color-medium);
        border-radius: 50%;
        user-select: none;
        font-family: NoirProSemi !important;
        margin: 0 8px;
        height: 30px !important;
        width: 30px !important;
      }
      .button:active{
        background-color: #f0f0f0;
      }
    }

  .price-wrapper{
    flex: 10%;
    display: flex;
    flex-direction: column;
    .prod-total{
      font-size: 14px !important;
      text-align: center;
    }
    .prod-discount{
      font-size: 15px;
      font-family: NoirProReg !important;
      color: red;
      text-align: center;
      margin-left: 18px;
    }
  }
  .prod-qty{
    flex: 20%;
    text-align: center;
  }

  .prod-total{
    flex: 20%;
    text-align: end;
  }
  #trash{
    font-size: 28px;
  }
}


  .buttons-container{
    box-shadow:
    0 -4px 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 12px;
    padding: 24px 18px 8px 18px;
    background:  var(--ion-color-light);
    font-family: NoirProSemi !important;
    .bill-total-row{
      .value{
        text-align: end;
        font-size: 24px;
      }

      .label{
        font-size: 26px;
      }
    }

    .bill-extra-row{
      .label{
        font-size: 16px;
      }
      .value{
        text-align: end;
        font-size: 16px;
      }
    }
  }


  @media(max-width: 1200px){
    .product-item{
      ion-thumbnail{
        height: 40px !important;
        width: 40px !important;
      }
      padding: 8px !important;
      .prod-name{
        flex: 35% !important;
        margin-left: 10px !important;
        #p-name{
         font-size: 10px !important;
        }
        .toppings-wrapper{
          margin-left: 6%;
          span{
            font-family: NoirProReg !important;
            font-size: 8px !important;
          }
        }
      }
      .prod-price{
        font-size: 18px !important;
      }
        .buttons-wrapper{
          flex: 6%;
          .prod-qty{
            font-size: 18px !important;
          }
        }
      .price-wrapper{
        .prod-total{
          font-size: 18px !important;
        }
        .prod-discount{
          font-size: 12px !important;
          margin-left: 12px !important;
        }
      }
      .trash{
        height: 12px !important;
      }
    }

    .buttons-container{
      margin-top: 8px;
      padding: 10px 8px 2px 8px;
      .bill-total-row{
        .value{
          font-size: 22px;
        }

        .label{
          font-size: 18px;
        }
      }
      .bill-extra-row{
        .label{
          font-family: NoirProReg !important;
          font-size: 14px;
        }
        .value{
          font-size: 16px;
        }
      }
    }

  }

  @media(max-width: 900px){
    .product-item{
    .prod-price{
      display: none !important;
    }
    .prod-name{
      flex: 50% !important;
    }
    .prod-price{
      font-size: 18px !important;
    }
      .buttons-wrapper{
        .prod-qty{
          font-size: 14px !important;
        }
      }
      .price-wrapper{
        .prod-total{
          font-size: 14px !important;
        }
        .prod-discount{
          font-size: 9px !important;
          margin-left: 9px !important;
        }
      }
      #trash{
        display: none !important;
      }
    }
  }
