ion-content{
  --background: var(--background-color) !important;
}




.product-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  padding: 10px;
  background-color: rgba(var(--sand-rgb), 0.1);
  border-radius: 4px;
  font-family: RoseReg !important;
  font-size: 16px;
  color: var(--orange-contrast1) !important;
  cursor: pointer;
  ion-thumbnail{
    height: 45px;
    width: 45px;
  }
  .prod-name{
    flex: 40%;
    margin-left: 18px;

    #p-name{
      font-size: 14px;
      text-transform: uppercase;
    }
    .toppings-wrapper{
      margin-left: 10%;
      span{
        font-family: RoseLight !important;
        font-size: 13px;
      }
    }
  }
  .prod-price{
    flex: 10%;
  }
  .buttons-wrapper{
      flex: 20%;
      display: flex;
      align-items: center;
      .prod-qty{
        flex: 30%;
        text-align: center;
      }
      .button{
        flex: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;
        overflow: hidden;
        background-color: rgba(var(--sand-rgb), 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-family: RoseLight !important;
        font-size: 32px;
      }
    }

  .price-wrapper{
    flex: 10%;
    display: flex;
    flex-direction: column;
    .prod-total{
      flex: 20%;
      text-align: center;
    }
    .prod-discount{
      font-family: RoseLight !important;
      font-size: 15px;
      color: red;
      margin-left: 18px;
      text-align: center;
    }
    #trash{
      font-size: 28px;
    }
  }



}

.print{
  background-color: rgba(var(--sand-rgb), 0.3);
    box-shadow:
  0 -1px 2px rgba(0, 0, 0, 0.1),
  0 1px 2px rgba(0, 0, 0, 0.1);
  border: none !important;
}


  .buttons-container{
    background-color:  rgba(var(--orange-rgb), 0.5);
    border-radius: 4px;
    margin-top: 12px;
    padding: 24px 18px 8px 18px;
    font-family: RoseMed!important;
    .bill-total-row{
      .value{
        text-align: end;
        font-size: 24px;
      }

      .label{
        font-size: 26px;
      }
    }

    .bill-extra-row{
      .label{
        font-size: 16px;
      }
      .value{
        text-align: end;
        font-size: 16px;
      }
    }
  }


  @media(max-width: 1200px){
    .product-item{
      ion-thumbnail{
        height: 40px !important;
        width: 40px !important;
      }
      padding: 8px !important;
      .prod-name{
        flex: 35% !important;
        margin-left: 10px !important;
        #p-name{
         font-size: 10px !important;
        }
        .toppings-wrapper{
          margin-left: 6%;
          span{
            font-family: NoirProReg !important;
            font-size: 8px !important;
          }
        }
      }
      .prod-price{
        font-size: 18px !important;
      }
        .buttons-wrapper{
          flex: 6%;
          .prod-qty{
            font-size: 18px !important;
          }
        }
      .price-wrapper{
        .prod-total{
          font-size: 18px !important;
        }
        .prod-discount{
          font-size: 12px !important;
          margin-left: 12px !important;
        }
      }
      .trash{
        height: 12px !important;
      }
    }

    .buttons-container{
      margin-top: 8px;
      padding: 10px 8px 2px 8px;
      .bill-total-row{
        .value{
          font-size: 22px;
        }

        .label{
          font-size: 18px;
        }
      }
      .bill-extra-row{
        .label{
          font-family: NoirProReg !important;
          font-size: 14px;
        }
        .value{
          font-size: 16px;
        }
      }
    }

  }

  @media(max-width: 900px){
    .product-item{
    .prod-price{
      display: none !important;
    }
    .prod-name{
      flex: 50% !important;
    }
    .prod-price{
      font-size: 18px !important;
    }
      .buttons-wrapper{
        .prod-qty{
          font-size: 14px !important;
        }
      }
      .price-wrapper{
        .prod-total{
          font-size: 14px !important;
        }
        .prod-discount{
          font-size: 9px !important;
          margin-left: 9px !important;
        }
      }
      #trash{
        display: none !important;
      }
    }
  }
