ion-toolbar, ion-content, ion-list, ion-header, ion-item{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}
ion-searchbar{
  padding: 8px 0 !important;
  font-family: RoseReg !important;
  --box-shadow: none !important;
  --background: rgba(var(--ion-color-medium-rgb), 0.1);
}
.header{
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  margin: 0;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1.5px solid rgba(var(--ion-color-medium-rgb), 0.6);
}
.card-toolbar{
  margin: 0 28px;
  width: 96%;
}
.header, .order-container{
    .id{
      flex: 5%;
    }
    .product{
      text-align: start;
      flex: 30%;
    }
    .qty{
      text-align: center;
      flex: 15%
    }
    .disc{
      text-align: center;
      flex: 10%;
    }
    .total{
      text-align: center;
      flex: 15%;
    }
    .profit{
      text-align: center;
      flex: 15%
    }
    .ad{
      text-align: center;
      flex: 10%;
    }
}
.order-container{
  font-family: RoseReg !important;
  margin: 0 28px;
  width: 96%;
  padding: 12px 18px;
  border-bottom: 0.5px solid rgba(var(--ion-color-medium-rgb), 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    ion-thumbnail{
      --border-radius: 8px;
    }
    .details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: RoseReg !important;
      margin-left: 8px;
      .name{
        color: var(--ion-color-medium);
        font-size: 16px;
      }
      .cat{
        color: var(--grey);
        font-size: 13px
      }
    }
  }
}
.order-container:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05) !important;;
}
ion-card{
  cursor: pointer;
  margin: 6px 0 !important;
  width: 98%;
  box-shadow: none !important;
  border-radius: 0 !important;
  ion-card-title, ion-card-subtitle, p{
    color: var(--ion-color-medium);
  }

  ion-card-subtitle{
    font-family: RoseReg !important;
    font-size: 16px;
  }
  ion-card-title{
    font-family: RoseMed !important;
    font-size: 24px;
  }
  ion-card-content{
    ion-icon{
      padding: 6px;
      border-radius: 50%;
      font-size: 16px;
      color: var(--white) !important;
      position: absolute;
      top: 0;
      right: 5px;
    }
    ion-note{
      font-family: RoseMed !important;
      font-size: 12px;
      color: rgba(var(--ion-color-medium-rgb), 0.6);
    }
     p{
      font-family: RoseMed;
      display: inline;
      margin-right: 4px;
      font-size: 12px;
      color: var(--green-contrast)
    }
  }
}
.labels-container{
  display: flex;
  flex-direction: column;
  .count-label p{
    color: var(--orange-contrast) !important;
  }
  .profit-label p{
    font-size: 16px;
  }
}
#turq{
  --background: var(--light-turqoise);
  ion-card-content{
    ion-icon{
      background-color: var(--turqoise);
    }
  }
}

#green{
  --background: var(--light-green);
  ion-card-content{
    ion-icon{
      background-color: var(--green);
    }
  }
}
#sand{
  --background: var(--light-sand);
  ion-card-content{
    ion-icon{
      background-color: var(--sand);
    }
  }
}
#blue{
  --background: var(--light-blue);
  ion-card-content{
    ion-icon{
      background-color: var(--blue);
    }
  }
}
#orange{
  --background: var(--light-orange);
  ion-card-content{
    ion-icon{
      background-color: var(--orange);
    }
  }
}
#red{
  --background: var(--light-red);
  ion-card-content{
    ion-icon{
      background-color: var(--red);
    }
  }
}




