<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ingredient.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-item lines="none" class="input">
      <ion-select [(ngModel)]="mode" label="Salvează ca..">
        <ion-select-option value="ingredient">Ingredient în rețetă</ion-select-option>
        <ion-select-option value="topping">Topping extra</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="input">
      <ion-input [label]="'Alege cantitatea' + ' ' + '/' + ' ' + (ingredient.um | capitalize)" labelPlacement="floating" type="number" [(ngModel)]="qty" #ingInputQty></ion-input>
    </ion-item>
    <ion-item *ngIf="mode === 'topping'" lines="none" class="input">
      <ion-input label="Alege preț vanzare topping" labelPlacement="floating" type="number" [(ngModel)]="toppingPrice"></ion-input>
    </ion-item>
    <ion-button id="submit" expand="block" (click)="saveData()">Adaugă</ion-button>
  </ion-list>
</ion-content>

