<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <div class="title-wrapper">
      <div class="title">{{ingredient.name}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content (keyup.enter)="saveData()">
  <ion-list class="list">
    <ion-item lines="none" class="input">
      <ion-select [(ngModel)]="mode" label="Salvează ca..">
        <ion-select-option value="ingredient" >Ingredient în rețetă</ion-select-option>
        <ion-select-option value="topping" >Topping extra</ion-select-option>
      </ion-select>
    </ion-item>
    <div  class="input">
      <ion-input [label]="'Alege cantitatea' + ' ' + '/' + ' ' + (ingredient.um | capitalize)" labelPlacement="floating" type="number" [(ngModel)]="qty" #ingInputQty></ion-input>
    </div>
    <div *ngIf="mode === 'topping'"  class="input">
      <ion-input label="Alege preț vanzare topping" labelPlacement="floating" type="number" [(ngModel)]="toppingPrice" ></ion-input>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="dismissModal()" size="large" expand="block" color="light" >RENUNȚĂ</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button id="submit" size="large" expand="block" (click)="saveData()" color="medium">ADAUGĂ</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

