ion-content, ion-toolbar, ion-footer, ion-list{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}


ion-title, span, ion-item, ion-input, ion-select{
  font-family: RoseMed !important;
}

ion-button{
  font-family: RoseMed !important;
  --border-width: 1px;
}



.list{
  margin-top: 2rem;
  padding: 3rem;
}



.title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: RoseMed !important;
    text-align: center;
    background-color: var(--background-color);
    padding: 18px;
    color: var(--ion-color-medium);
    font-size: 24px;
    margin-top: 8px;
  }
}

.input{
  border-radius: 6px;
  margin: 1rem 0 0.5rem 0.5rem;
  padding-left: 12px;
  ion-input, ion-select{
    --border-width: 1.5px;
  }
}
