ion-content, ion-toolbar, ion-footer, ion-list{
  --background: var(--ion-color-tertiary) !important;
  background-color: var(--ion-color-tertiary) !important;
}


ion-title, span, ion-item, ion-input{
  font-family: NoirProReg !important;
}

ion-button{
  font-family: NoirProSemi !important;
}



.list{
  margin-top: 2rem;
  padding: 3rem;
}



.title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: NoirProSemi !important;
    text-align: center;
    background-color: var(--ion-color-medium);
    padding: 18px;
    color: var(--ion-color-light);
    font-size: 24px;
    margin-top: 8px;
  }
}

.input{
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--ion-color-light);
  margin: 1rem 0 0.5rem 0.5rem;
  padding-left: 12px;
}
