ion-header, ion-content, ion-toolbar{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}




.input, .header{
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .nr{
    flex: 5%
  }
  .data{
    flex: 20%;
  }
  .name{
     flex: 15%
  }
  .suplier{
    flex: 35%;
  }
  .desc{
    flex: 65%;
  }
  .qty{
    flex: 15%;
    text-align: center;
  }
  .total{
    flex: 10%;
    text-align: start;
  }

}


.header{
  font-family: RoseMed !important;
  border-bottom: 1.2px solid var(--grey)
}

.input{
  font-family: RoseLight !important;
}


.input:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
  .nr, .data, .name, .suplier, .desc, .qty, .total{
    font-family: RoseReg !important;
  }
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}


