


ion-content, ion-toolbar{
  --background: var(--background-color) !important;
}



.header, .total-wrapper{
  width: 96%;
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  margin: 0 24px;
  font-size: 18px;
  border-bottom: 1.2px solid rgba(var(--ion-color-medium-rgb), 0.6);
  font-family: RoseMed !important;
  .type{
    padding-left: 18px !important;
  }
}


.input{
  cursor: pointer;
  width: 96%;
  font-family: RoseReg !important;
  display: flex;
  padding: 10px 18px;
  margin: 0 24px;
  align-items: center;
  font-size: 16px;
  font-family: RoseLight !important;
}

.total-wrapper{
  border-top: 1.2px solid rgba(var(--ion-color-medium-rgb), 0.6);
  .label{
    flex: 75%;
  }
  .value{
    flex: 25%;
  }
}


.header, .input{
    .nr{
      flex: 10%;
    }
    .date{
      flex: 35%;
    }
    .type{
      flex: 30%;
    }
    .value{
      flex: 20%
    }
    .action{
      text-align: center;
      flex: 5%
    }
}

.input:hover{
  background-color:rgba(var(--ion-color-medium-rgb), 0.15);
  span{
    font-family: RoseMed !important;
    color: var(--ion-color-medium) !important;
    font-size: 17px !important;
  }
  ion-icon{
    font-size: 22px !important;
  }
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}
