<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border toolbar">
      <ion-title slot="start">Plăți -- {{userName}} --</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="close()">
          <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <div class="header">
        <span class="nr">Nr</span>
        <span class="date">Data</span>
        <span class="type">Tip</span>
        <span class="value">Valoare</span>
        <span class="action">Action</span>
      </div>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="input" *ngFor="let log of logs; let i = index" [ngClass]="{'odd': i % 2 !== 0}">
    <span class="nr">#{{i+1}}</span>
    <span class="date">{{formatDateInHtml(log.date)}}</span>
    <span class="type">{{log.tip}}</span>
    <span class="value">{{log.amount}} Lei</span>
    <ion-icon class="action" src="../../../../assets/icon/trash-outline.svg" (click)="deleteLog(log._id, userID)"></ion-icon>
  </div>
  <div class="total-wrapper">
    <span class="label">Total încasat</span>
    <span class="value">{{total}} Lei</span>
  </div>
</ion-content>
