
ion-content, ion-toolbar{
  --background: #fbf0e7 !important;
}

span{
  font-family: NoirProReg !important;
}

ion-searchbar{
  padding: 0 36px!important;
}

ion-button, .font{
  font-family: NoirProSemi !important;
}

.icon-start{
  height: 18px;
  margin-left: 4px;
  color: white !important;
}

.icon-end{
  height: 19px;
  margin-left: 4px;
  color: white !important;
}

.header-buttons{
  display: flex;
  align-items: center;
}

.nir-entry{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 24px;
  .nr{
    flex: 2%;
  }
  .date{
    text-align: center;
    flex: 30%;
  }
  .suplier{
    text-align: left;
    flex: 30%;
  }
  .docNumber{
    text-align: left;
    flex: 10%;
  }
}

.spinner-container{
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input:hover{
  --background: var(--ion-color-medium-shade);
}

.data{
  flex: 8%;
  text-align: center;
}

.input{
  height: 45px;
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  margin: 0.5rem 0 0.1rem 0.2rem;
  font-family: NoirProReg !important;
}

.display-date{
  display: flex;
  width: 300px;
  height: 38px;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  padding: 10px;
  margin: 0.5rem 0.5rem 0.5rem 0.7rem;
}

.start{
  margin-left: 12px;
}
