
ion-content{
  --background: var(--ion-color-tertiary);
}

span{
  font-family: NoirProReg !important;
}

.icon-start{
  height: 18px;
  margin-left: 4px;
}

.icon-end{
  height: 19px;
  margin-left: 4px;
}
.add{
  height: 35px;
}

.nir-entry{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  .nr{
    flex: 2%;
  }
  .date{
    text-align: center;
    flex: 30%;
  }
  .suplier{
    text-align: left;
    flex: 30%;
  }
  .docNumber{
    text-align: left;
    flex: 15%;
  }
  .total{
    flex: 5%;
  }
}

.cash{
  height: 90px;
}

// .input:hover{
//   --background: var(--ion-color-medium);
// }

.data{
  flex: 8%;
  text-align: center;
}

.input{
  height: 45px;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  margin: 0.5rem 0 0.1rem 0.2rem;
  font-family: NoirProReg !important;
}

.display-date{
  height: 45px;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  padding: 10px;
  margin: 0.5rem 0 0.1rem 0.2rem;
}

.start{
  margin-left: 12px;
}

ion-item[slot="fixed"]{
  top: 8%;
  width: 100%;
  opacity: 60%;
  // --backgound: transparent;
}
