<ion-menu-button>
  <ion-icon [src]=" menuOpen ? '../../../assets/icon/chevron-double-left.svg' : 'assets/icon/chevron-double-right.svg'"  size="large"></ion-icon>
</ion-menu-button>


<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border header-toolbar">
      <ion-title slot="start">Documente</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="addNir()">
          <ion-icon size="large" src="../../../assets/icon/add-outline.svg"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="openDateModal(true)">
          <ion-icon size="large" src="../../../assets/icon/shedule.svg"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="eFactura()">
          <ion-icon size="large" src="../../../assets/icon/cloud-outline.svg"></ion-icon>
        </ion-button>
        <ion-badge>{{newBills}}</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  <ion-toolbar>
    <div class="searchbar-wrapper">
      <ion-searchbar  mode="md" [(ngModel)]="nirSearch"  placeholder="Caută document după furnizor..."  (ionInput)="searchNir($event)" #searchbar>
      </ion-searchbar>

      <ion-button  (click)="selectSuplier()"  fill="outline" mode="md" color="medium">
        Alege furnizor
      </ion-button>

      <ion-button (click)="paySelectedNirs()"  fill="outline" mode="md" [disabled]="selectedNirs.length < 2" color="medium">
        Plătește
      </ion-button>

      <ion-button  (click)="mergeNir()" fill="outline" mode="md" [disabled]="selectedNirs.length < 2" color="medium">
        Unește
      </ion-button>

      <div class="total-wrapper" *ngIf="totalDue > 0">
        <span class="tot"> {{totalDue}} Lei</span>
      </div>
    </div>

  </ion-toolbar>
  <ion-toolbar>
    <div class="header">
      <span class="id">
        Nr
      </span>
      <span class="suplier" (click)="suplier()">
        Furnizor
        <ion-icon src="assets/icon/arrows-down.svg"  [color]="suplierColor"></ion-icon>
      </span>
      <span class="date" (click)="date()">
        Dată
        <ion-icon src="assets/icon/arrows-down.svg"  [color]="dateColor"></ion-icon>
      </span>
      <span class="total" (click)="total()">
        Total
        <ion-icon src="assets/icon/arrows-down.svg"  [color]="totalColor"></ion-icon>
      </span>
      <span class="doc">Nr. Document</span>
      <span class="days" (click)="dueDays()">
        Zile Întârziere
        <ion-icon src="assets/icon/arrows-down.svg"  [color]="dueDaysColor"></ion-icon>
      </span>
      <span class="merge">Sel</span>
      <span class="action">Action</span>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="nir-container input"  *ngFor="let nir of nirs; let i = index" [ngClass]="{'selected': nir.selected, 'odd': i % 2 !== 0 }">
    <span class="id">#{{i+1}}</span>
    <span class="suplier">{{nir.suplier.name}}</span>
    <span class="date">{{formatedDate(nir.documentDate)}}</span>
    <span class="total">{{roundInHtml(nir.totalDoc)}} Lei</span>
    <span class="doc">{{nir.nrDoc}}</span>
    <div class="days">
      <span  class="label" [ngClass]="{'green': nir.payd, 'red': !nir.payd }" >{{ nir.payd ? 'Platit' : ' - ' + showDoDate(nir.documentDate) + ' Zile'}}</span>
      <ion-button *ngIf="nir.payd" (click)="payNir(nir, i)" fill="clear" color="medium">
        <ion-icon src="../../../assets/icon/success.svg"  color="success"></ion-icon>
      </ion-button>
      <ion-button class="payd" *ngIf="!nir.payd" (click)="payNir(nir, i)" fill="clear" color="medium">
        <ion-icon src="../../../assets/icon/not.svg"  color="danger"></ion-icon>
      </ion-button>
    </div>
    <ion-button class="merge" fill="clear" (click)="selectNir(nir)" color="medium">
      <ion-icon  src="../../../assets/icon/hug.svg" ></ion-icon>
    </ion-button>
    <ion-button class="action" (click)="editNir(nir._id)" fill="clear"color="medium">
      <ion-icon  src="../../assets/icon/eye-outline.svg"></ion-icon>
    </ion-button>
  </div>
</ion-content>

