<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border header-toolbar">
    <ion-title slot="start">{{productIngredient.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="deleteIng()">
        <ion-icon src="../../../../assets/icon/trash-outline.svg" color="medium" size="large"></ion-icon>
      </ion-button>
      <ion-button fill="outline" (click)="close()">
        <ion-icon src="../../../../assets/icon/close-outline.svg" color="medium" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="section-label">
          <span class="label-title">Salvează Datele</span>
          <span class="label-sub-title">Completează / editează informațiile ingredientului compus.</span>
        </div>
      </ion-col>
      <ion-col size="7.5">
        <app-recipe-maker
        (out)="out($event)"
        [ingPage]="false"
        [hideIng]="false"
        [ings]="ingredientsToSend"
        [product]="productIngredient"
        >
        </app-recipe-maker>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



