
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">

    <div class="title-wrapper">
      <div class="title">EDITEAZĂ INGREDIENTUL COMPUS</div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none" color="transparent">
    <ion-icon src="assets/icon/art.svg" alt=""  (click)="switchMode()" color="medium" size="large" class="searcbar-icon"></ion-icon>
    <ion-searchbar mode="ios" [(ngModel)]="ingredientSearch"  placeholder="Caută Ingredient"  (ionInput)="searchIngredient($event)" [disabled]="isLoading">
    </ion-searchbar>
    <ion-icon src="assets/icon/add-circle.svg"  (click)="addIng()" color="medium" size="large" class="searcbar-icon"></ion-icon>
  </ion-item>
  <ion-item *ngFor="let ing of ingredients; let i = index" class="ing-name" (click)="selectIngredient(ing)" [ngClass]="{'prod-ing': ing.productIngredient}">
    <div>
      <span class="name">{{ing.name}}</span>
      <div class="ing-info-wrapper">
        <span class="ing-info">Gestiune:</span>
        <span class="ing-info-gest">{{ing.gestiune}}</span>
        <span class="ing-info-stoc">{{"Stoc: " + ing.qty + ' ' + ing.um}}</span>
      </div>
    </div>
  </ion-item>
  <ion-item lines="none"  *ngIf="productIngredientMode" color="transparent">
    <div class="input1">
      <ion-input  type="text" label="Nume" labelPlacement="floating" [(ngModel)]="productIngName"></ion-input>
    </div>
    <div class="input1">
      <ion-input  type="text" label="UM" labelPlacement="floating" [(ngModel)]="productIngUm"></ion-input>
    </div>
    <div class="input1">
      <ion-input type="text" label="Cantitate" labelPlacement="floating" [(ngModel)]="productIngQty"></ion-input>
    </div>
    <div class="select">
      <ion-select label="Gestiune" labelPlacement="floating" placeholder="Gestiune" [(ngModel)]="productIngGest">
        <ion-select-option value="magazie">Magazie</ion-select-option>
        <ion-select-option value="bucatarie">Bucătărie</ion-select-option>
        <ion-select-option value="bar">Bar</ion-select-option>
      </ion-select>
    </div>
    <div class="select">
      <ion-select label="Departament" labelPlacement="floating" placeholder="Departament" [(ngModel)]="productIngDep">
        <ion-select-option value="marfa">Marfa</ion-select-option>
        <ion-select-option value="materie">Materie</ion-select-option>
        <ion-select-option value="consumabile">Consumabile</ion-select-option>
      </ion-select>
    </div>
  </ion-item>
  <h1 class="ion-text-center subtitle"  *ngIf="displayIngs.length">Rețetă produs</h1>
  <div class="content-container" *ngIf="displayIngs.length">
    <span class="name">Nume</span>
    <span class="gestiune">Gestiune</span>
    <span class="cant" style="margin-right: 15px;">Cantitate / Preț</span>
    <span class="price">Valoare</span>
  </div>
  <div  *ngFor="let ing of displayIngs; let i = index" class="content-container input2">
    <span class="name">{{ing.ing.name}}</span>
    <span class="gestiune">{{ing.ing.gestiune}}</span>
    <span class="cant">{{ing.qty + ' '+ ing.ing.um + ' ' + 'X' + ' ' + ing.ing.price}} Lei</span>
    <span class="price">{{round(ing.ing.price * ing.qty)}} Lei</span>
    <ion-buttons slot="end">
      <ion-button color="medium" fill="clear" class="trash" (click)="deleteIng(i)">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352"/><path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="recipe-wrapper">
    <ion-textarea class="recipe" [(ngModel)]="recipe" placeholder="Descrie modul de preparare" label="Mod de preparare" labelPlacement="floating"></ion-textarea>
  </div>
  <div *ngIf="displayIngs.length" class="content-container total">
    <span class="total">Total Rețetă</span>
    <span class="total-price">{{round(recipeTotal)}} Lei</span>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-button
  size="large"
  expland="block"
  style="width: 100%;"
  color="medium"
  (click)="saveProdIng()"
  *ngIf="productIngredientMode"
  [disabled]="!productIngName.length || !productIngUm.length || !productIngQty.length || !displayIngs.length">
  SALVEAZĂ INGREDIENTUL COMPUS
</ion-button>
</ion-footer>
