
ion-content, ion-toolbar, ion-footer{
  --background: var(--background-color) !important;
  background-color: var(--background-color);
}


 ion-title, span, ion-item, ion-input, ion-select, ion-searchbar{
  font-family: RoseMed !important;
}
 

.header-toolbar{
  padding: 24px 0 12px 0;
  margin-left: 48px;
  width: 92%;
  border-bottom: 1.2px solid var(--grey);
  ion-title{
    font-size: 36px;
  }
  ion-buttons{
    ion-button{
      --padding-bottom: 14px;
      --padding-end: 14px;
      --padding-top: 14px;
      --padding-start: 14px;
      --border-radius: 50%;
      --border-width: 1px;
      margin-right: 12px;
    }
  }
}

.footer-button{
  margin: 12px 24px !important;
}

.section-label{
  padding: 24px 0 0 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .label-title{
    font-size: 24px;
  }
  .label-sub-title{
    font-size: 14px;
    color: var(--grey)
  }
}




