<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'table-content-mobile/'+ tableNumber +'/tabs/' + backTab" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{categoryName}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="5" offset-lg="3.5">
        <div lines="none" *ngFor="let product of products; let i = index" class="product-item" (click)="addToBill(product)">
          <div class="product">
            <img [src]="product.image.path" class="prod-img">
            <span class="prod-name">{{product.name}}</span>
            <span class="price">{{product.price}} Lei</span>
          </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
