
ion-content, ion-toolbar, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color);
}





.header-toolbar{
  padding: 24px 0 12px 0;
  margin: 0 66px 0 46px;
  border-bottom: 1.2px solid var(--grey);
  ion-toolbar{
    ion-title{
      font-family: RoseMed !important;
      font-size: 36px;
    }
    ion-buttons{
      ion-button{
        --padding-bottom: 16px;
        --padding-end: 16px;
        --padding-top: 16px;
        --padding-start: 16px;
        --border-radius: 50%;
        --border-width: 2px;
        margin-right: 12px;
      }
    }
  }
}

.second-toolbar{
  margin: 0 56px 0 36px;
}


.header{
  font-family: RoseMed !important;
  font-size: 16px !important;
  margin-top: 12px;
  padding-bottom: 1rem !important;
}



.header{
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 8px;
  margin: 0 66px 0 46px;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--grey);
}


.header, .order-container{
    .id{
      flex: 5%;
    }
    .date{
      flex: 20%;
    }
    .items{
      text-align: center;
      flex: 10%;
    }
    .order-total{
      text-align: center;
      flex: 15%;
    }
    .cash-back{
      text-align: center;
      flex: 10%;
    }
    .discount{
      text-align: center;
      flex: 10%
    }
    .total{
      text-align: center;
      flex: 10%;
    }
    .pay-method{
      text-align: center;
      flex: 15%
    }
}
.order-container{
  cursor: pointer;
  font-family: RoseLight !important;
  margin: 0 66px 0 46px;
  padding: 10px 8px;
  border-bottom: 0.5px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.party{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.1rem 0;
  font-size: 22px;
  padding: 10px;
  border: 1.5px solid var(--grey);
  border-radius: 6px;
  height: 100%;
  font-family: RoseMed !important;
  .name{
      width: 100%;
      display: flex;
      flex-direction: column;
      .label{
          flex: 20%;
          text-align: center;
          font-size: 14px !important;
          margin-bottom: 5px;
      }
      .value{
          flex: 80%;
          text-align: center;
      }
  }
}

.order-container:hover{
  background-color: var(--light-grey);
  span{
    color: var(--dark) !important;
    font-family: RoseReg !important;
  }
}



