


<ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border header-toolbar">
        <ion-title slot="start" *ngIf="user">{{user.name | capitalize}}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="outline" (click)="editUser()">
            <ion-icon size="large" src="../../../assets/icon/create-outline.svg"></ion-icon>
          </ion-button>
          <ion-button fill="outline" (click)="addDiscount()">
            <ion-icon size="large" src="../../../assets/icon/percent-outline.svg"></ion-icon>
          </ion-button>
          <ion-button fill="outline" (click)="deleteUser()">
            <ion-icon size="large" src="../../../assets/icon/trash-outline.svg"></ion-icon>
          </ion-button>
          <ion-button fill="outline" (click)="goBack()">
            <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="second-toolbar" *ngIf="user">
      <ion-toolbar>
        <ion-grid style="padding: 8px 0 !important;">
          <ion-row>
            <ion-col size="4" class="ion-no-padding">
              <div class="party">
                <div class="name">
                  <span class="label">E-mail:</span>
                  <span class="value">{{user.email}}</span>
                </div>
              </div>
            </ion-col>

            <ion-col size="2" class="ion-no-padding">
              <div class="party">
                <div class="name">
                  <span class="label">Telefon</span>
                  <span class="value">{{user.telephone}}</span>
                </div>
              </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div class="party">
                <div class="name" *ngIf="user.orders">
                  <span class="label">Comenzi</span>
                  <span class="value">{{user.orders.length}}</span>
                </div>
              </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div class="party">
                <div class="name">
                  <span class="label">Cheltuit (Lei)</span>
                  <span class="value">{{total}}</span>
                </div>
              </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div class="party">
                <div class="name">
                  <span class="label">Discount (Lei)</span>
                  <span class="value">{{discount + cashBack}}</span>
                </div>
              </div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div class="party">
                <div class="name">
                  <span class="label">CashBack (Lei)</span>
                  <span class="value">{{user.cashBack}}</span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </div>
    <ion-toolbar>
      <div class="header">
        <span class="id">Nr</span>
        <span class="date">Dată</span>
        <span class="items">Produse</span>
        <span class="order-total">Valoare Comandă</span>
        <span class="cash-back">CashBack</span>
        <span class="discount">Discount Client</span>
        <span class="total">Încasat</span>
        <span class="pay-method">Metodă de plată</span>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="user">
  <div class="order-container" *ngFor="let order of user.orders; let i = index" (click)="showOrder(order)">
    <span class="id">#{{i+1}}</span>
    <span class="date">{{formatDate(order.createdAt)}}</span>
    <span class="items">{{order.productCount}}</span>
    <span class="order-total">{{order.total + order.cashBack + order.discount}} Lei</span>
    <span class="cash-back">{{order.cashBack}} Lei </span>
    <span class="discount">{{order.discount}} Lei</span>
    <span class="total">{{order.total}} Lei</span>
    <span class="pay-method">{{order.paymentMethod}}</span>
  </div>
</ion-content>







<!-- <ion-header class="ion-no-border" *ngIf="user">
  <ion-toolbar class="ion-no-border">
      <ion-button (click)="goBack()" class="back-button" slot="start">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg"  class="icon"></ion-icon>
      </ion-button>
      <ion-button (click)="editUser()" slot="end" color="medium" size="large">
        <ion-icon src="../../../assets/icon/create-outline.svg"  class="icons" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="addDiscount()" slot="end" color="light" size="large">
        <ion-icon src="../../../assets/icon/percent-outline.svg"  class="icons" color="medium"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteUser()" slot="end" color="medium" size="large">
        <ion-icon src="../../../assets/icon/trash-outline.svg"  class="icons" color="light"></ion-icon>
      </ion-button>
      <div class="title-wrapper">
        <div class="title">{{user.name}}</div>
      </div>
</ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border" *ngIf="user">
    <ion-row>
      <ion-col>
        <ion-title class='ion-text-start'>Informații Generale</ion-title>
        <div class="input">
            <ion-label>Nume: {{user.name}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Email: {{user.email}}</ion-label>
        </div>
        <div lines="none" class="input">
          <ion-label>Telefon: {{user.telephone}}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <ion-title class='ion-text-start'>Informații Aplicație</ion-title>
        <div class="input">
            <ion-label>Cash Back: {{user.cashBack}} Lei</ion-label>
        </div>
        <div class="input">
          <ion-label>Comenzi: {{user.orders.length}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Status: {{user.status}}</ion-label>
        </div>
      </ion-col>
      <ion-col *ngIf="user.employee">
        <ion-title class='ion-text-start'>Informatii Angajat</ion-title>
        <div class="input">
            <ion-label>Nume Complet: {{user.employee.fullName}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Functie: {{user.employee.position}}</ion-label>
        </div>
        <div class="input" *ngIf="user.employee.salary">
          <ion-label>Salariu NET: {{user.employee.salary.inHeand}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Access: Level {{user.employee.access}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Stare: {{user.employee.active ? 'Activ' : 'Inactiv'}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border" *ngIf="user" style="height: 100px;">
    <div class="title-wrapper">
      <div class="title">COMENZI</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" >
<ion-grid>
  <ion-row *ngIf="user.orders.length">
    <ion-col>
      <div class="order-wrapper" *ngFor="let order of user.orders.reverse(); let i = index" (click)="showOrder(order)">
          <span class="nr">Nr. {{i+1}}</span>
          <span class="date">{{formatDate(order.createdAt)}}</span>
          <span class="prodLen">{{order.productCount}}  Produse</span>
          <span class="total">Total: {{order.total}} Lei</span>
          <span class="cashBack">{{order.cashBack}} Lei CashBack</span>
          <span class="discount">{{order.discount}} Lei Reducere</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> -->
