
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border toolbar">
    <ion-title slot="start">{{mode | capitalize}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="close()">
        <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="input" *ngFor="let user of users; let i = index;" (click)="showUser(user)" [ngClass]="{'odd': i % 2 !== 0}">
      <span class="nr">{{i+1}}.</span>
      <span class="data">{{user.name}}</span>
      <span class="discount" *ngIf="mode !== 'bonus'"> {{user.hours}} (ore)</span>
      <span class="total" *ngIf="mode === 'income'">{{roundInHtml(user.bonus + user.totalIncome)}} Lei</span>
      <span class="total" *ngIf="mode === 'tax'">{{roundInHtml(user.taxValue)}} Lei</span>
      <span class="total" *ngIf="mode === 'bonus'">{{roundInHtml(user.bonus)}} Lei</span>
      <span class="total" *ngIf="mode === 'brut'">{{roundInHtml(user.bonus + user.totalIncome + user.taxValue)}} Lei</span>
    </div>

</ion-content>
