<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button size="large" color="primary" (click)="close()">
     <ion-icon src="../../../assets/icon/close-outline.svg" class="icon"></ion-icon>
    </ion-button>
   </ion-toolbar>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item lines="none" class="header">
        <span class="nr">Nr</span>
        <span class="data">Nume</span>
        <span class="discount">Ore</span>
        <span class="total">Total</span>
      </ion-item>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col *ngIf="users && users.length">
    <ion-item lines="none" class="input" *ngFor="let user of users; let i = index;" (click)="showUser(user)">
      <span class="nr">{{i+1}}.</span>
      <span class="data">{{user.name}}</span>
      <span class="discount"> {{user.hours}}</span>
      <span class="total">{{mode ? roundInHtml(user.bonus + user.totalIncome) : roundInHtml(user.taxValue)}} Lei</span>
    </ion-item>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
