ion-header, ion-content{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}



.input{
  cursor: default;
  margin: 0.4rem 0 0.4rem 0.2rem;
  font-family: RoseLight !important;
  display: flex;
  flex-direction: row;
  padding: 6px 24px;
  .nr{
    flex: 2%
  }
  .data{
    flex: 48%;
  }
  .discount{
    flex: 20%;
    text-align: center;
  }
  .total{
    flex: 20%;
    font-family: RoseMed !important;
    text-align: end;
  }

}

.input:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
  span{
    font-family: RoseMed !important;
  }
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}


