

ion-content, ion-toolbar{
    --background: var(--ion-color-tertiary) !important;
  }
  
  .input{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 45px;
    box-shadow:
    0 -2px 4px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--ion-color-light);
    margin: 0.5rem 0 0.1rem 0.2rem;
    font-family: NoirProReg !important;
    .data{
        text-align: start;
        flex: 20%;
      }
      .suplier{
        text-align: left;
        flex: 50%;
      }
      ion-buttons{
        margin-left: auto;
        flex: 20%;
      }
      .nr{
        flex: 5%;
        text-align: left;
      }
      .name{
        flex: 35%;
        text-align: left;
      }
      .vat{
        flex: 10%;
        text-align: center;
      }
      .qty{
        flex: 10%;
        text-align: center;
      }
      .price{
        flex: 10%;
        text-align: center;
      }
      .totalNoVat{
        flex: 15%;
        text-align: center;
      }
      .totalWithVat{
        flex: 15%;
        text-align: right;
      }

  }

  .party{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }



.input:hover{
    background-color: var(--ion-color-medium-shade);
  }

  