<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border toolbar">
    <ion-title slot="start">Adaugă Server</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="cancel()">
        <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-row>
      <ion-col size-s>
        <div class="input" *ngIf="hide.name">
          <ion-input mode="ios" type="text" fill="outline" label="Nume Server" labelPlacement="floating" formControlName="name"></ion-input>
        </div>
        <div class="input" *ngIf="hide.point">
        <ion-select aria-label="entry" label="Punct de lucru" labelPlacement="floating" formControlName="salePoint">
          <ion-select-option *ngFor="let value of salePoints" [value]='value'>{{value}}</ion-select-option>
        </ion-select>
      </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button (click)="confirm()" type="submit" fill="outline" color="medium" [disabled]="!form.valid" [strong]="true" expand="block" size="large">ADAUGĂ SERVER
  </ion-button>
</ion-footer>
