ion-title{
  font-family: NoirProReg !important;
  margin-left: 30px;
}

ion-header, ion-toolbar{
    --background: var(--ion-color-light-tint) !important;
}

.horizontal-scroll {
  width: 70%;
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping to the next line */
  scrollbar-width: thin; /* Optional: Customize scrollbar width (Firefox) */
  scrollbar-color: #ccc #f0f0f0; /* Optional: Customize scrollbar colors (Firefox) */
  .first{
    margin-left: auto;
  }
}


.active-button {
  background-color: var(--ion-color-primary-shade); /* Change to your desired color */
  --background: var(--ion-color-primary-shade); /* Change to your desired color */
  color: #fff; /* Change to your desired text color */
}
