
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
      <div class="title-wrapper">
        <div class="title">{{title}}</div>
      </div>
      <div class="title-wrapper" *ngIf="paymentMessage.length">
        <div class="title">{{paymentMessage}}</div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper" *ngIf="records.length">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="input" [ngClass]="{'selected': record.document.asociat}" *ngFor="let record of records; let i = index" (click)="selectRecord(record, i)">
          <span class="date">{{formatDate(record.date)}}</span>
          <span class="type">{{record.document.typeOf}}</span>
          <span class="docId">{{record.document.docId}}</span>
          <span class="amount">{{record.document.amount}}</span>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>

  <ion-content [fullscreen]="true" *ngIf="!records.length">
    <div class="message-wrapper">
        <div class="message">
          {{message}}
        </div>
    </div>
  </ion-content>


  <ion-footer class="ion-no-border" *ngIf="records.length">
    <ion-row>
      <ion-col>
        <ion-button (click)="close()"  color="medium" size="large" expand="block" fill="outline">Renunță</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" (click)="onSubmit()" size="large" expand="block">Alege</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

  <ion-footer class="ion-no-border" *ngIf="!records.length">
    <ion-row>
      <ion-col>
        <ion-button (click)="close()"  size="large" expand="block" color="medium" fill="outline">Renunță</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" (click)="online()" size="large" expand="block">Adaugă Intrare</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
