<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="triggerEscape()">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper">
  <div class="header">
    <h4 class="subtitle">Înregistrare</h4>
  </div>
  <form [formGroup]="form">
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-input label="Name" labelPlacement="floating"  type="text" name="name" size=1 formControlName="name">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input label="Email" labelPlacement="floating"  type="email" name="email" email formControlName="email">
        </ion-input>
      </ion-item>
      <ion-note *ngIf="!form.get('email')?.valid && form.get('email')?.touched" color="primary">Invalid email</ion-note>
      <ion-item lines="none">
        <ion-input label="Telephone" labelPlacement="floating"  type="text" name="tel"  formControlName="tel">
        </ion-input>
      </ion-item>
        <ion-item lines="none">
          <ion-input
          label="Password"
          labelPlacement="floating"
          type="password"
          formControlName="password"
          name="password"
          minlength="6" required
          [type]="getInputType()"
          ></ion-input>
          <ion-icon [src]="iconSrc" slot="end" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input
          label="Confirm Password"
          labelPlacement="floating"
          type="password"
          formControlName="confirmPassword"
          name="confirmPassword"
          minlength="6" required
          [type]="getInputType()"
          #confirmPassword
          ></ion-input>
          <ion-icon [src]="iconSrc" slot="end" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <ion-note *ngIf="form.hasError('match_error')" color="primary">
          Passwords don't match
        </ion-note>
      </ion-col>
  </ion-row>

    <!-- <ion-row [ngClass]="{'hide': !register}">
      <ion-col>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</form>
</ion-content>

<ion-footer>
    <ion-button color="primary" (click)="onSubmit()" class="ion-padding submit" size="large" expand="block" [disabled]="!enableRegister">
      <ion-label>
       Înregistrează-te
      </ion-label>
    </ion-button>

  </ion-footer>
