


.tips-wrapper{
  background-image: url('https://res.cloudinary.com/dhetxk68c/image/upload/v1713200784/True/background_tips_vrk8kx.jpg');
  background-size: cover;
  height: 100vh;
  .center-container{
    position: absolute;
    animation: fadeIn 3s ease-in;
    top: 30%;
    left: 33%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    span{
      font-family: NoirProMed !important;
      font-size: 120px;
    }
    img{
      height: 140px;
    }
  }

  .total-container{
    position: absolute;
    animation: fadeIn 3s ease-in;
    top: 60%;
    left: 33%;
    text-align: center;
    border-radius: 60px;
    background-color: white;
    padding: 14px 48px;
    span{
      font-family: NoirProReg !important;
      font-size: 80px;
      span{
        margin-left: 12px;
          font-family: NoirProSemi !important;

        }
    }
  }
  h1{
    text-align: center;
    font-family: NoirProMed !important;
    font-size: 75px;
    margin-top: 3rem;
  }

  .choise-container{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
      border-bottom-left-radius: 140px;
      border-bottom-right-radius: 140px;
    }
    .value-container{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: white;
      border-radius: 40px;
      width: 200px;

        .tips{
          font-family: NoirProReg !important;
          font-size: 28px;
        }
        .total{
          font-family: NoirProSemi !important;
          font-size: 30px;
        }
    }
  }

.total-col{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .total-wrapper{
    text-align: center;
    width: 400px;
    border-radius: 40px;
    background-color: white;
    padding: 14px 0px;
    span{
      font-family: NoirProReg !important;
      font-size: 50px;
      span{
          font-family: NoirProSemi !important;

        }
    }
  }

  }

  .shadow{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }


  img:active{
    transform: scale(0.9);

  }


  .confetti-canvans{
    z-index: 10;
    position: absolute;
    bottom: 10%;
    right: 10%;
    left: 10%;
    width: 100%;
    height: 90%;
  }



  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    30%{
      opacity: 0;
    }

    60%{
      opacity: 0.5;
    }

    100%{
      opacity: 1;

    }
  }
