

ion-content, ion-toolbar, ion-footer, ion-header{
  --background: var(--background-color) !important;
  background-color: var(---background-color) !important;
}

ion-title, ion-select, ion-input, ion-button, ion-radio, ion-searchbar, ion-textarea{
  font-family: RoseMed !important;
}

ion-searchbar{
  --background: rgba(var(--ion-color-medium-rgb), 0.1);
  --box-shadow: none !important;

}
.searchbar{
  margin: 0 62px 0 42px;
}


ion-radio{
  --border-color: var(--ion-color-medium) !important;
  --color: var(--ion-color-medium) !important;
  --color-checked: var(--ion-color-medium) !important;

}

ion-list{
  background-color: transparent;
}

.header-toolbar{
  padding: 24px 0 12px 0;
  margin: 0 66px 0 46px;
  border-bottom: 1.2px solid var(--grey);
  ion-toolbar{
    ion-title{
      font-family: RoseMed !important;
      font-size: 36px;
    }
    ion-buttons{
      ion-button{
        --padding-bottom: 16px;
        --padding-end: 16px;
        --padding-top: 16px;
        --padding-start: 16px;
        --border-radius: 50%;
        --border-width: 2px;
        margin-right: 12px;
      }
    }
  }
}

  .input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid var(--grey);
    padding-left: 24px;
    border-radius: 4px;
    margin: 0.4rem 62px 0.2rem 42px;
  }

  .wrapper{
    display: flex;
  }
  .input1{
    flex: 50%;
    height: 50px;
    padding-right: 24px;
  }


  .footer-button{
    margin: 12px 24px !important;
  }


  .fur-name{
    cursor: pointer;
    font-family: RoseLight !important;
    border: 1.5px solid var(--grey) !important;
    --background: var(--background-color) !important;
    border-radius: 2px;
    margin: 0.3rem 68px 0.3rem 48px;
    span{
      color: var(--ion-color-medium) !important;
    }
  }

