
ion-content, ion-toolbar, ion-footer{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}


ion-botton, ion-title, span, ion-item, ion-input, ion-button{
  font-family: RoseMed !important;
}

ion-content{
  height: 50vh !important;
}

.input-wrapper{
  ion-input{
    margin-top: 12px;
  }
}

.header-toolbar, .second-toolbar{
  padding: 24px 0 12px 0;
  margin-left: 48px;
  width: 92%;
  border-bottom: 1.2px solid var(--grey);
  ion-title{
    font-size: 36px;
  }
  ion-buttons{
    .round{
      --padding-bottom: 14px;
      --padding-end: 14px;
      --padding-top: 14px;
      --padding-start: 14px;
      --border-radius: 50%;
      --border-width: 1px;
      margin-right: 12px;

    }
  }
}


.section-label{
  padding: 24px 0 0 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .label-title{
    font-size: 24px;
  }
  .label-sub-title{
    font-size: 14px;
    color: var(--grey)
  }
}


// .input-row{
//   margin-top: 10%
// }


// .sum{
//   font-size: 40px;
//   font-weight: 600;
// }
