<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <!-- <ion-title class="sum ion-text-center">{{title}}</ion-title> -->
    <div class="title-wrapper">
      <div class="title">{{title}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <form [formGroup]="discountForm">
  <ion-row class="input-row">
    <ion-col>
      <div class="input">
        <ion-input type="number" [label]="valLabel" labelPlacement="floating" placeholder="00" (ionInput)="onValChange($event)" formControlName="val"></ion-input>
      </div>
      <div class="input">
        <ion-input type="number" label="Reducere procentuală %" labelPlacement="floating" placeholder="%" (ionInput)="onProcentChange($event)"  formControlName="procent"></ion-input>
      </div>
      <div class="input" *ngIf="tva">
        <ion-input type="number" label="Alege cota TVA" labelPlacement="floating" placeholder="19% 9% 5% 0%"  formControlName="tva"></ion-input>
      </div>
    </ion-col>
  </ion-row>
</form>
</ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
      <ion-button size="large" expand="block" color="light" (click)="close()">RENUNȚĂ</ion-button>
    </ion-col>
      <ion-col>
        <ion-button size="large" expand="block" color="medium"(click)="addDiscount()">ADAUGĂ</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
