

<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border header-toolbar">
    <ion-title slot="start">Adaugă Discount</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="close()" class="round">
        <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 48px;">
    <ion-row>
      <ion-col size="4">
        <div class="section-label">
          <span class="label-title">Reducere</span>
          <span class="label-sub-title">Adaugă reducere valorică sau procentuală, pentru o cota de TVA.</span>
        </div>
      </ion-col>
      <ion-col size="8">
        <form [formGroup]="discountForm">
        <div class="input-wrapper">
          <ion-input mode="md" fill="outline" type="number" [label]="valLabel" labelPlacement="floating" placeholder="00" (ionInput)="onValChange($event)" formControlName="val"></ion-input>
          <ion-input mode="md" fill="outline" type="number" label="Reducere procentuală %" labelPlacement="floating" placeholder="%" (ionInput)="onProcentChange($event)"  formControlName="procent"></ion-input>
          <ion-input mode="md" fill="outline" type="number" label="Alege cota TVA" labelPlacement="floating" placeholder="19% 9% 5% 0%"  formControlName="tva"></ion-input>

        </div>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-button size="large" fill="outline" slot="end" color="medium"(click)="addDiscount()" style="margin-right: 32px;">
      <ion-label slot="start">Adaugă</ion-label>
      <ion-icon slot="end" src="../../../assets/icon/checkmark-outline.svg"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>

