ion-content, ion-toolbar, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}

  ion-title, ion-button, ion-searchbar{
  font-family: RoseMed !important;
}

ion-searchbar{
  --background: var(--grey);
}

ion-item{
  margin: 0 32px 0 22px;
}

.header-toolbar{
  padding: 24px 0 12px 0;
  margin-left: 48px;
  width: 90%;
  border-bottom: 1.2px solid var(--grey);
  font-family: RoseMed !important;
  ion-title{
    font-size: 36px;
  }
  ion-buttons{
    ion-button{
      --padding-bottom: 14px;
      --padding-end: 14px;
      --padding-top: 14px;
      --padding-start: 14px;
      --border-radius: 50%;
      --border-width: 1px;
      margin-right: 12px;
    }
  }
}

ion-grid{
  padding: 12px 32px 12px 40px;
}

.party{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.1rem 0;
  font-size: 22px;
  padding: 12px 12px 12px 24px;
  border: 1.5px solid var(--grey);
  border-radius: 6px;
  height: 100%;
  font-family: RoseMed !important;
  .details{
      width: 100%;
      display: flex;
      flex-direction: column;
      .label{
          flex: 40%;
          text-align: center;
          font-size: 14px !important;
          margin-bottom: 5px;
      }
      .value{
          flex: 60%;
          text-align: center;
      }
  }
  .name{
      width: 100%;
      display: flex;
      flex-direction: column;
      .label{
          flex: 20%;
          text-align: center;
          font-size: 14px !important;
          margin-bottom: 5px;
      }
      .value{
          flex: 80%;
          text-align: center;
      }
  }
}


.ing-info-wrapper {
  margin-left: 20px;
  .gest{
    font-family: RoseLight !important;
    font-size: 13px;
  }
  .gest-value{
    font-size: 14px;
    margin-left: 8px;
    color: var(--sand);
  }
  .stoc{
    font-family: RoseLight !important;
    font-size: 12px;
    margin-left: 8px;
  }
  .stoc-value{
    font-size: 14px;
    margin-left: 8px;
    color: var(--turqoise)
  }
  .stoc-um{
    font-family: RoseLight !important;
    font-size: 12px;
    margin-left: 8px;
  }
}


.ing-container{
  margin: 12px 32px 0 40px;
  display: flex;
  flex-wrap: wrap;
  .ing{
    flex: 30%;
    cursor: pointer;
    padding: 4px 0 4px 12px;
    border: 1.5px solid var(--grey);
    border-radius:4px;
    margin: 4px;
    .name{
      font-family: RoseReg !important;
      font-size: 16px;
    }
  }

  .prod-ing{
    border: 2.5px solid var(--red) !important;
    .name{
      font-family: RoseReg !important;
      color: var(--red) !important;
    }
  }


}


