ion-header, ion-content, ion-toolbar{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}


.input, .header{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 0 24px;
  padding: 6px;
  .nr{
    flex: 8%
  }
  .name{
    flex: 52%;
  }
  .qty{
    flex: 15%;
  }
  .total{
    flex: 25%;
    text-align: end;
  }

}



.header{
  font-family: RoseMed !important;
  font-size: 18px;
  border-bottom: 1.2px solid var(--grey)
}

.input{
  font-family: RoseLight !important;
}


.input:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
  .nr, .name,  .qty, .total{
    font-family: RoseReg !important;
  }
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}
