ion-content, ion-toolbar{
  --background: #fbf0e7 !important;
}


ion-botton, ion-title, span, ion-item, ion-input{
  font-family: NoirProReg !important;
}

.input{
  cursor: pointer;
  height: 70px;
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
  margin: 0.4rem 0 0.4rem 0.2rem;
  font-family: NoirProLight !important;
  display: flex;
  flex-direction: row;
  span{
    margin: 10px 5px 10px 5px;
  }
  .nr{
    flex: 2%
  }
  .data{
    flex: 48%;
  }
  .discount{
    flex: 15%;
    // margin-left: 50px;
    text-align: center;
  }
  .total{
    flex: 45%;
    font-family: NoirProSemi !important;
    text-align: end;
  }

}


.header{
  height: 40px;
  border-radius: 8px;
  margin: 0.4rem 0 0 0.2rem;
  font-family: NoirProLight !important;
  display: flex;
  flex-direction: row;
  span{
    margin: 10px 5px 10px 5px;
  }
  .nr{
    flex: 2%
  }
  .data{
    flex: 48%;
  }
  .discount{
    flex: 15%;
    // margin-left: 50px;
    text-align: center;
  }
  .total{
    flex: 45%;
    font-family: NoirProSemi !important;
    text-align: end;
  }
}
