<ion-content>
  <ion-toolbar class="ion-no-border">
    <ion-button size="large" color="medium" (click)="close()">
     <ion-icon src="../../../assets/icon/close-outline.svg" class="icon"></ion-icon>
    </ion-button>
   </ion-toolbar>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="header">
        <span class="nr">Nr</span>
        <span class="data">Produs</span>
        <span class="discount">Qty</span>
        <span class="total">Cost</span>
      </div>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col *ngIf="products && products.length">
    <div class="input" *ngFor="let prod of products; let i = index;">
      <span class="nr">{{i+1}}.</span>
      <span class="data">{{prod.name}}</span>
      <span class="discount"> {{prod.qty}}</span>
      <span class="total">{{roundInHtml(prod.qty * prod.cost)}} Lei</span>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
