


ion-content, ion-header{
  --background: var(--ion-color-tertiary) !important;
  background-color: var(--ion-color-tertiary) !important;
}


.square{
  font-family: NoirProReg !important;
  // border: solid 1.2px black;
  border-radius: 4px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;

  .name{
    font-size: 18px;
  }
  .position{
    font-size: 14px;
  }
  .day{
    font-size: 20px;
  }
  .date{
    font-size: 14px;
  }
  .label{
    font-size: 18px;
  }
}

.pointer{
  cursor: pointer;
}

.date-wrapper{
font-family: NoirProSemi !important;
  .date{
    font-size: 22px;
  }
}


.section-wrapper{
  display: flex;
  flex-direction: row;
}
.section{
  border: solid 1.2px black;
  border-radius: 8px;
  height: 50px;
  padding: 8px;
  flex: 33.3%;
}


.barista{
  background-color: rgb(61, 158, 190);
}
.aj-barista{
  background-color: rgb(129, 196, 218);
}
.casier{
  background-color: rgb(225, 115, 109);
}
.ospatar{
  background-color: rgb(225, 177, 109);
}
.bucatar{
  background-color: rgb(116, 169, 107);
}
.aj-bucatar{
  background-color: rgb(155, 182, 150);
}
.days{
  background-color: rgb(19, 82, 116);
  color: white;
}
.liber{
  background-color: rgb(98, 91, 91) !important;
  color: white !important;
}
.tes{
  background-color: rgb(212, 104, 27);
  color: white;
}


@media (prefers-color-scheme: dark) {
  .barista {
    background-color: rgb(30, 79, 95); /* Darkened version of rgb(61, 158, 190) */
  }
  .aj-barista {
    background-color: rgb(64, 98, 109); /* Darkened version of rgb(129, 196, 218) */
  }
  .casier {
    background-color: rgb(112, 57, 54); /* Darkened version of rgb(225, 115, 109) */
  }
  .ospatar {
    background-color: rgb(122, 88, 54); /* Darkened version of rgb(225, 177, 109) */
  }
  .bucatar {
    background-color: rgb(58, 84, 54); /* Darkened version of rgb(116, 169, 107) */
  }
  .aj-bucatar {
    background-color: rgb(77, 91, 75); /* Darkened version of rgb(155, 182, 150) */
  }
  .days {
    background-color: rgb(10, 41, 58); /* Darkened version of rgb(19, 82, 116) */
    color: white;
  }
  .liber {
    background-color: rgb(49, 46, 46) !important; /* Darkened version of rgb(98, 91, 91) */
    color: white !important;
  }
  .tes {
    background-color: rgb(106, 52, 13); /* Darkened version of rgb(212, 104, 27) */
    color: white;
  }


}


