
        <ion-header class="ion-no-border" *ngIf="shedule">
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="date-wrapper pointer" color="primary" (click)="selectShedule()">
                <ion-icon src="assets/icon/create-outline.svg" slot="start"></ion-icon>
                <span class="date" >{{editPeriod(shedule.period)}}</span>
              </ion-item>
            </ion-col>
            <ion-col *ngFor="let day of shedule.days">
              <div class="square days">
                <span class="day">{{day.day}}</span>
                <span class="date">{{formatDateInHtml(day.date).split('ora')[0]}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="shedule && users">
        <ion-row *ngFor="let user of users">
          <ion-col>
            <div class="square"
            [ngClass]="{
              'barista' : user.employee.position === 'Barista',
              'aj-barista' : user.employee.position === 'Ajutor barman',
              'casier' : user.employee.position === 'Casier',
              'ospatar' : user.employee.position === 'Ospatar',
              'bucatar' : user.employee.position === 'Bucatar',
              'aj-bucatar' : user.employee.position === 'Ajutor bucatar',
              'tes' : user.employee.position === 'Supervizor' || user.employee.position === 'Asistent Manager'
            }">
              <span class="name">{{user.employee.fullName}}</span>
              <span class="position">({{user.employee.position}})</span>
            </div>
          </ion-col>
          <ion-col *ngFor="let day of shedule.days">
            <div class="square pointer" (click)="addOnShedule(day, user)"
            [ngClass]="{
              'barista' : getPosition(day.users, user._id).position === 'Barista' && getPosition(day.users, user._id).checkIn,
              'on-barista' : getPosition(day.users, user._id).position === 'Barista' && !getPosition(day.users, user._id).checkIn,
              'aj-barista' : getPosition(day.users, user._id).position === 'Ajutor barman' && getPosition(day.users, user._id).checkIn,
              'on-aj-barista' : getPosition(day.users, user._id).position === 'Ajutor barman' && !getPosition(day.users, user._id).checkIn,
              'casier' : getPosition(day.users, user._id).position === 'Casier'&& getPosition(day.users, user._id).checkIn,
              'on-casier' : getPosition(day.users, user._id).position === 'Casier'&& !getPosition(day.users, user._id).checkIn,
              'ospatar' : getPosition(day.users, user._id).position === 'Ospatar'&& getPosition(day.users, user._id).checkIn,
              'on-ospatar' : getPosition(day.users, user._id).position === 'Ospatar'&& !getPosition(day.users, user._id).checkIn,
              'bucatar' : getPosition(day.users, user._id).position === 'Bucatar'&& getPosition(day.users, user._id).checkIn,
              'on-bucatar' : getPosition(day.users, user._id).position === 'Bucatar'&& !getPosition(day.users, user._id).checkIn,
              'aj-bucatar' : getPosition(day.users, user._id).position === 'Ajutor bucatar'&& getPosition(day.users, user._id).checkIn,
              'on-aj-bucatar' : getPosition(day.users, user._id).position === 'Ajutor bucatar'&& !getPosition(day.users, user._id).checkIn,
              'liber' : getPosition(day.users, user._id).position === 'LiBER'&& !getPosition(day.users, user._id).checkIn,
              'tes' :( getPosition(day.users, user._id).position === 'Supervizor' || getPosition(day.users, user._id).position === 'Asistent Manager')&& !getPosition(day.users, user._id).checkIn,
              'con' : getPosition(day.users, user._id).position === 'Concediu'&& !getPosition(day.users, user._id).checkIn,
              'med' : getPosition(day.users, user._id).position === 'Medical'&& !getPosition(day.users, user._id).checkIn,
              }"
              >
              {{findUser(day.users, user._id)}}
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
