


ion-content, .header{
  background-color: var(--background-color) !important;
  --background: var(--background-color) !important;
}

ion-header, .title{
  background-color: rgba(var(--ion-color-medium-rgb), 0.03) !important;
  --background: rgba(var(--ion-color-medium-rgb), 0.03) !important;
}

ion-title{
  margin-left: 70px;
  font-family: RoseMed !important;
}
.padding{
  padding: 2.5px !important;
}


#shed{
  --padding-bottom: 10px !important;
  --padding-end: 10px !important;
  --padding-top: 10px !important;
  --padding-start: 10px !important;
  --border-radius: 50% !important;
  --border-width: 2px !important;
  margin-right: 12px !important;
  --border-color: var(--ion-color-medium);
  ion-icon{
    color: var(--ion-color-medium);
  }
}

.hidden {
  display: none;
 }

.square{
  font-family: RoseMed !important;
  border-radius: 2px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  .name{
    font-size: 14px;
    text-align: center;
  }
  .position{
    font-size: 12px;
  }
  .date{
    font-size: 12px;
  }
}

.pointer{
  cursor: pointer;
}



.section-wrapper{
  display: flex;
  flex-direction: row;
}
.section{
  border: solid 1.2px black;
  border-radius: 8px;
  height: 50px;
  padding: 8px;
  flex: 33.3%;
}


.barista{
  background-color: rgba(var(--barista-rgb), 0.7);
}
.aj-barista{
  background-color: rgba(var(--aj-barista-rgb), 0.7);
}
.casier{
  background-color:rgba(var(--casier-rgb), 0.7);
}
.ospatar{
  background-color:rgba(var(--ospatar-rgb), 0.7);
}
.bucatar{
  background-color:rgba(var(--bucatar-rgb), 0.7);
}
.aj-bucatar{
  background-color: rgba(var(--aj-bucatar-rgb), 0.7);
}

.liber{
  background-color: rgba(var(--liber-rgb), 0.4);
}
.tes{
  background-color: rgba(var(--tes-rgb), 0.7);
}
.days{
  background-color: var(--days);
  color: var(--white);
}
.con{
  background-color:var(--concediu);
}
.med{
  background-color: var(--medical);
}

.manager{
  background-color: rgba(var(--manager-rgb), .7);
}

.on-manager{
  background-color: var(--manager);
}

.on-barista{
  background-color: var(--barista);
}
.on-casier{
  background-color: var(--casier);
}
.on-aj-barista{
  background-color: var(--aj-barista);
}
.on-ospatar{
  background-color: var(--ospatar);
}

.on-bucatar{
  background-color: var(--bucatar);
}
.on-aj-bucatar{
  background-color: var(--aj-bucatar);
}
.on-tes{
  background-color: var(--tes);
}






