
        <ion-header class="ion-no-border">
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="date-wrapper pointer" color="primary" (click)="selectShedule()">
                <ion-icon src="assets/icon/create-outline.svg" slot="start"></ion-icon>
                <span class="date">{{editPeriod(shedule.period)}}</span>
              </ion-item>
            </ion-col>
            <ion-col *ngFor="let day of shedule.days">
              <div class="square days">
                <span class="day">{{day.day}}</span>
                <span class="date">{{formatDateInHtml(day.date).split('ora')[0]}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="shedule && users">
        <ion-row *ngFor="let user of users">
          <ion-col>
            <div class="square"
            [ngClass]="{
              'barista' : user.employee.position === 'Barista',
              'aj-barista' : user.employee.position === 'Ajutor barman',
              'casier' : user.employee.position === 'Casier',
              'ospatar' : user.employee.position === 'Ospatar',
              'bucatar' : user.employee.position === 'Bucatar',
              'aj-bucatar' : user.employee.position === 'Ajutor bucatar',
              'tes' : user.employee.position === 'Supervizor' || user.employee.position === 'Asistent Manager'
            }">
              <span class="name">{{user.employee.fullName}}</span>
              <span class="position">({{user.employee.position}})</span>
            </div>
          </ion-col>
          <ion-col *ngFor="let day of shedule.days">
            <div class="square pointer" (click)="addOnShedule(day, user)"
            [ngClass]="{
              'barista' : getPosition(day.users, user._id) === 'Barista',
              'aj-barista' : getPosition(day.users, user._id) === 'Ajutor barman',
              'casier' : getPosition(day.users, user._id) === 'Casier',
              'ospatar' : getPosition(day.users, user._id) === 'Ospatar',
              'bucatar' : getPosition(day.users, user._id) === 'Bucatar',
              'aj-bucatar' : getPosition(day.users, user._id) === 'Ajutor bucatar',
              'liber' : getPosition(day.users, user._id) === 'LiBER',
              'tes' : user.employee.position === 'Supervizor' || user.employee.position === 'Asistent Manager'}">
              {{findUser(day.users, user._id)}}
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
