<!-- <ion-header [translucent]="true">

</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-no-border">
    <ion-button size="large" color="medium" (click)="close()">
     <ion-icon src="../../../assets/icon/close-outline.svg"></ion-icon>
    </ion-button>
   </ion-toolbar>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card *ngIf="order">
        <ion-card-header>
          <ion-card-title class="ion-text-center" style="color: red;" *ngIf="order.pending">COMANDĂ ONLINE</ion-card-title>
          <ion-card-title>{{formatDate(order.createdAt)}}</ion-card-title>
          <ion-card-subtitle>Masa {{order.masa}} </ion-card-subtitle>
          <ion-card-subtitle>Nr. {{order.index}} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item lines="none" class="input" *ngFor="let product of order.products">
              <ion-thumbnail slot="start">
                <img alt="Product Image" [src]="product.imgUrl" />
              </ion-thumbnail>
              <div class="prod-info-wrapper">
                <div class="prod-info">
                  <span class="name">{{product.name}}</span>
                  <span class="qty">{{product.quantity}} Buc</span>
                  <span class="price">{{product.price * product.quantity}} Lei</span>
                </div>
                <div class="prod-toppings" *ngIf="product.toppings.length">
                  <span class="topping" *ngFor="let top of product.toppings">+ {{top.name}}</span>
                </div>
              </div>
            </ion-item>
          </ion-list>
          <div class="buttons-container">
            <ion-row class="bill-extra-row"  *ngIf="order.employee">
              <ion-col size="8">
                <span class="label">CASIER</span>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <span class="value"> {{order.employee.fullName}}</span>
              </ion-col>
            </ion-row>
            <ion-row class="bill-extra-row"  *ngIf="order.clientInfo.name.length">
              <ion-col size="8">
                <span class="label">CLIENT</span>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <span class="value">{{order.clientInfo.name}}</span>
              </ion-col>
            </ion-row>
          </div>
          <div class="buttons-container">
            <ion-row class="bill-extra-row" *ngIf="order.discount !== 0">
              <ion-col size="10">
                <span class="label">TOTAL PRODUSE</span>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <span class="value">{{order.cashBack + order.total+ order.discount}} Lei</span>
              </ion-col>
            </ion-row>
            <ion-row class="bill-extra-row" *ngIf="order.discount !== 0">
              <ion-col size="10">
                <span class="label">REDUCERE</span>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <span class="value">- {{order.discount}} Lei</span>
              </ion-col>
            </ion-row>
            <ion-row class="bill-extra-row" *ngIf="order.cashBack !== 0">
              <ion-col size="10">
                <span class="label">CASH BACK</span>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <span class="value"> - {{order.cashBack}} Lei</span>
              </ion-col>
            </ion-row>
            <ion-row class="bill-extra-row" *ngIf="order.tips > 0">
              <ion-col size="10">
                <span class="label">BACSIS</span>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <span class="value"> + {{order.tips}} Lei</span>
              </ion-col>
            </ion-row>
            <ion-row class="bill-extra-row" *ngFor="let pay of paymentMethod">
              <ion-col size="10">
                <span class="label" style="text-transform:uppercase;">{{pay.method}}</span>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <span class="value">- {{pay.value}} Lei</span>
              </ion-col>
            </ion-row>
            <ion-row class="bill-total-row">
              <ion-col size="10">
                <span class="label">TOTAL</span>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <span class="value">{{order.total}} Lei</span>
              </ion-col>
            </ion-row>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer *ngIf="order && order.pending">
  <ion-title class="ion-text-center" style="color: green">ALEGE TIMP DE PREPARARE</ion-title>
  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('10')" class="ion-no-padding button">10 Minute</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('15')" class="ion-no-padding button">15 Minute</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('20')" class="ion-no-padding button">20 Minute</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('25')" class="ion-no-padding button">25 Minute</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('30')" class="ion-no-padding button">30 Minute</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('35')" class="ion-no-padding button">35 Minute</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('40')" class="ion-no-padding button">40 Minute</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('45')" class="ion-no-padding button">45 Minute</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" size="large" expand="block" color="medium" (click)="sendTime('50')" class="ion-no-padding button">50 Minute</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<ion-footer *ngIf="order.status === 'done'">
  <ion-button color="medium" size="large" expand="block"(click)="reprint()">RRTIPĂREȘTE NOTA FISCALA</ion-button>
  <ion-button color="medium" size="large" expand="block"(click)="changePaymentMethod()">SHIMBĂ METODA DE PLATĂ</ion-button>
  <ion-button color="medium" size="large" expand="block"(click)="createBill()">TIPARESTE FACTURA</ion-button>
</ion-footer>
