.input{
  height: 70px;
  border-bottom: 0.6px solid var(--grey);
  margin: 0.2rem 0 0.2rem 0.2rem;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

ion-title, ion-label{
  font-family: RoseMed !important;
}

ion-button{
  font-family: RoseSemi !important;
  font-size: 16px;
}

span{
  font-family: RoseReg !important;
}

ion-content, ion-card, ion-list, ion-toolbar{
  --background: var(--ion-color-light) !important;
  background-color: var(--ion-color-light) !important;
}


ion-card{
  box-shadow: none !important;
}

ion-card-header{
  padding: 0 !important;
  font-family: RoseMed !important;
}


.prod-info-wrapper{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  .prod-info {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100% !important;
    font-size: 18px;
    .name{
      flex: 60%;
    }
    .qty{
      flex: 20%;
    }
    .price{
      flex: 20%;
      text-align: end;
    }
  }

  .prod-toppings{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    .topping{
      color: rgb(69, 69, 69)
    }
  }
}

.total-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.buttons-container{
  border: 0.6px solid var(--grey);
  margin-top: 12px;
  padding: 8px 18px 8px 18px;
  background:  var(--ion-color-light);
  font-family: NoirProSemi !important;
  .bill-total-row{
    .value{
      text-align: end;
      font-size: 18px;
      color: var(--ion-color-medium)
    }

    .label{
      font-size: 24px;
      color: var(--ion-color-medium)
    }
  }

  .bill-extra-row{
    .label{
      font-size: 16px;
      color: var(--ion-color-medium)
    }
    .value{
      text-align: end;
      font-size: 16px;
      color: var(--ion-color-medium)
    }
  }
}
