<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <div class="title-wrapper">
      <div class="title">{{title}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row class="input-row">
    <ion-col>
      <div class="input">
        <ion-input type="number" label="Suma" labelPlacement="floating" placeholder="00" [(ngModel)]="value"></ion-input>
      </div>
      <!-- <ion-item lines="none" class="input">
        <ion-input type="text" label="Observații" labelPlacement="floating" placeholder="Motiv" [(ngModel)]="reason"></ion-input>
      </ion-item> -->
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
      <ion-button size="large" expand="block" color="light" (click)="close()">RENUNȚĂ</ion-button>
    </ion-col>
      <ion-col size="6">
        <ion-button size="large" expand="block" color="medium"(click)="addCash()">{{button}}</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
