ion-content, ion-toolbar, ion-header, ion-footer{
  --background: var(--background-color)!important;
  background-color: var(--background-color)!important;
}

ion-input, ion-select, .font, span, ion-textarea{
  font-family: RoseMed !important;
}






.section{
  margin: 0 52px 0 36px;
  padding: 12px 0 24px 0;
  border-bottom: solid 1px var(--grey);
  .section-label{
    padding-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .label-title{
      font-size: 24px;
    }
    .label-sub-title{
      font-size: 14px;
      color: var(--grey)
    }
  }

  .inputs-wrapper{
      padding: 12px 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .input, .date-input{
        margin: 4px 0 4px 12px;
        min-width: 30%;
        max-width: 30%;
        ion-input, ion-select{
          --border-width: 1.5px;
          // --border-color: var(--dark)
        }
      }
      .date-input{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17px;
        border: 1.5px solid var(--grey);
        border-radius: 6px;
        min-width: 46%;
        max-width: 46%;
      }
      .custom-date-input{
        min-width: 30%;
        max-width: 30%;
      }
      .custom-input{
        min-width: 46%;
        max-width: 46%;
      }
      .date-input:hover{
        border-color: var(--ion-color-medium) ;
      }
  }
}
