<ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border toolbar">
        <ion-title slot="start">Adaugă detalii angajat</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="outline" (click)="close()">
            <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="form">
  <section>
    <section class="section">
      <ion-row>
        <ion-col size="4">
          <div class="section-label">
            <span class="label-title">Informații Generale</span>
            <span class="label-sub-title">Completează datele din buletin ale angajatului.</span>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="inputs-wrapper">
            <div  class="input">
              <ion-input label="Nume Complet" labelPlacement="floating" fill="outline"  type="text" name="name" size=1 formControlName="fullName"></ion-input>
            </div>
            <div class="input">
              <ion-input label="Serie CI" labelPlacement="floating"  fill="outline"  type="text" name="serial" formControlName="ciSerial">
              </ion-input>
            </div>
            <div  class="input">
              <ion-input label="Număr CI" labelPlacement="floating"  fill="outline"  type="number" name="number" formControlName="ciNumber">
              </ion-input>
            </div>
          </div>
          <div class="inputs-wrapper">
            <div  class="input">
              <ion-input label="CNP" labelPlacement="floating" fill="outline"   type="text" name="cnp" formControlName="cnp">
              </ion-input>
            </div>
             <div  class="input">
              <ion-textarea label="Adresa" labelPlacement="floating"  fill="outline"  type="text" name="adresa" formControlName="address"></ion-textarea>
             </div>
              <div  class="input">
                <ion-input label="Zodie" labelPlacement="floating"  fill="outline"  type="string" name="position"  formControlName="zodie">
                </ion-input>
              </div>
            </div>
        </ion-col>
      </ion-row>
    </section>
  </section>
  <section>
    <section  class="section">
      <ion-row>
        <ion-col size="4">
          <div class="section-label">
            <span class="label-title">Informații Angajat</span>
            <span class="label-sub-title">Completează informatiile angajatului cum ar fi: functia, salriul, norma de lucru, data de angajare etc.</span>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="inputs-wrapper">
            <div  class="input">
              <ion-input mode="md" label="Functie" labelPlacement="floating" fill="outline"  type="text" name="position"  formControlName="position">
              </ion-input>
            </div>
             <div  class="input">
              <ion-input mode="md" label="Salariu" labelPlacement="floating" fill="outline"  type="number" name="position"  formControlName="salary">
              </ion-input>
             </div>
              <div  class="input">
                <ion-input mode="md" label="Paper ON" labelPlacement="floating" fill="outline"  type="number" name="position"  formControlName="onPaper">
                </ion-input>
              </div>
            </div>
            <div class="inputs-wrapper">
              <div  class="input">
                <ion-select label="Cuantificare" mode="md" placeholder="Level" fill="outline"  formControlName="fix">
                  <ion-select-option class="font" [value]="true">Fix</ion-select-option>
                  <ion-select-option class="font" [value]="false">Ore</ion-select-option>
                </ion-select>
              </div>
               <div  class="input">
                <ion-select label="Acces" mode="md" placeholder="Level" fill="outline"  formControlName="access">
                  <ion-select-option class="font" value="1">Level 1</ion-select-option>
                  <ion-select-option class="font" value="2">Level 2</ion-select-option>
                  <ion-select-option class="font" value="3">Level 3</ion-select-option>
                  <ion-select-option class="font" value="4">Level 4</ion-select-option>
                </ion-select>
               </div>
                <div  class="input">
                  <ion-input label="Normă (ore)" mode="md" labelPlacement="floating" fill="outline"   type="number" name="norm"  formControlName="norm">
                  </ion-input>
                </div>
              </div>
          <div class="inputs-wrapper">
             <div  class="date-input" (click)="openDateModal(true)">
              <span>{{startDate ? 'Dată angajare - ' + formatedDate(startDate) : "Alege data de angajare"}}</span>
             </div>
              <div  class="date-input" (click)="openDateModal(false)">
                <span>{{endDate ? 'Dată încetare - ' + formatedDate(endDate) : "Alege data de încetare"}}</span>
              </div>
            </div>
          <div class="inputs-wrapper">
            <div  class="date-input" (click)="openDateModal('birth')">
              <span>{{birthDate ? 'Dată nașterii - ' + formatedDate(birthDate) : "Alege data nașterii"}}</span>
            </div>
              <div  class="input custom-input">
                <ion-select label="Stare" mode="md" placeholder="Level" fill="outline"  formControlName="status">
                  <ion-select-option class="font" [value]="true">Activ</ion-select-option>
                  <ion-select-option class="font" [value]="false">Inactiv</ion-select-option>
                </ion-select>
              </div>
            </div>
        </ion-col>
      </ion-row>
    </section>
  </section>

  </form>
</ion-content>


<ion-footer mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button mode='md' class="footer-button" slot="end" fill="outline" color="medium" size="large" [disabled]="!form.valid" (click)="onSubmit()" >
       <ion-label slot="start" size="large">Salvează</ion-label>
       <ion-icon slot="end" src="../../../../assets/icon/checkmark-outline.svg" color='medium' ></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-footer>


