<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title *ngIf="user">{{user.employee.fullName}}</ion-title> -->
    <ion-buttons>
      <ion-button *ngFor="let user of users" (click)="showOrders(user)" [ngClass]="{ 'active-button': user.show }">
        {{user.name}}
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">{{today()}}</ion-title>
  </ion-toolbar>
</ion-header>


<div class="contents-container" *ngIf="!isLoading">
  <ion-content [fullscreen]="true" class="cash-info">
    <ion-title class="title" *ngIf="userTotal > 0">
      Încsări
    </ion-title>
    <div class="col">
      <div class="cash-info-wrappr">
        <ion-item lines="none" class="input" *ngIf="userCash > 0">
          Cash: {{userCash}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="userCard > 0">
          Card: {{userCard}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="userViva > 0">
          Viva Wallet: {{userViva}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="userTips > 0">
          Bacșiș: {{userTips}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="userVoucher > 0">
          Voucher: {{userVoucher}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="userOnline > 0">
          Plata Online: {{userOnline}} Lei
        </ion-item>
        <ion-item lines="none" class="input bold" *ngIf="userTotal > 0">
          Total: {{userTotal}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="cashIn > 0">
          Bani Adăugați: {{cashIn}} Lei
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="cashOut > 0">
          Bani Scoși: {{cashOut}} Lei
        </ion-item>
      </div>
      <div class="button-wrapper">
        <ion-button expand="block" size="large" color="secondary" (click)="reports('x')" [disabled]="disableButtons">
          <ion-icon src="../../../assets/icon/business.svg"></ion-icon>
         RAPORT X
        </ion-button>
        <ion-button expand="block" size="large" (click)="reports('z')" [disabled]="disableButtons">
          <ion-icon src="../../../assets/icon/cash-register.svg"></ion-icon>
          RAPORT Z
        </ion-button>
        <ion-button expand="block" size="large" color="success" (click)="inAndOut('in')" [disabled]="disableButtons">
          <ion-icon src="../../../assets/icon/add-circle-outline.svg"></ion-icon>
         ADAUGA BANI IN CASA
        </ion-button>
        <ion-button expand="block" size="large" color="danger" (click)="inAndOut('out')" [disabled]="disableButtons">
          <ion-icon src="../../../assets/icon/remove-circle-outline.svg"></ion-icon>
        SCOATE BANI DIN CASA
        </ion-button>
      </div>
    </div>
  </ion-content>
  <div class="separator"></div>
<ion-content [fullscreen]="true" class="orders">
    <ion-title class="title">
      Note Încasate
    </ion-title>
    <ion-searchbar mode="ios" [(ngModel)]="productSearch"  placeholder="Caută notă după produs"  (ionInput)="searchProduct($event)" #searchbar>
    </ion-searchbar>
  <ion-item lines="none" class="input" *ngFor="let order of orders; let i = index;" (click)="openBill(order)">
    <span>Nr.{{order.index}} | </span>
    <span>Ora - {{orderTime(order.updatedAt)}} |</span>
    <span>{{showPaymentMethod(order.payment)}} |</span>
    <span>Masa: {{order.masa}} |</span>
    <span *ngIf="order.employee">Casier: {{order.employee.fullName}} |</span>
  </ion-item>
</ion-content>
</div>

<div class="spinner-container" *ngIf="isLoading">
  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
            <app-spinner></app-spinner>
            <div class="label-wrapper">
              <ion-label class="label" *ngIf="message" color="primary">Se lucrează intens....</ion-label>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>


