
<ion-menu-button *ngIf="!menuOpen">
  <ion-icon src='assets/icon/chevron-double-right.svg'  size="large"></ion-icon>
</ion-menu-button>



<ion-split-pane when="sm" contentId="main">
  <ion-menu contentId="main">
      <div class="menu-toolbar">
          <ion-icon src="../../assets/icon/home-outline.svg" style="font-size: 68px;"></ion-icon>
      </div>
    <ion-content>
      <ion-list>
        <div *ngFor="let page of appPages">
          <ion-item
          lines="none"
          [ngClass]="{'selected': page.show}"
          (click)="selectPage(page.name)"
          *ngIf="page.name === 'Încasări' ||
          access > 2 ||
          page.name === 'Comenzi'
          "
          >
            <ion-icon slot="start" [src]="page.icon"></ion-icon>
            <ion-label>{{page.name}}</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

<div class="ion-page" id="main">

    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-border content-toolbar">
        <ion-title slot="start" class="ion-no-padding">{{title}}</ion-title>
        <ion-title class="date" slot="end">{{date}}</ion-title>
      </ion-toolbar>

    <div class="buttons-container">
      <div class="button animated-border" *ngFor="let user of users; let i =index;" [ngClass]="{'animate selected-button': user.show, 'removing': !user.show && activeTabIndex !== i}" (click)="userOrders(user, i)">
        <span class="value">{{user.name}}</span>
      </div>
    </div>
    </ion-header>

    <ion-content [fullscreen]="true" *ngIf="appPages[0].show">
      <app-sales [orders]="data.orders" [access]="access" (date)="changeDate($event)"></app-sales>
    </ion-content>
    <ion-content [fullscreen]="true" *ngIf="appPages[1].show">
      <app-orders [data]="data" [access]="access" (date)="changeDate($event)"></app-orders>
    </ion-content>
    <ion-content [fullscreen]="true" *ngIf="appPages[2].show && access > 2">
      <app-products [data]="data.orders" (date)="changeDate($event)"></app-products>
    </ion-content>
  </div>
</ion-split-pane>



