
ion-toolbar, ion-content{
  --background: var(--ion-color-tertiary) !important;
}

 span{
  font-family: NoirProReg !important;
}
ion-button, ion-label{
  font-family: NoirProSemi !important;
}

ion-title{
  font-family: NoirProSemi !important;
}

.contents-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  .cash-info{
    flex: 30%;
  }
  .separator{
    width: 40px;
    background: var(--ion-color-tertiary) !important;
  }
  .orders{
    flex: 70%;
    margin-left: 30px;
    cursor: pointer;
    .input:hover{
      --background: var(--ion-color-medium-shade);
      --color: var(--ion-color-light)
    }
  }
}

.label-wrapper{
  width: 100%;
  // display: flex;
  text-align: center;
  font-size: 20px !important;
}

.spinner-container{
  height: 100vh;
  ion-content{
    height: 100vh;
    ion-row{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.title{
  text-align: center;
  font-size: 28px;
  margin-top: 12px;
}


.active-button {
  background-color: var(--ion-color-medium); /* Change to your desired color */
  --background: var(--ion-color-medium); /* Change to your desired color */
  color: var(--ion-color-light) /* Change to your desired text color */
}


.input{
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.7rem 0 0.1rem 0.2rem;
  font-family: NoirProReg !important;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0 18px ;
  justify-content: space-between;
  height: 60px !important;
  background-color: var(--ion-color-light);
  .description{
    flex: 75%;
    font-size: 22px;
  }
  .amount{
    text-align: end;
    flex: 25%;
    font-size: 22px;
    font-family: NoirProSemi !important;
  }
}

.order{
  font-size: 22px;
}

.payment{
  .description{
    font-size: 16px;
  }
  .amount{
    font-size: 20px;
  }
}

.bold{
  font-family: NoirProSemi !important;
  font-size: 24px !important;
  flex: 50% !important;
}

.col{
  display: flex;
  flex-direction: column;
  .button-wrapper{
    margin-top: auto;
    ion-button{
      margin-top: 12px;
      ion-icon{
        margin-right: 20px;
      }
    }
  }
}
