<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cash-control" href="/tabs/cash-control">
      <ion-icon aria-hidden="true" src="../../assets/icon/home-outline.svg"></ion-icon>
      <ion-label>Casa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tables" href="/tabs/tables">
      <ion-icon aria-hidden="true" src="../../assets/icon/cash-register.svg"></ion-icon>
      <ion-label>Vanzare</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="office" href="/tabs/office">
      <ion-icon aria-hidden="true" src="../../assets/icon/office-worker.svg"></ion-icon>
      <ion-label>Office</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon aria-hidden="true" src="../../assets/icon/line.svg"></ion-icon>
      <ion-label>Rapoarte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
