<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button [tab]="screenWidth > 500 ? 'cash-control' : 'mobile' " [href]=" screenWidth > 500 ? '/tabs/cash-control': '/tabs/mobile'">
      <ion-icon aria-hidden="true" src="../../assets/icon/home-outline.svg"></ion-icon>
      <ion-label>Casa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tables" href="/tabs/tables">
      <ion-icon aria-hidden="true" src="../../assets/icon/cash-register.svg"></ion-icon>
      <ion-label>Vanzare</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="office" href="/tabs/office" *ngIf="this.user && this.user.employee.access > 1 && screenWidth > 500" (click)="getIngredients()">
      <ion-icon aria-hidden="true" src="../../assets/icon/office-worker.svg"></ion-icon>
      <ion-label>Office</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports" *ngIf="this.user && this.user.employee.access > 3 && screenWidth > 500">
      <ion-icon aria-hidden="true" src="../../assets/icon/line.svg"></ion-icon>
      <ion-label>Rapoarte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gbt-image" href="/tabs/gbt-image" *ngIf="screenWidth > 500">
      <ion-icon aria-hidden="true" src="../../assets/icon/image-outline.svg"></ion-icon>
      <ion-label>Image</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config" href="/tabs/config" *ngIf="screenWidth > 500">
      <ion-icon aria-hidden="true" src="../../assets/icon/settings.svg"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
