


.option-row{
  margin-top: 2rem;
}


// ion-item{
//   margin-top: 2rem;
// }

span, ion-radio, ion-textarea, ion-button, ion-checkbox{
  font-family: NoirProReg !important;
}

.input{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  padding: 4px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  .topping-name{
    flex:80%
  }
}
.text-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  padding: 12px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  ion-textarea{
    font-size: 35px;
  }
}

.qty{
  font-size: 13px;
  margin: 10px;
}

// .wrapper{
//   display: flex;
//   flex-direction: row;
// }


