<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
      <ion-button (click)="back()" slot="start" color="medium">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" color="light" size="large"></ion-icon>
      </ion-button>
    <div class="title-wrapper">
      <div class="title">{{sub ? 'Alege o Opțiune': 'Alege Extra'}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="option-grid" *ngIf="sub">
    <ion-row class="option-row">
      <ion-col  size-lg="8" offset-lg="2">
        <ion-list>
          <ion-radio-group value="end" [(ngModel)]="selectedOption">
            <div *ngFor="let option of options; let i = index;" (click)="selectOption(option)" class="radio-wrapper  wrapper">
              <div class="input" *ngIf="option.available">
                <ion-radio [value]="option" justify="start" labelPlacement="end">{{option.name+ ' - ' + option.price + ' Lei'}}</ion-radio>
                <!-- <ion-label class="badge" slot="end">{{option.product.dep === "marfa" ? option.ings[0].ing.qty: ''}}</ion-label> -->
              </div>
            </div>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="option-grid" *ngIf="!sub">
    <ion-row class="option-row">
      <ion-col size-lg="8" offset-lg="2">
        <ion-list>
          <div class="input wrapper" *ngFor="let option of options; let i=index;">
              <div style="width:100%;" (click)="onCheckboxChange(option, i)">
                <ion-checkbox [value]="option"  justify="start" labelPlacement="end"  [checked]="isChecked(option)" [disabled]="option.counter > 1">{{option.name.split('/')[0]}}{{ option.price > 0 ? ' + ' + option.price + ' Lei' : '' }}</ion-checkbox>
              </div>
              <div>
                <ion-button size="medium" color="secondary"(click)="redTopping(i)" *ngIf="option.counter && option.counter > 1">-</ion-button>
                <span class="qty" *ngIf="option.counter && option.counter > 1">{{option.counter}}</span>
                <ion-button size="medium" color="secondary"(click)="addTopping(i)" *ngIf="option.checked">+</ion-button>
              </div>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!sub">
      <ion-col size-lg="8" offset-lg="2">
        <div class="text-input">
          <ion-textarea placeholder="Ex. Cu dragoste" label="Comentarii" labelPlacement="floating" [(ngModel)]="comment"></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!sub">
      <ion-col size-lg="8" offset-lg="2">
        <div class="input">
          <ion-input  placeholder="Ex. 1.25 buc" label="Cantitate" labelPlacement="floating" [(ngModel)]="qty"></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="button-row" *ngIf="sub">
      <ion-col>
        <ion-button color="medium" expand="block" size="large"(click)="pick()" [disabled]="!selectedOption" style="height: 100px;">Alege</ion-button>
      </ion-col>
    </ion-row>
  <ion-row class="button-row" *ngIf="!sub">
    <ion-col size="6">
      <ion-button color="light"  expand="block" size="large"(click)="back()" style="height: 100px;">Renunță</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="medium" expand="block" size="large"(click)="pick()" style="height: 100px;">Alege</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
