

    <ion-item lines="none" [color]="color">
      <ion-icon src="assets/icon/art.svg" alt="" class="searchbar-icon" (click)="switchMode()" color="medium" size="large" *ngIf="!impPage"></ion-icon>
      <ion-searchbar mode="md" [(ngModel)]="ingredientSearch"  placeholder="Caută Ingredient"  (ionInput)="searchIngredient($event)" #searchbar (keyup.enter)="setIng()"[disabled]="isLoading">
      </ion-searchbar>
      <ion-icon src="assets/icon/add-circle.svg" class="searchbar-icon" (click)="addIng()" color="medium" size="large" *ngIf="!impPage"></ion-icon>
    </ion-item>
    <div  class="ing-container">
      <div class="ing" *ngFor="let ing of ingredients; let i = index" (click)="addIngredient(ing)" [ngClass]="{'prod-ing': ing.productIngredient}">
        <span class="name">{{ing.name}}</span>
        <div class="ing-info-wrapper">
          <span class="gest">Gestiune:</span>
          <span class="gest-value">{{ing.gestiune | capitalize}}</span>
          <span class="stoc">Stoc:</span>
          <span class="stoc-value">{{ing.qty}}</span>
          <span class="stoc-um">{{ing.um}}</span>
        </div>
      </div>
    </div>
    <div  *ngIf="productIngredientMode" class="prouct-ing-wrapper">
      <ion-input mode="md" fill="outline" type="text" label="Nume" labelPlacement="floating" [(ngModel)]="product.name" id="name"></ion-input>
      <ion-input mode="md" fill="outline" type="text" label="UM" labelPlacement="floating" [(ngModel)]="product.um"></ion-input>
      <ion-input mode="md" fill="outline" type="number" label="Cantitate" labelPlacement="floating" [(ngModel)]="product.qty"></ion-input>
      <ion-select label="Gestiune" labelPlacement="floating" placeholder="Gestiune" mode="md" fill="outline" [(ngModel)]="product.gest._id">
        <ion-select-option *ngFor="let ges of gest" [value]="ges._id">{{ges.name}}</ion-select-option>
      </ion-select>
      <ion-select label="Departament" labelPlacement="floating" placeholder="Gestiune"mode="md" fill="outline" [(ngModel)]="departament">
        <ion-select-option *ngFor="let dep of deps" [value]="dep._id">{{dep.name}}</ion-select-option>
      </ion-select>
    </div>
    <h3 class="ion-text-center subtitle"  *ngIf="displayIngs.length">{{impPage ? 'Deprecieri' : 'Rețetă produs'}}</h3>

    <div class="content-container header" *ngIf="displayIngs.length && !impPage">
      <span class="name">Nume</span>
      <span class="gestiune">Gestiune</span>
      <span class="cant" style="margin-right: 15px;">Cantitate</span>
      <span class="price">Valoare</span>
      <div class="sep"></div>
    </div>
    <div  *ngFor="let ing of displayIngs; let i = index" class="content-container input2">
      <span class="index">{{i+1}}.</span>
      <span class="name">{{ing.ing.name}}</span>
      <span class="gestiune">{{ing.ing.gestiune}}</span>
      <span class="cant">{{ing.qty + ' '+ ing.ing.um}} Lei</span>
      <span class="price">{{round((ing.ing.price + (ing.ing.price * ing.ing.tva / 100)) * ing.qty)}} Lei</span>
      <ion-buttons slot="end">
        <ion-button color="medium" fill="clear" class="trash" (click)="deleteIng(i)">
          <ion-icon src="../../../../assets/icon/trash-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div *ngIf="displayIngs.length" class="total-wrapper">
      <span class="total">{{impPage ? 'Total fișă' : 'Total rețetă'}}</span>
      <span class="total-price">{{round(recipeTotal)}} Lei</span>
    </div>
    <ion-toolbar class="footer-toolbar" *ngIf="productIngredientMode">
      <ion-button mode='md' class="footer-button" slot="end" fill="outline" color="medium" size="large" [disabled]="!product.name.length || !product.um.length || product.qty === 0 || !displayIngs.length" (click)="saveProdIng()" >
        <ion-label slot="start" size="large" >{{editMode ? "Editează" : "Salvează"}}</ion-label>
        <ion-icon slot="end" src="../../../../assets/icon/checkmark-outline.svg" color='medium' ></ion-icon>
      </ion-button>
    </ion-toolbar>
    <h3 class="ion-text-center subtitle"  *ngIf="toppings.length">Toppings</h3>

    <div class="content-container header"  *ngIf="toppings.length">
      <span class="name">Nume</span>
      <span class="gestiune">Gestiune</span>
      <span class="cant">Cantitate</span>
      <span class="val">Valoare</span>
      <span class="price">Vanzare</span>
      <div class="sep"></div>
    </div>
    <div  *ngFor="let top of toppings; let i = index;" class="content-container input1">
      <span class="index">{{i+1}}.</span>
      <span class="name">{{top.name}}</span>
      <span class="gestiune">{{top.ing.gestiune}}</span>
      <span class="cant">{{top.qty + ' '+ top.um}}</span>
      <span class="val"> {{round(top.ingPrice * top.qty)}} Lei</span>
      <span class="price">{{top.price}} Lei</span>
      <ion-buttons slot="end">
        <ion-button color="medium" fill="clear" class="trash" (click)="deleteTop(i)">
          <ion-icon src="../../../../assets/icon/trash-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>


