
 ion-toolbar{
  --background: var(--background-color) !important;
}



.header{
  font-family: NoirProSemi !important;
  font-size: 17px !important;
  padding-left: 24px;
  margin: 24px 0;
}



.searchbar-icon{
  height: 25px;
  cursor: pointer
}

.searchbar-icon:active{
  background-color: var(--ion-color-light);
  border-radius: 4px;
  padding: 3px;
}



.input1, .input2{
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 40px;
  border: 1.2px solid var(--grey);
  margin: 0.2rem 0 0.5rem 0.5rem;
  padding-left: 12px!important;
}

ion-title, ion-select, ion-input, ion-button, h3, ion-searchbar{
  font-family: RoseMed !important;
}

span{
  font-family: RoseReg !important;
}





.ing-info-wrapper {
  margin-left: 20px;
  .gest{
    font-family: RoseLight !important;
    font-size: 13px;
  }
  .gest-value{
    font-size: 14px;
    margin-left: 8px;
    color: var(--sand);
  }
  .stoc{
    font-family: RoseLight !important;
    font-size: 12px;
    margin-left: 8px;
  }
  .stoc-value{
    font-size: 14px;
    margin-left: 8px;
    color: var(--turqoise)
  }
  .stoc-um{
    font-family: RoseLight !important;
    font-size: 12px;
    margin-left: 8px;
  }
}




.ing-container{
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  .ing{
    flex: 30%;
    cursor: pointer;
    padding: 4px 0 4px 12px;
    border: 1.5px solid var(--grey);
    border-radius:4px;
    margin: 4px;
    .name{
      font-size: 16px;
    }
  }
  
  .prod-ing{
    border: 2.5px solid var(--red) !important;
    .name{
      color: var(--red) !important;
    }
  }
  

}

.prouct-ing-wrapper{
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  ion-input{
    flex: 15%;
  }
  #name{
    flex: 30%
  }
  ion-select{
    flex: 20%;
  }
  ion-input, ion-select{
    --border-width: 1.5px;
    margin: 0 6px;
  }

}



.content-container{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  .index{
    margin-left: 0.6rem;
    flex: 3%;
  }
  .name{
    flex: 27%;
  };
  .cant{
    flex: 22%;
    text-align: center;
  };
  .gestiune{
    flex: 20%;
    text-align: center;
  };
  .price{
    flex: 18%;
    text-align: end;
  };
  .total{
    margin-left: 0.6rem;
    flex: 40%;
  };
  .total-price{
    text-align: end;
  };
  .val{
    flex: 10%;
  }
}

ion-searchbar{
  --background: var(--light-grey);
  color: var(--dark);
  padding: 6px !important;
  font-size: 12px;
  --box-shadow: none !important;
}

.total-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  font-family: NoirProSemi !important;
  padding: 0 28px;
  margin: 24px 0;
}

