<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border toolbar">
      <ion-title slot="start">Bacșis</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="dismissModal()">
          <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <div class="input">
        <ion-input mode="md" type="number" label='Bacsis' fill="outline" labelPlacement="floating" placeholder="00"  [(ngModel)]="tipsValue"></ion-input>
      </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button  expand="block" size="large" (click)="addTips()" [disabled]="!tipsValue && tipsValue !== 0">ADAUGĂ BACSIS</ion-button>
</ion-footer>
