
ion-toolbar, ion-content, ion-list, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}

ion-title{
  font-family: RoseReg !important;
  font-size: 42px;
}


.fixed-toolbar {
  position: sticky; /* Keeps it fixed inside ion-content */
  top: 0; /* Sticks to the top */
  z-index: 10; /* Ensures it is above other content */
}




.content-toolbar{
  padding: 24px 0;
  margin-left: 48px;
  width: 92%;
  border-bottom: 0.6px solid var(--grey);
}


.menu-toolbar{
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-toolbar{
  margin: 0 28px;
  width: 96%;
}

.header{
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  margin: 0 8px;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--grey);
}

.date-wrapper{
  margin-top: 6px;
  ion-searchbar{
    font-family: RoseReg !important;
    padding: 0 !important;
    --box-shadow: none !important;
    --background: rgba(var(--ion-color-medium-rgb), 0.1) !important;
  }

}


.header, .order-container{
    .id{
      flex: 10%;
    }
    .customer{
      text-align: center;
      flex: 20%;
    }
    .table{
      text-align: center;
      flex: 10%
    }
    .items{
      text-align: center;
      flex: 10%;
    }
    .total{
      text-align: center;
      flex: 15%;
    }
    .status{
      text-align: center;
      flex: 15%
    }
    .action{
      text-align: center;
      flex: 10%;
    }
}

.order-container{
  font-family: RoseReg !important;
  margin: 0 28px;
  width: 96%;
  padding: 12px 18px;
  border-bottom: 0.5px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    display: flex;
    flex-direction: column;
    .main{
      font-size: 16px;
    }
    .second{
      font-size: 12px;
      color: var(--grey);
    }
  }
}

.order-container:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05) !important;;
}


ion-card{
  cursor: pointer;
  width: 98%;
  margin: 8px 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  ion-card-title, ion-card-subtitle, p{
    color: var(--ion-color-medium);
  }

  ion-card-subtitle{
    font-family: RoseReg !important;
    font-size: 16px;
  }
  ion-card-title{
    font-family: RoseMed !important;
    font-size: 24px;
  }
  ion-card-content{
    ion-icon{
      padding: 6px;
      border-radius: 50%;
      font-size: 16px;
      color: var(--white) !important;
      position: absolute;
      top: 0;
      right: 16px;
    }
    ion-note{
      font-size: 12px;
      color: var(--grey)
    }
    p{
      font-family: NoirProReg;
      display: inline;
      font-size: 12px;
      color: var(--green-contrast)
    }
  }
}

#in-card{
  --background: var(--light-turqoise);
  ion-card-content{
    ion-icon{
      background-color: var(--turqoise);
    }
  }
}

#all-card{
  --background: var(--light-green);
  ion-card-content{
    ion-icon{
      background-color: var(--green);
    }
  }
}
#open-card{
  --background: rgba(var(--sand-rgb), 0.3);
  ion-card-content{
    ion-icon{
      background-color: var(--sand);
    }
  }
}
#disc-card{
  --background: var(--light-blue);
  ion-card-content{
    ion-icon{
      background-color: var(--blue);
    }
    p{
      color: var(--red) !important;
    }
  }
}
#online-card{
  --background: var(--light-orange);
  ion-card-content{
    ion-icon{
      background-color: var(--orange);
    }
  }
}
#del-card{
  --background: var(--light-red);
  ion-card-content{
    ion-icon{
      background-color: var(--red);
    }
    p{
      color: var(--red) !important;
    }
  }
}

@media(max-width: 1400px){
  ion-card-header{
    min-height: 80px;
  }
}
