

span, ion-title, ion-card-subtitle, ion-label, ion-button{
  font-family: NoirProSemi, sans-serif !important;
}

.dynamic-header-active {
  background-color: var(--ion-color-danger);
  --background: var(--ion-color-danger);
  --color:white;
}

.accept-button-wrapper{
  display: flex;
  flex-direction: row;
}

.title{
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  color: var(--ion-color-dark);
}
.small-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: var(--ion-color-dark);
}

.big{
  height: 100px !important;
}

.product-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: var(--ion-color-dark);
}


.back-button{
  --background: var(--ion-color-primary);
  height: 70px;
  width: 100px;
  --color: white;
}



.client-button{
  --background: var(--ion-color-primary);
}


.input{
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  margin: 1rem 0 0.5rem 0.5rem;
}

.contents-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}



.icon{
  font-size: 24px;

}
.bill{
  width: 100%;
}

.bill-header{
  font-size: 23px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping to the next line */
  scrollbar-width: thin; /* Optional: Customize scrollbar width (Firefox) */
  scrollbar-color: #ccc #f0f0f0; /* Optional: Customize scrollbar colors (Firefox) */
}

.mainCatImg{
  height: 200px;
  width: 100%;
}


// #name{
//  flex: 60%!important;
// }

.active-button {
  background-color: var(--ion-color-primary-shade); /* Change to your desired color */
  --background: var(--ion-color-primary-shade); /* Change to your desired color */
  color: #fff; /* Change to your desired text color */
}

.product-item{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  .prod-name{
    flex: 50%;
    #p-name{
      font-family: NoirProSemi !important;
    }
    .toppings-wrapper{
      margin-left: 10%;
      span{
        font-weight: 400;
        font-size: 14px;
        font-family: NoirProReg !important;
      }
    }
  }
  .price-wrapper{
    flex: 20%;
    text-align: start;
    display: flex;
    flex-direction: column;
    .prod-price{

    }
    .prod-discount{
      font-size: 12px;
      color: red;
      text-align: end;
    }
  }
  .prod-qty{
    flex: 20%;
    text-align: center;
  }

  .prod-total{
    flex: 20%;
    text-align: end;
  }
  .trash{
    height: 30px;
  }

}

.grey{
  --background: var(--ion-color-medium-tint);
  border: none!important;
}

.client-wrapper{
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  justify-content: space-between;
  text-align: center;
  .client-name{
    // width: 250px;
    flex: 30%;
    font-size: 18px !important;
  }
  .client-email{
    // width: 250px;
    flex: 30%;
    font-size: 18px !important;
  }
  .client-phone{
    // width: 250px;
    flex: 20%;
    font-size: 18px !important;
  }
  .client-cashBack{
    // width: 300px;
    margin-left: auto;
    flex: 20%;
    font-size: 18px !important;
  }
}



.bill{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}


.red-text{
  font-size: 22;
}
.red-lei{
  font-size: 20;
}

.total-lei{
  font-size: 24px;
}

.total-text{
  font-size: 28px;
}


.scroll {
  flex: 50%;
  position: relative;
  // overflow-y: scroll !important;
  right: -40px !important;

}
// .scoll::-webkit-scrollbar { display: none; }

.billl{
  flex: 50%;
  position: relative;
  // overflow-y: scroll !important;
  right: -18px !important;
}

ion-footer {
  background-color: rgba(255, 255, 255, 1) !important; /* Set the background color to fully opaque white */
}

