ion-content, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}



.main-toolbar{
  --background: var(--background-color) !important;
  --padding-top:12px;
  padding: 12px;
}

.second-toolbar{
  --background: var(--background-color) !important;
  padding: 0 12px;
  .header{
    background-color: rgba(var(--orange-rgb), 0.3);
    height: 60px;
    display: flex;
    flex-direction: row;
    font-family: RoseSemi !important;
    font-size: 20px;
    div{
      width: 100%;
      height: 100%;
      color: var(--orange-contrast1);
      display: flex;
      flex-direction: row;
      align-items: center;
      .value{
        font-family: RoseReg !important;
        margin-left: 8px
      }
    }
    .client{
      flex: 63%;
      margin: 0 28px 0 5px;
      .name{
        overflow: hidden;
        margin-left: 12px;
        flex: 40%
      }
      .email{
        overflow: hidden;
        flex: 60%;
      }
    }
    .masa{
      justify-content: center;
      flex: 12%;
    }
    .cashBack{
      flex: 25%;
      justify-content: center;
    }
  }
}



.contents-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  .menu-content{
    flex: 45%;
  }
  .bill-content{
    flex: 55%;
  }
}


.big, .small, .tips{
  font-family: RoseSemi !important;
}

ion-footer{
  background-color: var(--background-color) !important;

  ion-button{
    margin-top: 0.5rem;
  }
  .big{
    height: 125px !important;
    --background: var(--orange-contrast) !important;
    color: var(--light-orange) !important;
    ion-icon{
      color: var(--light-orange) !important;
    }
  }
  .small{
    font-size: 12px;
    height: 35px !important;
    ion-icon{
     font-size: 24px;
    }
  }

  .tips{
    height: 125px !important;
  }

  .tips, .small{
    --background:  rgba(var(--sand-rgb), 0.1) !important;
    --border-width: 1px !important;
    --border-radius: 8px !important;
    --border-color: var(--orange-contrast1) !important;
    color: var(--orange-contrast1) !important;
    ion-icon{
      color: var(--orange-contrast1) !important;
    }

  }
}


.hide{
  display: none;
}

.tablet{
  flex: 35% !important;
}



@media(max-width: 1200px){
  ion-toolbar.tool ion-title{
    margin: 0 !important;
  }
  ion-footer{
    height: 130px !important;

    ion-button{
      margin-top: 0.3rem !important;
    }
    .medium{
      height: 52px !important;
      font-size: 18px !important;
    }
    .big, .tips{
      height: 110px !important;
      font-size: 25px !important;
    }
    .small, .smalll{
      height: 33px !important;
    }
  }
  .back-button{
    height: 40px;
    width: 50px;
  }

  // .horizontal-scroll ion-button{
  //   height: 25px !important;
  //   font-size: 12px !important;
  // }



.header{
  height: 40px !important;
  font-size: 16px !important;
  .client{
    flex: 63%;
    margin: 0 28px 0 5px;
    .name{
      margin-left: 12px;
      flex: 40%
    }
    .email{
      flex: 60%;
    }
  }
  .masa{
    flex: 12%;
  }
  .cashBack{
    flex: 25%;
  }
}

}


