<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border tool">
    <ion-buttons slot="start">
      <ion-button routerLink="/tables" fill="outline">
        <ion-icon src="../../../assets/icon/close-outline.svg" (click)="home()" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="home()" *ngIf="data.showProd" fill="outline">
        <ion-icon src="../../../assets/icon/home-outline.svg" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="goBack()" *ngIf="!data.showMainCats" fill="outline">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>
       Masa: {{tableNumber}}
      </ion-title>
    <ion-buttons slot="end" class="horizontal-scroll">
      <ion-button class="ion-text-end" *ngFor="let bill of table.bills; let i = index;" fill="solid"  [ngClass]="{ 'active-button': bill.show }">
        <div [ngClass]="{ 'active-order': bill.show }"  *ngIf="!bill.setName && !hideTips">
          <ion-icon slot="start" src="../../../assets/icon/create-outline.svg"  [ngClass]="{ 'active-icon': bill.show }" (click)="editOrderName(i)"></ion-icon>
        </div>
        <div [ngClass]="{ 'active-order': bill.show }" style="text-transform: uppercase;" (click)="showOrder(i)" *ngIf="!bill.setName && !hideTips">
          <ion-label [id]="'orderName-' + i">{{bill.name === 'COMANDĂ' ? 'COMANDA'+ ' ' + (i+1) : bill.name}}</ion-label>
        </div>
        <div [ngClass]="{ 'active-order': bill.show }" style="text-transform: uppercase;" (click)="showOrder(i)" *ngIf="hideTips">
          <ion-label [id]="'orderName-' + i">{{'C' + ' ' + (i+1)}}</ion-label>
        </div>
        <ion-item *ngIf="bill.setName">
          <ion-input type="text" placeholder="Alege nume" *ngIf="bill.setName" [(ngModel)]="orderName" #addNameInput>
          </ion-input>
          <ion-icon slot="end" src="../../../assets/icon/arrow-forward-circle-outline.svg" [ngClass]="{ 'active-icon': bill.show }" *ngIf="bill.setName" (click)="setName(i)"></ion-icon>
        </ion-item>
      </ion-button>
      <ion-button (click)="newOrder()" *ngIf="table.bills.length" fill="outline" class="add-button">
        <ion-icon slot="start"  src="../../../assets/icon/add-outline.svg" class="add-icon"></ion-icon>
        <ion-label slot="end">COMANDĂ NOUĂ</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border" *ngIf="client">
  <ion-toolbar class="ion-no-border second-toolbar">
    <div class="header">
      <div class="client" >
        <div class="name">
          <span class="label">Nume:</span>
          <span class="value">{{client.name}}</span>
        </div>
        <div class="email">
          <span class="label">E-mail:</span>
          <span class="value">{{client.email}}</span>
        </div>
      </div>
      <div class="cashBack">
        <span class="label">CashBack:</span>
        <span class="value">{{client.cashBack}} Lei</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="contents-container">
      <app-meniu class="menu-content" [(data)]="data" [ngClass]="{'tablet': hideTips}"></app-meniu>
      <app-bill [billData$]="billData$" class="bill-content"></app-bill>
</div>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col [size]="tipsCol" [ngClass]="{'hide': hideTips}">
            <ion-button expand="block" size="large" fill="outline" (click)="inviteUserToTip()" class="tips">
              <ion-icon src="../../../assets/icon/business.svg" style="margin-right:12px;"></ion-icon>
           {{invite === 'invite' ? 'TIPS ?' : 'ANULEAZĂ'}}
            </ion-button>
            <ion-button expand="block" size="large" fill="outline" (click)="setOutServer()" class="tips">
              <ion-icon [src]=" secondaryServer ? '../../../assets/icon/refresh-outline.svg' : '../../../assets/icon/add-outline.svg'" style="margin-right:12px;"></ion-icon>
           terasa
            </ion-button>
          </ion-col>
          <ion-col [size]="smallCol">
            <ion-button expand="block" fill="outline" size="small" (click)="mergeOrders()" [disabled]="disableMerge"  class="small">
              <ion-icon src="../../../assets/icon/hug.svg" style="font-size:18px; padding: 5px;"></ion-icon>
              UNEȘTE COMENZI
            </ion-button>
            <ion-button expand="block" fill="outline" size="small" (click)="breakOrder()" [disabled]="disableAction"  class="small">
              <ion-icon src="../../../assets/icon/separa_comanda.svg"></ion-icon>
              SEPARĂ COMANDA
            </ion-button>
            <ion-button expand="block" fill="outline" size="small" (click)="deleteOrder()" class="small">
              <ion-icon src="../../../assets/icon/sterge comanda.svg"></ion-icon>
              STERGE COMANDA
            </ion-button>
          </ion-col>
          <ion-col [size]="smallCol">
            <ion-button (click)="addCustomer(clientMode)" fill="outline" expand="block" class="small" [disabled]="billData.billToshow && !billData.billToshow.products.length">
              <ion-icon [src]=" clientMode ? '../../../assets/icon/adauga_client.svg': '../../../assets/icon/scoate_client.svg'" size="medium"></ion-icon>
              {{clientMode ? 'ADAUGĂ CLIENT' : "SCOATE  CLIENT"}}
            </ion-button>
            <ion-button size="small" fill="outline" expand="block" (click)="useCashBack(cashBackMode)" *ngIf="client" class="small">
              <ion-icon src="../../../assets/icon/foloseste_cashback.svg"></ion-icon>
              {{ cashBackMode ? 'FOLOSEȘTE CASHBACK' : 'ELIMINĂ CASH BACK'}}
             </ion-button>
             <ion-button size="small" fill="outline" expand="block" (click)="addDiscount()" *ngIf="!client"  class="small">
              <ion-icon src="../../../assets/icon/adauga_reducere.svg"></ion-icon>
              {{ discountMode ? 'ADAUGĂ REDUCERE' : 'ELIMINĂ REDUCEREA'}}
             </ion-button>
             <ion-button size="small" fill="outline" expand="block" (click)="addTips()" class="small">
              <ion-icon src="../../../assets/icon/adauga_bacsis.svg"></ion-icon>
             ADAUGA BACSIS
             </ion-button>
          </ion-col>
          <ion-col [size]="sendCol" *ngIf="secondaryServer">
          <ion-button size="large" expand="block"  (click)="sendOrder(true, true).subscribe()" [disabled]="disableOrderButton || !billData.billToshow.products.length" class="big">
            <ion-icon src="../../../assets/icon/send-outline.svg"></ion-icon>
            TERASĂ
          </ion-button>
          </ion-col>
          <ion-col [size]="sendCol">

            <ion-button size="large" expand="block" (click)="sendOrder(true, false).subscribe()" [disabled]="disableOrderButton || !billData.billToshow.products.length" class="big">
              <ion-icon src="../../../assets/icon/send-outline.svg"></ion-icon>
             {{secondaryServer ? 'Interior' : 'TRIMITE'}}
            </ion-button>
          </ion-col>
          <ion-col [size]="billCol">
            <ion-button size="large" expand="block"  (click)="payment()" [disabled]="disableOrderButton || !billData.billToshow.products.length" class="big">
              <ion-icon src="../../../assets/icon/nota de plata.svg"></ion-icon>
              NOTĂ DE PLATĂ
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>
