ion-content{
  --background: var(--ion-color-tertiary) !important;
}

.main-toolbar{
  --background: var(--ion-color-tertiary) !important;
  --padding-top:12px;
  padding: 12px;
}

.second-toolbar{
  --background: var(--ion-color-tertiary) !important;
  padding: 0 12px;
}

ion-footer{
  background-color: var(--ion-color-tertiary) !important;
  // height: 200px;

  ion-button{
    margin-top: 0.5rem;
  }
  .big{
    height: 125px !important;
  }
  .small{
    height: 35px !important;
    font-size: 12px;
  }
}

.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  font-family: NoirProReg !important;
  font-size: 20px;
  div{
    background-color: var(--ion-color-medium);
    width: 100%;
    height: 100%;
    color: var(--ion-color-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    .value{
      font-family: NoirProSemi !important;
      margin-left: 8px
    }
  }
  .client{
    flex: 63%;
    margin: 0 28px 0 5px;
    .name{
      overflow: hidden;
      margin-left: 12px;
      flex: 40%
    }
    .email{
      overflow: hidden;
      flex: 60%;
    }
    div{
      .value{
        font-family: NoirProSemi !important;
        margin-left: 8px
      }
    }
  }
  .masa{
    justify-content: center;
    flex: 12%;
  }
  .cashBack{
    flex: 25%;
    justify-content: center;
  }
}


.navigation-buttons{
  width: 300px;
}

span, ion-title, ion-card-subtitle, ion-label, ion-button, div{
  font-family: NoirProSemi, sans-serif !important;
}


.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.masa{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  width: 140px !important;
  height: 45px;
}


.back-button{
  --background: var(--ion-color-medium);
  height: 45px;
  width: 70px;
  --color: var(--ion-color-light)
}




.contents-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  .menu-content{
    flex: 45%;
  }
  .bill-content{
    flex: 55%;
  }
}



ion-icon{
  font-size: 20px;
  margin-right: 12px;
}

.icon{
  font-size: 20px !important;
  margin: none !important;
}


.add-button{
  --background: var(--ion-color-light);
  margin: 0 12px 0 12px;

  .add-icon{
    color: var(--ion-color-medium);
    font-size: 24px;
  }
}


.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
  ion-button{
    height: 45px;
    font-size: 13px !important;
    ion-label{
      font-size: 13px !important;
    }
  }
}


.active-button {
  background-color: var(--ion-color-medium);
  --background: var(--ion-color-medium);
  color: var(--ion-color-light);
  text-transform: uppercase !important;
}


.client-wrapper{
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  justify-content: space-between;
  text-align: center;
  .client-name{
    flex: 30%;
    font-size: 18px !important;
  }
  .client-email{
    flex: 30%;
    font-size: 18px !important;
  }
  .client-cashBack{
    margin-left: auto;
    flex: 20%;
    font-size: 18px !important;
  }
}


.loading{
  display: flex;
  flex-direction: row;
  height: 90vh;
  align-items: center;
  ion-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.hide{
  display: none;
}

.tablet{
  flex: 35% !important;
}



@media(max-width: 1200px){
  ion-footer{
    height: 130px !important;

    ion-button{
      margin-top: 0.3rem !important;
    }
    .medium{
      height: 52px !important;
      font-size: 18px !important;
    }
    .big{
      height: 110px !important;
      font-size: 25px !important;
    }
    .small, .smalll{
      height: 33px !important;
    }
  }
  .back-button{
    height: 40px;
    width: 50px;
  }

  .masa{
    font-size: 16px;
    width: 100px !important;
    height: 40px !important;
  }

  .horizontal-scroll ion-button{
    height: 25px !important;
    font-size: 12px !important;
  }



.header{
  height: 40px !important;
  font-size: 16px !important;
  .client{
    flex: 63%;
    margin: 0 28px 0 5px;
    .name{
      margin-left: 12px;
      flex: 40%
    }
    .email{
      flex: 60%;
    }
  }
  .masa{
    flex: 12%;
  }
  .cashBack{
    flex: 25%;
  }
}

}


