<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tables" *ngIf="showMainCats">
      </ion-back-button>
      <ion-button (click)="goBack()" *ngIf="!showMainCats">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
     Masa {{tableNumber}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row class="container">
    <ion-col size-lg="5" size-md="12">
      <ion-grid>
        <ion-row *ngIf="showMainCats">
            <ion-col size="6" *ngFor="let mainCat of getObjectKeys(mainCats)">
              <ion-card (click)="showCategories(mainCat)">
                <img alt="main category image" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-title  class="title">{{mainCat}}</ion-title>
              </ion-card>
            </ion-col>
        </ion-row>
         <ion-row *ngIf="showCats">
            <ion-col size="4" *ngFor="let cat of categoriesToShow; let i = index">
              <ion-card (click)="showProducts(i, cat.mainCat)">
                <img alt="category image" [src]="cat.image.path" />
                <ion-card-subtitle class="small-title">{{cat.name}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showProd">
            <ion-col size="4" *ngFor="let product of productsToShow">
              <ion-card (click)="addToBill(product)">
                  <img alt="image" class="prod-img" [src]="modifyImageURL(product.image.path)" />
                <ion-card-subtitle class="small-title">{{product.name}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
         </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size-lg="7" size-md="12">
      <ion-grid class="bill">
        <ion-row class="bill-header-row" *ngIf="billProducts.length">
          <ion-col size="12" class="ion-text-center ">
            <ion-item class="product-item bill-header" lines="none">
                <span class="prod-name">Nume</span>
                <span class="prod-price">Pret</span>
                <div style="width:15px"></div>
                <span class="prod-qty">Qty</span>
                <div style="width:25px"></div>
                <span class="prod-total">Total</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="bill-content-row">
          <ion-col size="12">
            <ion-item class="product-item input" lines="none" *ngFor="let product of billProducts; let i = index">
              <ion-thumbnail slot="start">
                <img alt="image" [src]="modifyImageURL(product.imgPath)"/>
              </ion-thumbnail>
              <div class="prod-name">
                <ion-label>{{product.name}}</ion-label>
                <div class="toppings-wrapper" *ngIf="product.toppings.length">
                  <span *ngFor="let topping of product.toppings">+{{topping}}</span>
                </div>
              </div>
                <ion-label class="prod-price">{{product.price}}</ion-label>
                <ion-button size="medium" color="secondary" (click)="redProd(i)">-</ion-button>
                <ion-label class="prod-qty">{{product.quantity}}</ion-label>
                <ion-button size="medium" color="secondary"(click)="addProd(i)">+</ion-button>
                <ion-label class="prod-total">{{product.total}} Lei</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="bill-total-row" *ngIf="bill && bill.products.length">
          <ion-col size="10">
            <span class="total-text">TOTAL</span>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <span class="total-lei">{{bill.total}} Lei</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="bill && bill.products.length">
          <ion-col size="4" offset="4">
            <ion-button size="mediun" color="secondary" (click)="sendOrder()">
              Trimite Comanda
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="mediun" color="primary" (click)="sendBill()">
              Nota de plată
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
