
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Reducere</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="adBasDsicounts()">
        <ion-icon src="../../../assets/icon/add-circle.svg" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper">
  <ion-grid>
    <ion-searchbar mode="ios" [(ngModel)]="categoriesSearch"  placeholder="Caută Categorie"  (ionInput)="searchCategory($event)" #searchbar (keyup.enter)="setCat()">
    </ion-searchbar>
    <ion-item *ngFor="let cat of categories; let i = index" class="ing-name" (click)="selectCat(cat)">
      <div>
        <span class="name">{{cat.name}}</span>
        <div class="ing-info-wrapper">
          <span class="main-cat">{{cat.mainCat}}</span>
        </div>
      </div>
    </ion-item>

    <form [formGroup]="form">
  <ion-row *ngIf="!setDiscountForAll">
    <ion-col>
      <ion-title class="ion-text-center">Discount general</ion-title>
      <ion-item lines="none" class="input">
        <ion-input type="number" label="Discount General %" labelPlacement="floating" placeholder="Ex 10%" formControlName="generalDiscount"></ion-input>
    </ion-item>
      <ion-item lines="none" class="input">
        <ion-input type="number" label="Cash Back %" labelPlacement="floating" placeholder="Ex 10%" formControlName="cashBackProcent"></ion-input>
    </ion-item>
      </ion-col>
  </ion-row>
  </form>
  <ion-title *ngIf="discountsCats.length" class="ion-text-center">Discount pe categorii de produse</ion-title>
  <ion-item *ngFor="let discount of discountsCats; let i = index" lines="none" class="input">
    <ion-label slot="start">{{discount.name}}</ion-label>
    <ion-buttons slot="end">
        <ion-button (click)="deleteDiscount(i)">
          <ion-icon src="'../../../../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-label slot="end">{{discount.precent}} %</ion-label>
  </ion-item>
    </ion-grid>
  </ion-content>


  <ion-footer>
    <ion-button color="primary" (click)="onSubmit()" class="ion-padding submit" size="large" expand="block">ADAUGĂ</ion-button>
  </ion-footer>
