ion-content, ion-toolbar, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}

  ion-title, ion-button, ion-searchbar{
  font-family: RoseMed !important;
}



.header-toolbar{
  padding: 24px 0 12px 0;
  margin-left: 48px;
  width: 89%;
  border-bottom: 1.2px solid var(--grey);
  font-family: RoseMed !important;
  ion-title{
    font-size: 36px;
  }
  ion-buttons{
    ion-button{
      --padding-bottom: 14px;
      --padding-end: 14px;
      --padding-top: 14px;
      --padding-start: 14px;
      --border-radius: 50%;
      --border-width: 1px;
      margin-right: 12px;
    }
  }
}

.party{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.1rem 0;
  font-size: 22px;
  padding: 12px 12px 12px 24px;
  border: 1.5px solid var(--grey);
  border-radius: 6px;
  height: 100%;
  font-family: RoseMed !important;
  .name{
      width: 100%;
      display: flex;
      flex-direction: column;
      .label{
          flex: 20%;
          text-align: center;
          font-size: 14px !important;
          margin-bottom: 5px;
      }
      .value{
          flex: 80%;
          text-align: center;
      }
  }
}

.footer-button{
  margin: 0 24px 24px 0;
}


.header{
  width: 96%;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  margin: 0 36px 0 24px;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--grey);
  font-family: RoseReg !important;
}

.header, .nir-container{
  .id{
    flex: 5%
  }
  .date{
    flex: 18%;
  }

  .suplier{
    flex: 37%
  }
  .total{
    flex: 20%;
  }

  .doc{
    flex: 20%;
  }
}



.nir-container{
  cursor: pointer;
  font-family: RoseLight !important;
  width: 96%;
  margin: 0 36px 0 24px;
  padding: 8px 18px;
  border-bottom: 0.5px solid var(--grey);
  display: flex;
  align-items: center;
  font-size: 14px;
}


.selected{
  background-color: var(--ion-color-warning) !important;
  span{
    color: var(--ion-color-medium) !important;
  }
}


.nir-container:hover{
  background-color: var(--grey);
  span{
    color: var(--ion-color-medium) !important;
    font-family: RoseReg !important;
  }
}
