


ion-content, ion-toolbar, ion-header, ion-footer{
  --background:var(--background-color) !important;
  background-color:var(--background-color) !important;
}





.secod-header{
  padding-top: 12px;
  // margin: 0 28px;
  // width: 96%;
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.6);
}


.header, .record-wrapper{
  display: flex;
  align-items: center;
  padding: 0 24px;
  .data{
    flex: 20%;
  }
  .type{
    text-align: center;
    flex: 15%;
  }
  .doc{
    text-align: center;
    flex: 15%
  }
  .number{
    flex: 20%
  }
  .credit{
    flex: 10%;
  }
  .debit{
    flex: 10%;
  }
  .sold{
    flex: 10%
  }
}

.totals{
  display: flex;
  align-items: center;
  padding: 24px 24px;
  font-size: 20px;
  font-family: RoseMed !important;
  .label{
    flex: 70%;
  }
  .credit{
    flex: 10%;
  }
  .debit{
    flex: 10%;
  }
  .sold{
    flex: 10%
  }
}

.header{
  font-family: RoseMed !important;
}

.input{
  font-family: RoseReg !important;
  padding: 8px 24px;
  font-size: 16px;
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}
