




<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <div class="title">
      <span class="name">Produs Nou</span>
      <span class="title-label">Completează formularul pentru a salva noile date!</span>
    </div>
    <ion-button slot="end" fill="ghost" style="margin-right: 36px;">
      <ion-icon src="../../../../assets/icon/close-outline.svg" color="medium" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="form">
    <section>
      <ion-row>
        <ion-col size="4">
          <div class="section-label">
            <span class="label-title">Informații Generale</span>
            <span class="label-sub-title">Completează informațiile generale ale produsului.</span>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="inputs-wrapper">
            <div  class="input">
              <ion-input  type="text" label="Denumire Produs" labelPlacement="floating" placeholder="Ex. Caffe Latte" fill="outline" formControlName="name"></ion-input>
            </div>
            <div  class="input">
              <ion-input  type="text" label="Cantitate" labelPlacement="floating" placeholder="Ex. 300 ml" fill="outline" formControlName="qty"></ion-input>
            </div>
            <div class="input">
              <ion-input   type="number" label="Preț / Lei" labelPlacement="floating" placeholder="Ex. 24" fill="outline" formControlName="price"></ion-input>
            </div>
          </div>

          <div class="inputs-wrapper">
            <div  class="input">
              <ion-select label="TVA" placeholder="TVA" fill="outline" formControlName="tva">
                <ion-select-option value="19">19%</ion-select-option>
                <ion-select-option value="9">9%</ion-select-option>
                <ion-select-option value="5">5%</ion-select-option>
                <ion-select-option value="0">0%</ion-select-option>
              </ion-select>
            </div>
             <div  class="input">
               <ion-input  type="number" label="Poziție" labelPlacement="floating" placeholder="Ex. 1 Pentru prima pozitie" fill="outline" formControlName="order"></ion-input>
             </div>
              <div  class="input">
                <ion-select label="Departament" fill="outline" placeholder="Departament"  labelPlacement="floating" formControlName="dep">
                  <ion-select-option value="marfa">Marfă</ion-select-option>
                  <ion-select-option value="productie">Productie</ion-select-option>
                </ion-select>
              </div>
            </div>
            <div class="inputs-wrapper">
              <div  class="input">
                <ion-select label="Imprimantă" placeholder="Alege imprimanta" fill="outline" labelPlacement="floating" formControlName="printer">
                  <ion-select-option value="kitchen">Bucătarie</ion-select-option>
                  <ion-select-option value="barista">Barista</ion-select-option>
                  <ion-select-option value="main">Principală</ion-select-option>
                </ion-select>
            </div>
              <div class="toggle-input">
                <ion-toggle  [enableOnOffLabels]="true" justify="space-between" [checked]="product && product.printOut">Printează pe terasă</ion-toggle>
              </div>
              <div class="toggle-input">
                <ion-toggle  [enableOnOffLabels]="true" justify="space-between"  [checked]="product && product.sgrTax">Aplică taxa SGR</ion-toggle>
              </div>
            </div>
        </ion-col>
      </ion-row>
    </section>
  </form>
  </ion-grid>
</ion-content>






























<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
      <ion-back-button defaultHref="office/products" slot="start">
      </ion-back-button>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-title class="ion-text-center">Informații Generale</ion-title>
        </ion-col>
        <ion-col size="6">
          <ion-title class="ion-text-center">Adauga Ingrediente / Extra</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title class="ion-text-center">Adaugă Sub Produse</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3.5">
        <form [formGroup]="form">
          <div class="wrapper">
            <div  class="input">
              <ion-input mode="ios" type="text" label="Denumire Produs" labelPlacement="floating" fill="outline" formControlName="name"></ion-input>
            </div>

            <div class="input">
              <ion-input  mode="ios" type="number" label="Preț / Lei" labelPlacement="floating" fill="outline" formControlName="price"></ion-input>
            </div>
          </div>

          <div class="wrapper">
            <div  class="input">
              <ion-input mode="ios" type="text" label="Cantitate" labelPlacement="floating" fill="outline" formControlName="qty"></ion-input>
            </div>

            <div  class="input">
              <ion-input  mode="ios" type="number" label="Poziție" labelPlacement="floating" fill="outline" formControlName="order"></ion-input>
            </div>
          </div>

          <div class="wrapper">
            <div  class="input">
              <ion-select placeholder="Alege Categorie Parinte" formControlName="mainCat">
                <ion-select-option *ngFor="let mainCat of mainCats" [value]="mainCat.name">{{mainCat.name | capitalize}}</ion-select-option>
              </ion-select>
            </div>

            <div class="input">
              <ion-select placeholder="Alege Categorie Produs" formControlName="cat">
                <ion-select-option *ngFor="let cat of categoriesToshow" [value]="cat._id">{{cat.name}}</ion-select-option>
              </ion-select>
              <ion-icon src="assets/icon/add-circle.svg" color="medium" class="cat-icon" (click)="addCat()"></ion-icon>
            </div>
          </div>


          <div class="wrapper">
            <div  class="input" *ngIf="isTva">
              <ion-select label="TVA" placeholder="TVA" formControlName="tva">
                <ion-select-option value="19">19%</ion-select-option>
                <ion-select-option value="9">9%</ion-select-option>
                <ion-select-option value="5">5%</ion-select-option>
                <ion-select-option value="0">0%</ion-select-option>
              </ion-select>
            </div>

            <div  class="input">
              <ion-select label="Taxă ambalaj"  formControlName="sgrTax">
                <ion-select-option [value]="true">Da</ion-select-option>
                <ion-select-option [value]="false">Nu</ion-select-option>
              </ion-select>
            </div>
          </div>
          <div class="wrapper">
            <div  class="input">
              <ion-select label="Departament"  formControlName="dep">
                <ion-select-option value="marfa">Marfă</ion-select-option>
                <ion-select-option value="productie">Productie</ion-select-option>
              </ion-select>
            </div>
            <div  class="input">
                <ion-select label="Imprimantă"  formControlName="printer">
                  <ion-select-option value="kitchen">Bucătarie</ion-select-option>
                  <ion-select-option value="barista">Barista</ion-select-option>
                  <ion-select-option value="main">Principală</ion-select-option>
                </ion-select>
            </div>
          </div>
          <div  class="input">
            <ion-select label="Se printează pe terasă"  formControlName="printOut">
              <ion-select-option [value]="true">Da</ion-select-option>
              <ion-select-option [value]="false">Nu</ion-select-option>
            </ion-select>
          </div>


        <div  class="input">
          <ion-textarea  mode="ios" type="text" label="Descriere" labelPlacement="floating" fill="outline" formControlName="description"></ion-textarea>
        </div>
        <div  class="input">
          <ion-textarea  mode="ios" type="text" label="Descriere detaliată" labelPlacement="floating" fill="outline" formControlName="longDescription"></ion-textarea>
        </div>
        <div  class="input">
          <ion-textarea class="recipe"  mode="ios" type="text" label="Descriere mod de preparare" labelPlacement="floating" fill="outline" formControlName="recipe"></ion-textarea>
        </div>
        <div class="image-wrapper">
        <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
        </div>
      </form>

      </ion-col>
      <ion-col size="6">
        <app-recipe-maker
        (ingsSend)="onIngRecive($event)"
        (toppSend)="onTopRecive($event)"
        [ingPage]="false"
        [top]="topToEdit"
        [ings]="ingsToEdit"
        [hideIng]="hideIng"
        ></app-recipe-maker>
      </ion-col>
      <ion-col size="2.5">

        <div class="sub-product-container">
            <ion-button expand="block" color="medium" (click)="addSubProduct()">
              <ion-label slot="start">Adaugă Sub produs</ion-label>
              <ion-icon slot="end" src="assets/icon/add-circle-outline.svg"></ion-icon>
            </ion-button>
            <ion-item lines="none" class="input" *ngFor="let sub of subProducts; let i = index">
              <ion-label slot="start" class="name">{{i+1+ ' '}}{{sub.name}}</ion-label>
              <ion-buttons class="button" slot="end">
                <ion-button color="medium" fill="clear" class="trash" (click)="deleteSub(i, sub._id)">
                  <ion-icon src="assets/icon/trash-outline.svg"></ion-icon>
                </ion-button>
                <ion-button (click)="onSubEdit(i)">
                  <ion-icon src="assets/icon/create-outline.svg"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            <ion-item lines="none" class="input" *ngFor="let sub of tempSubArray; let i = index">
              <ion-label slot="start" class="name">{{i+1+ ' '}}{{sub.name}}</ion-label>
              <ion-buttons class="button" slot="end">
                <ion-button color="medium" fill="clear" class="trash" (click)="deleteSub(i, sub._id)">
                  <ion-icon src="assets/icon/trash-outline.svg"></ion-icon>
                </ion-button>
                <ion-button (click)="onSubEdit(i)">
                  <ion-icon src="assets/icon/create-outline.svg"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button size="large" expand="block"(click)="saveProduct()" color="medium" [disabled]="!form.valid">{{editMode ? "Editează" : "Salvează"}} Produsl</ion-button>
</ion-footer> -->
