




<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-button class="header-buttons" slot="start" fill="outline" (click)="close()" color="medium">
      <ion-label slot="start" size="large">Închide</ion-label>
      <ion-icon slot="end" src="../../../../assets/icon/close-outline.svg" color="medium"></ion-icon>
    </ion-button>

    <ion-button class="header-buttons" slot="end" fill="outline" color="medium" [disabled]="product._id.length < 1" (click)="deleteProduct()">
      <ion-label slot="start" size="large">Șterge</ion-label>
      <ion-icon slot="end" src="../../../../assets/icon/trash-outline.svg" color="medium"></ion-icon>
    </ion-button>
  </ion-toolbar>
    <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="selectSegment($event)">
      <ion-segment-button value="general">
        <ion-label>General</ion-label>
      </ion-segment-button>
      <ion-segment-button value="image">
        <ion-label>Imagine</ion-label>
      </ion-segment-button>
      <ion-segment-button value="recipe">
        <ion-label>Rețetă</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sub">
        <ion-label>Sub Produse</ion-label>
      </ion-segment-button>
      <ion-segment-button value="report">
        <ion-label>Raport</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>




<ion-content #content [fullscreen]="true">
  <ion-grid>
    <section *ngIf="report">
      <app-report [product]="product" ></app-report>
    </section>
    <form [formGroup]="form">
    <section *ngIf="general">
      <section class="section">
        <ion-row>
          <ion-col size="4">
            <div class="section-label">
              <span class="label-title">Informații Generale</span>
              <span class="label-sub-title">Completează informațiile generale ale produsului.</span>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="inputs-wrapper">
              <div  class="input">
                <ion-input  type="text" label="Denumire Produs" labelPlacement="floating" placeholder="Ex. Caffe Latte" fill="outline" formControlName="name" [required]="true"></ion-input>
              </div>
              <div  class="input">
                <ion-input  type="text" label="Cantitate" labelPlacement="floating" placeholder="Ex. 300 ml" fill="outline" formControlName="qty" [required]="true"></ion-input>
              </div>
              <div class="input">
                <ion-input   type="number" label="Preț / Lei" labelPlacement="floating" placeholder="Ex. 24" fill="outline" formControlName="price" [required]="true"></ion-input>
              </div>
            </div>
            <div class="inputs-wrapper">
              <div  class="input">
                <ion-select label="TVA" placeholder="TVA" fill="outline" formControlName="tva">
                  <ion-select-option value="19">19%</ion-select-option>
                  <ion-select-option value="9">9%</ion-select-option>
                  <ion-select-option value="5">5%</ion-select-option>
                  <ion-select-option value="0">0%</ion-select-option>
                </ion-select>
              </div>
               <div  class="input">
                 <ion-input  type="number" label="Poziție" labelPlacement="floating" placeholder="Ex. 1 Pentru prima pozitie" fill="outline" formControlName="order" [required]="true"></ion-input>
               </div>
                <div  class="input">
                  <ion-select label="Departament" fill="outline" placeholder="Departament"  labelPlacement="floating" formControlName="dep" [required]="true">
                    <ion-select-option value="marfa">Marfă</ion-select-option>
                    <ion-select-option value="productie">Productie</ion-select-option>
                  </ion-select>
                </div>
              </div>
              <div class="inputs-wrapper">
                <div  class="input">
                  <ion-select label="Imprimantă" placeholder="Alege imprimanta" fill="outline" labelPlacement="floating" formControlName="printer" [required]="true">
                    <ion-select-option value="kitchen">Bucătarie</ion-select-option>
                    <ion-select-option value="barista">Barista</ion-select-option>
                    <ion-select-option value="main">Principală</ion-select-option>
                  </ion-select>
              </div>
                <div class="toggle-input">
                  <ion-toggle  [enableOnOffLabels]="true" justify="space-between"  formControlName="printOut">Printează pe terasă</ion-toggle>
                </div>
                <div class="toggle-input">
                  <ion-toggle  [enableOnOffLabels]="true" justify="space-between"   formControlName="sgrTax">Aplică taxa SGR</ion-toggle>
                </div>
              </div>
          </ion-col>
        </ion-row>
      </section>
      <section class="section">
        <ion-row>
          <ion-col size="4">
            <div class="section-label">
              <span class="label-title">Categorii</span>
              <span class="label-sub-title">Alege categoria principală și subcategoria produsului.</span>
            </div>
          </ion-col>
          <ion-col size="8">
            <app-categories [mainCats]="mainCats" [kill]="kill" [addPage]="true" (mainCat)="reciveMainCat($event)"></app-categories>
          </ion-col>
        </ion-row>
      </section>
    </section>

      <section *ngIf="image">
        <section  class="section">
          <ion-row>
            <ion-col size="4">
              <div class="section-label">
                <span class="label-title">Descriere</span>
                <span class="label-sub-title">Descrie produsul pentru meniu si modul de preparare pentru rețetar.</span>
              </div>
            </ion-col>
            <ion-col size="8">
              <div  class="description-wrapper">
                <ion-textarea  type="text"  label="Descriere pentru meniu" labelPlacement="floating" fill="outline" formControlName="description" [required]="true"></ion-textarea>
                <ion-textarea class="recipe"  type="text" label="Mod de preparare" labelPlacement="floating" fill="outline" formControlName="recipe" [required]="true"></ion-textarea>
              </div>
            </ion-col>
          </ion-row>
        </section>

        <section class="section">
          <ion-row>
            <ion-col size="4">
              <div class="section-label">
                <span class="label-title">Imagine</span>
                <span class="label-sub-title">Adaugă o imagine produsului.</span>
              </div>
            </ion-col>
            <ion-col size="8">
              <app-cloudinary-picker [images]="product.image" (imagesToSend)="getImages($event)"></app-cloudinary-picker>
            </ion-col>
          </ion-row>
        </section>
      </section>

    <!-- <ion-button size="large" expand="block"(click)="saveProduct()" color="medium" [disabled]="!form.valid">{{editMode ? "Editează" : "Salvează"}} Produsl</ion-button> -->


    <section *ngIf="recipe" style="margin-top: 48px;" class="section">
      <ion-row style="border-bottom: 1px solid var(--grey);">
        <ion-col size="4">
          <div class="section-label">
            <span class="label-title">Rețetă</span>
            <span class="label-sub-title">Adaugă ingredientele produsului și topingurile după caz.</span>
          </div>
        </ion-col>
        <ion-col size="8">
          <app-recipe-maker
          (ingsSend)="onIngRecive($event)"
          (toppSend)="onTopRecive($event)"
          [ingPage]="false"
          [top]="product.toppings"
          [ings]="product.ings"
          [hideIng]="hideIng"
          ></app-recipe-maker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div class="section-label">
            <span class="label-title">Valori nutriționale</span>
            <span class="label-sub-title">Generează valorile nutriționale <br> după ce ai adaugat ingredientele în rețetă.</span>
          </div>
        </ion-col>
        <ion-col size="2" style="display: flex; flex-direction: column; align-items: baseline;justify-content: flex-end;">
          <ion-button mode='md'  fill="outline" color="medium" (click)="getNutritionValues()" >
            <ion-label slot="start" size="large">Generează</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <div class="nutrition-title">100g produs</div>
          <div class="ingredient-wrapper">
            <div class="box"></div>
            <div>Valoare energetică - {{product.nutrition.energy.kcal}} kcal / {{product.nutrition.energy.kJ}} kJ </div>
          </div>
          <div class="ingredient-wrapper">
            <div class="box"></div>
            <div>Grăsimi - {{product.nutrition.fat.all}} gr / din care acizi saturati - {{product.nutrition.fat.satAcids}} gr</div>
          </div>
          <div class="ingredient-wrapper">
            <div class="box"></div>
            <div>Gluciude - {{product.nutrition.carbs.all}} gr / din care zaharuri - {{product.nutrition.carbs.sugar}} gr</div>
          </div>
          <div class="ingredient-wrapper">
            <div class="box"></div>
            <div>Sare - {{product.nutrition.salts}} gr</div>
          </div>
          <div class="ingredient-wrapper">
            <div class="box"></div>
            <div>Proteine - {{product.nutrition.protein}} gr</div>
          </div>
          <div  class="allergens">
            <ion-input  type="text" label="Alergeni" labelPlacement="floating" placeholder="Ex. lapte, ou" fill="outline" formControlName="allergens"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </section>

    <section *ngIf="sub" style="margin-top: 88px;" class="section">
      <ion-row>
        <ion-col size="4">
          <div class="section-label">
            <span class="label-title">Sub Produse</span>
            <span class="label-sub-title">Adaugă sub produse la acest produs.</span>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="sub-wrapper">
            <div class="subProduct ion-activatable ripple-parent rounded-rectangle" *ngFor="let sub of product.subProducts; let i = index">
              <ion-label  class="name" (click)="onSubEdit(i)">{{sub.name}}</ion-label>
              <div class="status">
                <ion-toggle color="medium" [enableOnOffLabels]="true"  (ionChange)="subStatus($event, sub._id, i)" [checked]="sub.available"></ion-toggle>
              </div>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
            <div class="subProduct ion-activatable ripple-parent rounded-rectangle" *ngFor="let sub of tempSubArray; let i = index" (click)="onTempEdit(i)">
              <ion-label  class="name">{{sub.name}}</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
            <div  class="add-sub-button ion-activatable ripple-parent rounded-rectangle" (click)="addSubProduct()">
              <ion-label  class="name">Sub Produs Nou</ion-label>
              <ion-icon src="../../../../assets/icon/add-outline.svg"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </section>

  </form>
  </ion-grid>
</ion-content>



<ion-footer mode="ios" [translucent]="true" class="ion-no-border" *ngIf="!report">
  <ion-toolbar>
    <ion-button mode='md' class="footer-button" slot="end" fill="outline" color="medium" size="large" [disabled]="!form.valid || !productCategory || !productMainCat" (click)="saveProduct()" >
       <ion-label slot="start" size="large" >{{editMode ? "Editează" : "Salvează"}}</ion-label>
       <ion-icon slot="end" src="../../../../assets/icon/checkmark-outline.svg" color='medium' ></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-footer>

























