<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/office/products">

      </ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-title class="ion-text-center">Informații Generale</ion-title>
        </ion-col>
        <ion-col size="6">
          <ion-title class="ion-text-center">Adauga Ingrediente / Extra</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title class="ion-text-center">Adaugă Sub Produse</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <form [formGroup]="form">
        <ion-item lines="none" class="input">
          <ion-input mode="ios" type="text" label="Nume" labelPlacement="floating" fill="outline" formControlName="name"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-select placeholder="Alege Categorie Parinte" formControlName="mainCat">
            <ion-select-option *ngFor="let mainCat of mainCats" [value]="mainCat.name">{{mainCat.name | capitalize}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="categoriesToshow.length">
          <ion-select placeholder="Alege Categorie Produs" formControlName="cat">
            <ion-select-option *ngFor="let cat of categoriesToshow" [value]="cat._id">{{cat.name}}</ion-select-option>
          </ion-select>
          <img src="assets/icon/add-circle.svg" id="add-cat" (click)="addCat()">
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-input mode="ios" type="text" label="Cantitate" labelPlacement="floating" fill="outline" formControlName="qty"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-input  mode="ios" type="number" label="Preț" labelPlacement="floating" fill="outline" formControlName="price"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-input  mode="ios" type="number" label="Poziție" labelPlacement="floating" fill="outline" formControlName="order"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input" *ngIf="isTva">
            <ion-select label="TVA la vanzare" placeholder="TVA" formControlName="tva">
              <ion-select-option value="19">19%</ion-select-option>
              <ion-select-option value="9">9%</ion-select-option>
              <ion-select-option value="5">5%</ion-select-option>
              <ion-select-option value="0">0%</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="none" class="input">
            <ion-select label="Departament"  formControlName="dep">
              <ion-select-option value="marfa">Marfă</ion-select-option>
              <ion-select-option value="productie">Productie</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="none" class="input">
            <ion-select label="Imprimantă"  formControlName="printer">
              <ion-select-option value="kitchen">Bucătarie</ion-select-option>
              <ion-select-option value="barista">Barista</ion-select-option>
              <ion-select-option value="main">Principală</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-select label="Aplică taxă ambalaj"  formControlName="sgrTax">
            <ion-select-option [value]="true">Da</ion-select-option>
            <ion-select-option [value]="false">Nu</ion-select-option>
          </ion-select>
          </ion-item>
        <ion-item lines="none" class="input">
          <ion-textarea  mode="ios" type="text" label="Descriere" labelPlacement="floating" fill="outline" formControlName="description" class="big"></ion-textarea>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-textarea  mode="ios" type="text" label="Descriere detaliată" labelPlacement="floating" fill="outline" formControlName="longDescription" class="big"></ion-textarea>
        </ion-item>
        <div class="input">
        <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
        </div>
      </form>

      </ion-col>
      <ion-col size="6">
        <app-recipe-maker
        (ingsSend)="onIngRecive($event)"
        (toppSend)="onTopRecive($event)"
        [ingPage]="false"
        [top]="topToEdit"
        [ings]="ingsToEdit"
        [hideIng]="hideIng"
        ></app-recipe-maker>
      </ion-col>
      <ion-col size="3">

        <div class = "sub-product-container">
            <ion-button expand="block" color="medium" (click)="addSubProduct()">
              Adaugă Sub Produs
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 176v160M336 256H176"/></svg>
            </ion-button>
            <ion-item lines="none" class="input" *ngFor="let sub of subProducts; let i = index">
              <ion-label slot="start" class="name">{{i+1+ ' '}}{{sub.name}}</ion-label>
              <ion-buttons class="button" slot="end">
                <ion-button color="medium" fill="clear" class="trash" (click)="deleteSub(i, sub._id)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352"/><path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                </ion-button>
                <ion-button (click)="onSubEdit(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z"/></svg>
                </ion-button>
              </ion-buttons>
            </ion-item>
            <ion-item lines="none" class="input" *ngFor="let sub of tempSubArray; let i = index">
              <ion-label slot="start" class="name">{{i+1+ ' '}}{{sub.name}}</ion-label>
              <ion-buttons class="button" slot="end">
                <ion-button color="medium" fill="clear" class="trash" (click)="deleteSub(i, sub._id)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352"/><path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                </ion-button>
                <ion-button (click)="onSubEdit(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z"/></svg>
                </ion-button>
              </ion-buttons>
            </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button size="large" expand="block"(click)="saveProduct()" [disabled]="!form.valid">{{editMode ? "Editează" : "Salvează"}} Produsl</ion-button>
</ion-footer>
