ion-toolbar, ion-content{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}


.title, .section-label, ion-input, ion-select, ion-label, ion-textarea{
  font-family: RoseMed;
}

// ion-content{
//   height: 40vh;
// }

ion-toggle{
  font-family: RoseMed;
  font-size: 15px;
}

.nutrition-title  {
  font-family: RoseReg !important;
  margin-bottom: 10px;
  font-size: 14px;
}

.ingredient-wrapper{
  font-family: RoseLight !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;
  font-size: 13px;
}

.allergens{
  margin-top: 24px;
  width: 70%;
  ion-input{
    --border-width: 1.5px;
    font-size: 14px;
    height: 10px !important;
}
}

.box{
  width: 6px;
  height: 6px;
  border-radius:50%;
  background-color: rgba(197, 140, 83, 0.5);
  margin-right: 8px;
}

.header-buttons{
  --border-width: 1px !important;
  margin: 0 24px !important;
}

.footer-button{
  margin: 12px 24px !important;
}

.title{
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 36px;
  .name{
    font-size: 36px;
    text-align: center;
  }
  .title-label{
    font-size: 14px;
    color: var(--grey)
  }
}

.section{
  margin: 0 36px;
  padding: 12px 0 24px 0;
  border-bottom: solid 1px var(--grey);
  .section-label{
    padding-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .label-title{
      font-size: 24px;
    }
    .label-sub-title{
      font-size: 14px;
      color: var(--grey)
    }
  }

  .inputs-wrapper{
      padding: 12px 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .input, .toggle-input{
        margin: 4px 0 4px 12px;
        min-width: 230px;
        max-width: 230px;
        ion-input, ion-select{
          --border-width: 1.5px;
          // --border-color: var(--dark)
        }
      }
      .toggle-input{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17px;
        border: 1.5px solid var(--grey);
        border-radius: 6px;
      }
      .toggle-input:hover{
        border-color: var(--ion-color-medium) ;
      }
  }
}

.sub-wrapper{
  padding: 12px 0 0 16px;
  display: flex;
  flex-wrap: wrap;
  .subProduct, .add-sub-button{
    cursor: pointer;
    padding: 18px;
    margin: 3px;
    border: 1.5px solid var(--grey);
    border-radius: 8px;
    max-width: 30%;
    min-width: 30%;
    display: flex;
    align-items: center;
    ion-label{
      flex: 85%;
      ion-icon{
        flex: 7.5%;
      }
    }
  }
  .add-sub-button{
    border: 1.8px dashed var(--grey);
  }
  .subProduct:hover, .add-sub-button:hover{
    border-color: var(--ion-color-medium)
  }
}

.description-wrapper{
  padding: 12px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-textarea{
    margin-right: 12px;
    height: 180px;
  }
}





.ripple-parent {
  position: relative;
  overflow: hidden;
  user-select: none;
}




























