


    .bill-wrapper{
      margin: 75px 12px  12px 12px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .total{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        font-family: NoirProReg !important;
        position: sticky;
        top: 0;
        padding-top: 12px;
        text-align: center;
        font-size: 40px;
        color: white;
        height: 70px;
        background-color: black;
        span{
          font-family: NoirProSemi !important;
        }
      }

      .bill{
        overflow-y: scroll;
        background-color: white;
        height: 913px;
        width: 400px;
        .product-container{
          direction: ltr;
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: 32px;
          padding: 0 50px 0 50px;
          .qty{
            font-family: NoirProSemi !important;
            font-size: 26px;
          }
          .name{
            font-family: NoirProReg !important;
            font-size: 26px;
          }
          .topping-wrapper{
            text-align: center;
            display: flex;
            flex-direction: column;
            .topping{
                font-family: NoirProReg !important;
                font-size: 16px;
            }
          }
          .price-wrapper{
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            .price{
              font-family: NoirProSemi !important;
              font-size: 34px;
            }
            .discount{
              color: rgb(251, 63, 63);
              font-family: NoirProSemi !important;
              font-size: 22px;
            }
          }
        }

      }
    }
    .cashBack{
      color: rgb(251, 63, 63);
      font-family: NoirProSemi !important;
      font-size: 22px !important;
    }


    .scroll-content{
      position: relative;
      direction: rtl;
      left: -17px;
    }
