
      <div class="bill-wrapper" *ngIf="bill">
        <ion-content [fullscreen]="true" #billContent class="scroll-content">
            <div class="total">TOTAL <span>
              {{bill.total}} LEI
            </span>
          </div>
        <div class="product-container" *ngFor="let product of bill.products">
          <span class="qty">{{product.quantity}} x</span>
          <span class="name">{{uppercaseAllLetters(product.name)}}</span>
         <span class="price">{{product.total}} LEI</span>
        </div>
        </ion-content>
      </div>
