
      <div class="bill-wrapper" *ngIf="bill">
        <div class="total">TOTAL <span>
          {{bill.total}} LEI
        </span>
      </div>
        <div #billContent class="scroll-content bill">
            <!-- <div class="wrapper"> -->
          <div class="product-container" *ngFor="let product of bill.products.reverse()">
            <span class="qty">{{product.quantity}} x</span>
            <span class="name">{{uppercaseAllLetters(product.name)}}</span>
            <div class="topping-wrapper" *ngIf="product.toppings.length">
              <span class="topping" *ngFor="let topping of product.toppings">{{topping.qty}} {{topping.um}} x {{topping.name.split('/')[0]}}</span>
            </div>
           <span class="price">{{product.total}} LEI</span>
          </div>
            <!-- </div> -->
          </div>
      </div>
