
//Light theme

$blue-light: rgb(0, 115, 153);
$blue-shade-light: rgb(91, 146, 164);

$light-blue-light: rgb(121, 216, 247);
$light-blue-light-shade: rgb(161, 213, 230);

$orange-light:rgb(245, 168, 73);
$orange-shade-light:rgb(220, 188, 148);

$yellow-light:rgb(237, 200, 92);
$yellow-shade-light:rgb(230, 211, 153);

$green-light: rgb(10, 114, 0);
$green-shade-light: rgb(74, 116, 70);

$turqoise-light: rgb(15, 128, 111);
$turqoise-shade-light: rgb(15, 128, 111);

$red-light: rgb(252, 156, 150);
$red-shade-light: rgb(211, 183, 181);



// Neutral Colors
$background-color-light: #fff8f6;
$text-color-light: #171717;
$grey-light:  #e4e4e4;




//Dark Theme

$blue-dark: rgb(0, 106, 141);
$blue-shade-dark: rgb(72, 106, 121);

$light-blue-dark: rgb(0, 129, 172);
$light-blue-dark-shade: rgb(88, 145, 165);

$orange-dark:rgb(145, 103, 48);
$orange-shade-dark:rgb(144, 121, 91);

$yellow-dark:rgb(165, 127, 1);
$yellow-shade-dark:rgb(134, 117, 60);

$green-dark: rgb(74, 134, 68);
$green-shade-dark: rgb(92, 111, 90);

$turqoise-dark: rgb(43, 143, 128);
$turqoise-shade-dark: rgb(92, 125, 120);

$red-dark: rgb(138, 84, 80);
$red-shade-dark: rgb(134, 115, 114);

// Neutral Colors
$background-color-dark: #4d3d33;
$text-color-dark: #ffffff;
$grey-dark:  #3b3b3b;




//Light && Dark

$white: #fff;
$dark: #000;



$dark-blue: rgb(19, 82, 116);

$light-green: rgb(158, 218, 125);
$light-green-shade: rgb(164, 191, 149);
