
//Light theme

$blue-light: rgb(0, 143, 191);
$blue-shade-light: rgb(91, 146, 164);

$light-blue-light: rgb(212, 244, 255);
$light-blue-light-shade: rgb(161, 213, 230);


$sand-light: rgb(255, 187, 0);
$sand-light-rgb:255, 187, 0;

$sand-contrast-light: rgb(92, 68, 0);

$orange-light:rgb(245, 168, 73);
$light-orange-light: rgb(255, 230, 204);
$orange-contrast-light: rgb(159, 86, 7);
$orange-light-rgb:245, 168, 73;

$orange-contrast-light1:rgb(71, 37, 0);

$yellow-light:rgb(237, 200, 92);
$yellow-shade-light:rgb(230, 211, 153);

$green-light: rgb(41, 181, 28);
$green-shade-light: rgb(74, 116, 70);
$green-contrast-light: rgb(11, 121, 1);

$light-green-light: rgb(207, 255, 181);
$light-green-contrast-light: rgb(64, 183, 0);

$turqoise-light: rgb(83, 232, 210);
$light-turqoise-light: rgb(191, 255, 245);

$turqoise-contrast-light: rgb(0, 116, 99);
$turqoise-light-rgb: 83, 232, 210;

$red-light: rgb(252, 146, 138);
$light-red-light: rgb(255, 185, 180);
$red-contrast-light:  rgb(144, 10, 0);
$red-light-rgb: 252, 146, 138;

$menu-background-light: rgb(255, 238, 177);

// Neutral Colors
$background-color-light: #fff0c5;
$text-color-light: #171717;

$grey-light:  #9e9e9e;
$light-grey-light:  #e8e8e8;
$greyy-light:#d6d6d6;



///Shedule && Pontaj COLORS ****


$barista-light: rgb(61, 158, 190);
$barista-light-rgb:61, 158, 190;

$aj-barista-light: rgb(129, 196, 218);
$aj-barista-light-rgb:129, 196, 218;

$casier-light: rgb(225, 115, 109);
$casier-light-rgb: 225, 115, 109;

$ospatar-light: rgb(225, 177, 109);
$ospatar-light-rgb:225, 177, 109;

$bucatar-light: rgb(116, 169, 107);
$bucatar-light-rgb:116, 169, 107;

$aj-bucatar-light: rgb(155, 182, 150);
$aj-bucatar-light-rgb:155, 182, 150;

$days-light: rgb(19, 82, 116);
$days-light-rgb: 19, 82, 116;

$tes-light: rgb(169, 139, 195);
$tes-light-rgb: 169, 139, 195;

$manager-light: rgb(160, 175, 237);
$manager-light-rgb: 160, 175, 237;

$liber-light: rgb(71, 71, 71);
$liber-light-rgb: 71, 71, 71;

$concediu-light: rgb(19, 82, 116);
$concediu-light-rgb: 19, 82, 116;

$medical-light: rgb(232, 41, 41);
$medical-light-rgb: 232, 41, 41;




//**************DARK THEME***************

$blue-dark: rgb(2, 132, 175);
$blue-shade-dark: rgb(72, 106, 121);

$light-blue-dark: rgba(110, 189, 216, 0.327);
$light-blue-dark-shade: rgb(88, 145, 165);

$sand-dark: rgb(210, 152, 59);
$sand-dark-rgb:210, 152, 59;

$sand-contrast-dark: rgba(250, 217, 127, 0.956);

$orange-dark:rgb(150, 118, 83);
$light-orange-dark: rgb(83, 45, 2);
$orange-contrast-dark: rgb(255, 209, 153);
$orange-contrast-dark1:rgb(255, 242, 229);
$orange-dark-rgb:150, 118, 83;

$yellow-dark:rgb(165, 127, 1);
$yellow-shade-dark:rgb(60, 56, 42);

$green-dark: rgb(28, 148, 17);
$green-shade-dark: rgb(92, 111, 90);
$green-contrast-dark: rgb(139, 255, 128);

$light-green-dark: rgb(50, 143, 0);
$light-green-contrast-dark: rgb(194, 255, 161);



$turqoise-dark:  rgb(19, 130, 115);
$light-turqoise-dark: rgb(6, 66, 57);
$turqoise-contrast-dark:rgb(138, 220, 208);
$turqoise-dark-rgb:19, 130, 115;

$red-dark: rgb(131, 35, 28);
$light-red-dark: rgba(201, 162, 159, 0.843);
$red-contrast-dark: rgb(255, 136, 123);
$red-dark-rgb: 68, 36, 34;

// Neutral Colors
$background-color-dark: #3c3a36;
$text-color-dark: #ffffff;

$grey-dark:  #656565;
$light-grey-dark:  #bbbbbb;
$greyy-dark:#868686;


$menu-background-dark: rgb(31, 30, 30);

//Light && Dark

$white: #fff;
$dark: #000;



$dark-blue: rgb(19, 82, 116);


$light-green-shade: rgb(164, 191, 149);


///Shedule && Pontaj COLORS ****


$barista-dark: rgb(30, 79, 95);
$barista-dark-rgb: 30, 79, 95;

$aj-barista-dark: rgb(64, 98, 109);
$aj-barista-dark-rgb:64, 98, 109;

$casier-dark: rgb(112, 57, 54);
$casier-dark-rgb: 112, 57, 54;

$ospatar-dark: rgb(122, 88, 54);
$ospatar-dark-rgb:122, 88, 54;

$bucatar-dark: rgb(58, 84, 54);
$bucatar-dark-rgb:58, 84, 54;

$aj-bucatar-dark: rgb(7, 91, 75);
$aj-bucatar-dark-rgb:7, 91, 75;

$days-dark: rgb(10, 41, 58);
$days-dark-rgb: 10, 41, 58;

$tes-dark: rgb(78, 64, 90);
$tes-dark-rgb: 78, 64, 90;

$liber-dark: rgb(78, 78, 78);
$liber-dark-rgb: 78, 78, 78;

$concediu-dark: rgb(10, 41, 58);
$concediu-dark-rgb: 10, 41, 58;

$medical-dark: rgb(67, 15, 15);
$medical-dark-rgb: 67, 15, 15;


$manager-dark: rgb(77, 94, 170);
$manager-dark-rgb: 77, 94, 170;
