ion-content, ion-toolbar, ion-footer{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;
}


ion-button, ion-title{
  font-family: RoseReg !important;
}

.input{
  width: 100%;
  font-family: RoseLight !important;
  padding: 0 24px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:  0 12px 6px 12px;

}

.butt{
  width: 100%;
  padding:  0 12px 6px 12px;
}

.input:hover{
  cursor: default;
  span{
    font-family: RoseMed !important;
  }
  background-color: rgba(var(--ion-color-medium-rgb), 0.12);
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.07);
}

