ion-content, ion-toolbar, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color) !important;;
}


.title{
  font-family: RoseMed !important;
  font-size: 28px;
  margin-left: 12px;
}

.log{
  font-family: RoseLight !important;
  font-size: 16px;
  padding: 2px 8px;
}


.log, .header{
  display: flex;
  width: 96%;
  margin: 0 28px;
  align-items: center;
  cursor: default;
  .id{
    flex: 5%;
  }
  .date{
    flex: 20%;
  };
  .suplier{
    flex: 45%;
  };
  .quantity{
    text-align: center;
    flex: 10%;
  }
  .price{
    text-align: center;
    flex: 15%;
  }
  .button{
    flex: 5%;
  }
}

.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}

.header{
  border-bottom: 1px solid var(--grey);
  padding: 8px 8px;
  font-family: RoseReg !important;
  font-size: 20px;
}

.log:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.09);
  font-family: RoseReg !important;
}

