<ion-app>
  <ion-menu contentId="main-content" type="reveal"  menuId="start" *ngIf="user">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>True Fine Coffee</ion-list-header>
        <ion-note style="margin-bottom: 5px !important; color: red">{{pointName}}</ion-note> <br>
        <ion-note>{{user.email}}</ion-note>

          <ion-menu-toggle auto-hide="true" *ngFor="let p of firstPages; let i = index">
           <ion-item routerDirection="root"
           [routerLink]="[p.url]"
           lines="none"
           detail="false"
           (click)="selectPage(p)"
           [ngClass]="{'selected': p.show}" class="item"
           >
            <ion-icon aria-hidden="true" slot="start" [src]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

          <div class="main" *ngFor="let p of subMenuPages">
            <ion-item lines="none" detail="false" (click)="toggleSubMenu(p)" [ngClass]="{'selected': p.show}" class="item" *ngIf="p.title === 'Casă'|| p.title === 'Office' ||  user.employee.access > 3">
             <ion-icon aria-hidden="true" slot="start" [src]='p.icon'></ion-icon>
             <ion-label>{{p.title}}</ion-label>
           </ion-item>
           <div *ngIf="p.show" class="submenu">
            <div *ngFor="let s of p.pages">
              <ion-item  lines="none" [ngClass]="{'selected': s.show}" (click)="selectPage(s, p)" *ngIf="s.name === 'Produse'|| s.name === 'Încasări' || s.name === 'Comenzi' || s.name === 'Țigări'  || user.employee.access > 3">
                <ion-icon aria-hidden="true" slot="start" [src]="s.icon"></ion-icon>
                <ion-label>{{ s.name }}</ion-label>
              </ion-item>
            </div>
          </div>
          </div>
       <ion-menu-toggle auto-hide="true" *ngFor="let p of secondPages; let i = index">
        <ion-item routerDirection="root"
        [routerLink]="[p.url]"
        lines="none"
        detail="false"
        (click)="selectPage(p)"
        [ngClass]="{'selected': p.show}" class="item"
        >
         <ion-icon aria-hidden="true" slot="start" [src]="p.icon"></ion-icon>
         <ion-label>{{ p.title }}</ion-label>
       </ion-item>
     </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

