<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <div class="title-wrapper">
      <div class="title">ADAUGĂ DATE ANGAJAT</div>
    </div>
      <ion-button (click)="close()" slot="start" color="medium">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" style="font-size: 35px;" color="light"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper">
  <ion-grid>
    <form [formGroup]="form">
  <ion-row>
    <ion-col>
      <ion-item lines="none" class="input">
        <ion-input label="Nume Complet" labelPlacement="floating"  type="text" name="name" size=1 formControlName="fullName">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="CNP" labelPlacement="floating"  type="text" name="cnp" formControlName="cnp">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Serie CI" labelPlacement="floating"  type="text" name="serial" formControlName="ciSerial">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Număr CI" labelPlacement="floating"  type="number" name="number" formControlName="ciNumber">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-textarea label="Adresa" labelPlacement="floating"  type="text" name="adresa" formControlName="address">
        </ion-textarea>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Functie" labelPlacement="floating"  type="text" name="position"  formControlName="position">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Salariu" labelPlacement="floating"  type="number" name="position"  formControlName="salary">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Paper ON" labelPlacement="floating"  type="number" name="position"  formControlName="onPaper">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Zodie" labelPlacement="floating"  type="string" name="position"  formControlName="zodie">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input" (click)="openDateModal('birth')">
        <span>{{birthDate ? 'Dată nașterii - ' + formatedDate(birthDate) : "Alege data nașterii"}}</span>
      </ion-item>
      <ion-item lines="none" class="input" (click)="openDateModal(true)">
        <span>{{startDate ? 'Dată angajare - ' + formatedDate(startDate) : "Alege data de angajare"}}</span>
      </ion-item>
      <ion-item lines="none" class="input" (click)="openDateModal(false)">
        <span>{{endDate ? 'Dată încetare - ' + formatedDate(endDate) : "Alege data de încetare"}}</span>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input label="Normă (ore)" labelPlacement="floating"  type="number" name="norm"  formControlName="norm">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-select label="Cuantificare" placeholder="Level" formControlName="fix">
          <ion-select-option class="font" [value]="true">Fix</ion-select-option>
          <ion-select-option class="font" [value]="false">Ore</ion-select-option>
        </ion-select>
        </ion-item>
      <ion-item lines="none" class="input">
        <ion-select label="Acces aplicatie" placeholder="Level" formControlName="access">
          <ion-select-option class="font" value="1">Level 1</ion-select-option>
          <ion-select-option class="font" value="2">Level 2</ion-select-option>
          <ion-select-option class="font" value="3">Level 3</ion-select-option>
          <ion-select-option class="font" value="4">Level 4</ion-select-option>
        </ion-select>
        </ion-item>
      <ion-item lines="none" class="input">
        <ion-select label="Stare" placeholder="Level" formControlName="status">
          <ion-select-option class="font" [value]="true">Activ</ion-select-option>
          <ion-select-option class="font" [value]="false">Inactiv</ion-select-option>
        </ion-select>
        </ion-item>

    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="medium" (click)="onSubmit()" class="ion-padding submit" size="large" expand="block">
          <ion-label>
            ADAUGĂ
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
    </ion-grid>
  </ion-content>
