
ion-content, ion-toolbar, ion-header{
  --background:var(--background-color) !important;
  background-color:var(--background-color) !important;
}



ion-searchbar{
  font-family: RoseReg !important;
  padding: 0 !important;
  --background: rgba(var(--ion-color-medium-rgb), 0.15);
  --box-shadow: none !important;
  margin-bottom: 12px;
}


.secod-header{
  padding-top: 12px;
  margin: 0 28px;
  width: 96%;
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.6);
}


.suplier{
  cursor: pointer;
  display: flex;
  align-items: center;
  div{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    .index{
      text-align: center;
      flex: 3%;
    }
    .name{
      flex: 27%;
    }
    .address{
      padding-left: 8px;
      font-size: 13px;
      flex: 30%
    }
    .vat{
      text-align: center;
      flex: 10%;
    }
    .account{
      text-align: center;
      font-size: 14px;
      flex: 20%;
    }
    .sold{
      flex: 10%;
    }
  }
}


.font{
  font-family: RoseMed !important;
  font-size: 16px !important;
}

.input{
  min-height: 50px;
  width: 97%;
  border-radius: 2px;
  color: var(--text-color);
  margin: 0 18px;
  div{
    font-family: RoseLight !important;
  }
}

.input:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
  div{
    font-family: RoseReg !important;
  }
}


.odd{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05);
}

