ion-content, ion-toolbar, ion-footer{
  --background: var(--background-color) !important;
}



ion-title{
  font-family: NoirProReg !important;
}
ion-input, ion-textarea{
  font-family: NoirProReg !important;
  --border-color: var(--dark);
  margin-bottom: 12px;
}

ion-textarea{
  height: 120px;
}

ion-button{
  font-family: NoirProReg !important;
}


.content-container{
margin-top: 100px;

}

.label{
  font-family: NoirProLight !important;
  font-size: 16px;
  margin-left: 6px;
}

.container{
  font-family: NoirProReg !important;
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: center;
  margin-top: 18px;
}



.title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: NoirProSemi !important;
    text-align: center;
    background-color: var(--ion-color-medium);
    padding: 18px;
    color: var(--ion-color-light);
    font-size: 24px;
    margin-top: 8px;
  }
}
