ion-content{
  --background: var(--ion-color-tertiary) !important;
}

.grid-meniu{
  padding-top: 22px;
}

.main-card{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  border-radius: 12px;
  .image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .main-img{
      font-size: 74px;
      height: 160px;
      padding: 28px;
    }
  }
  ion-title{
    font-family: NoirProSemi !important;
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 28px;
    padding: 10px;
  }

}

.cat-card{
  background-color: rgb(86, 79, 75);
  .small-title{
    font-family: NoirProSemi !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: white;
  }

}

.prod-card{
  background-color: rgb(86, 79, 75);
.product-title{
  font-family: NoirProSemi !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: var(--ion-color-dark);
    color: white;
  }
}


.badge-wrapper{
  display: flex;
  flex-direction: row;
  width: 100px;
    position: absolute;
    right: 75%;
    bottom: 80%;
    z-index: 99;
}

  .badge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-danger);
    color: var(--ion-color-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
  }



  @media(max-width: 1200px){
    .main-card{
      .image-wrapper{
        .main-img{
          font-size: 60px !important;
          height: 100px !important;
          padding: 24px !important;
        }
      }
      ion-title{
        font-size: 28px !important;
      }

    }

    .cat-card{
     width: 100% !important;
      .small-title{
        font-size: 14px !important;
        padding: 10px !important;
        padding-right: 8px !important;
      }

    }

    .prod-card{
      width: 100% !important;
       .product-title{
        font-size: 14px;
        padding-right: 8px !important;
        padding-right: 8px !important;
      }
    }

  }
