ion-content{
  --background: var(--background-color) !important;
}

.grid-meniu{
  padding-top: 22px;
}

.main-card{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  border-radius: 12px;
  .image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--sand-rgb), 0.4);
    .main-img{
      font-size: 74px;
      height: 120px;
      padding: 28px;
    }
  }
  ion-title{
    font-family: RoseSemi !important;
    background-color: var(--orange-contrast);
    text-transform: uppercase;
    text-align: center;
    color: var(--light-orange);
    font-size: 28px;
    padding: 10px;
  }

}

.cat-card{
  background-color: var(--orange-contrast);
  width: 100% !important;
  .small-title{
    font-family: RoseSemi!important;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: var(--light-orange);
  }

}

.prod-card{
  background-color: var(--orange-contrast);
  width: 100% !important;
.product-title{
  font-family: RoseSemi !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    color: var(--light-orange);
  }
}


.badge-wrapper{
  display: flex;
  flex-direction: row;
  width: 100px;
    position: absolute;
    right: 75%;
    bottom: 80%;
    z-index: 99;
}

  .badge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--sand-rgb), 0.9);
    color: var(--text-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 15px;
    font-family: RoseReg !important;
    text-align: center;
    margin-left: auto;
  }



  @media(max-width: 1200px){
    .main-card{
      .image-wrapper{
        .main-img{
          font-size: 60px !important;
          height: 100px !important;
          padding: 24px !important;
        }
      }
      ion-title{
        font-size: 28px !important;
      }

    }

    .cat-card{
      .small-title{
        font-size: 12px !important;
        padding: 10px !important;
        padding-right: 8px !important;
      }

    }

    .prod-card{
       .product-title{
        font-size: 12px;
        padding-right: 8px !important;
        padding-right: 8px !important;

      }
    }

  }
