ion-content, ion-toolbar, ion-header, ion-footer{
  --background: var(--background-color)!important;
  background-color: var(--background-color)!important;
}

ion-input, ion-searchbar, span{
  font-family: RoseMed !important;
}


ion-searchbar{
  margin: 0 22px;
  width: 90%;
  --box-shadow: none !important;
  --background: rgba(var(--ion-color-medium-rgb), 0.1);
}



.section{
  margin: 0 36px;
  padding: 12px 0 24px 0;
  border-bottom: solid 1px var(--grey);
  .section-label{
    padding-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .label-title{
      font-size: 24px;
    }
    .label-sub-title{
      font-size: 14px;
      color: var(--grey)
    }
  }

  .inputs-wrapper{
      padding: 12px 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      .input, .cat-input{
        margin: 4px 0 4px 12px;
        min-width: 45%;
        max-width: 45%;
        ion-input, ion-select{
          --border-width: 1.5px;
          // --border-color: var(--dark)
        }
      }
      .cat-input{
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1.5px solid var(--grey);
        border-radius: 6px;
        .name{
          flex: 75%;
        }
        .disc{
          flex: 15%;
        }
        ion-button{
          flex: 10%;
        }
      }
      .cat-input:hover{
        border-color: var(--ion-color-medium) ;
      }
  }
}




.ing-info-wrapper {
  margin-left: 20px;
  .main-cat{
    font-size: 13px;
    color: rgb(255, 128, 97);
  }
}


.ing-name{
  cursor: pointer;
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
  border-radius: 4px;
  margin: 3px 26px;
  padding: 8px;
  width: 89%;
}

.custon-input{
  padding: 10px;
}
