

<ion-header class="ion-no-border">
  <div class="header-toolbar">
    <ion-toolbar class="ion-no-border">
        <ion-title slot="start">Utilizatori</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="outline" (click)="addUser()">
            <ion-icon size="large" src="../../../assets/icon/add-outline.svg"></ion-icon>
          </ion-button>
          <ion-button fill="outline" (click)="filter()">
            <ion-icon size="large" src="../../../assets/icon/filter-outline.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </div>
    <ion-toolbar>
      <div class="search-wrapper">
        <ion-searchbar mode="md"   placeholder="Caută după nume..."  (ionInput)="searchUsersName($event)">
        </ion-searchbar>
        <ion-searchbar mode="md"   placeholder="Caută după e-mail..."  (ionInput)="searchUsersEmail($event)">
        </ion-searchbar>
      </div>
    </ion-toolbar>
    <ion-toolbar>
      <div class="header">
        <span class="id">Nr</span>
        <span class="name">Nume</span>
        <span class="email">E-mail</span>
        <span class="tel">Telefon</span>
        <span class="status">Status</span>
        <span class="orders">Comenzi</span>
      </div>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  `<div class="user-container"  *ngFor="let user of localUsers; let i = index;" (click)="showUser(user._id)">
      <span class="id">#{{i+1}}</span>
      <span class="name">{{user.name}}</span>
      <span class="email">{{user.email}}</span>
      <span class="tel">{{user.telephone}}</span>
      <span class="status">{{user.status}}</span>
      <span class="orders" *ngIf="user.orders">{{user.orders.length}}</span>
  </div>
</ion-content>



<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <div class="search-wrapper">
      <ion-searchbar mode="ios" [(ngModel)]="userSearch"  placeholder="Caută Utilizatori"  (ionInput)="searchUsers($event)">
      </ion-searchbar>
        <ion-select placeholder="Alege Utilizatori" (ionChange)="onSelectUsers($event)" class="input">
          <ion-select-option value="">Toți</ion-select-option>
          <ion-select-option value="users">Clienți</ion-select-option>
          <ion-select-option value="employees">Angajați</ion-select-option>
        </ion-select>
    </div>
    <div class="header content-container" >
      <span class="index-h font">Nr.</span>
      <ion-label class="name font">Nume</ion-label>
      <ion-label class="email font">Email</ion-label>
      <ion-label class="tel font">Telefon</ion-label>
      <ion-label class="cashBack font">Cash Back</ion-label>
      <ion-label class="orders font">Comenzi</ion-label>
      <ion-label class="status font">Status</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="spinner-container" *ngIf="users.length === 1">
      <ion-col size="6" offset="3">
        <app-spinner></app-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of localUsers; let i = index;"  class="ion-no-padding ion-no-margin">
      <ion-col *ngIf="users.length > 1" class="ion-no-padding ion-no-margin">
        <div class="content-container input user" (click)="goUserPage(user._id)">
          <span class="index">{{i+1}}.</span>
          <ion-label class="name">{{user.name}}</ion-label>
          <ion-label class="email">{{user.email}}</ion-label>
          <ion-label class="tel">{{user.telephone}}</ion-label>
          <ion-label class="cashBack">{{user.cashBack}}</ion-label>
          <ion-label class="orders">{{user.orders.length}}</ion-label>
          <ion-label class="status">{{user.status}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content> -->
