
ion-content, ion-toolbar, ion-header{
  --background: var(--background-color) !important;
  background-color: var(--background-color);
}


.search-wrapper{
  display: flex;
  padding: 8px 0;
  margin: 0 22px;
  ion-searchbar{
    --background: rgba(var(--ion-color-medium-rgb), 0.1) !important;
    --box-shadow: none !important;
    font-family: RoseMed !important;
  }
}



.header{
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 8px;
  margin: 0 28px;
  width: 96%;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--grey);
}


.header, .user-container{
    .id{
      flex: 5%;
    }
    .name{
      flex: 20%;
    }
    .email{
      flex: 35%;
    }
    .tel{
      flex: 20%;
    }
    .status{
      text-align: center;
      flex: 10%;
    }
    .orders{
      text-align: center;
      flex: 10%
    }
}
.user-container{
  cursor: pointer;
  font-family: RoseLight !important;
  margin: 0 28px;
  width: 96%;
  padding: 10px 8px;
  border-bottom: 0.5px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.user-container:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05) !important;
  span{
    font-family: RoseReg !important;
  }
}
