

ion-content, ion-toolbar, ion-header, ion-footer{
  --background: var(--background-color) !important;
  background-color:  var(--background-color) !important;
}
ion-select, head, .section-label, ion-title, ion-button, ion-input{
  font-family: RoseMed !important;
}

ion-select{
  --border-width: 1.5px;
}




.header-toolbar, .second-toolbar{
  padding: 24px 0 12px 0;
  margin-left: 48px;
  width: 92%;
  border-bottom: 1.2px solid var(--grey);
  ion-title{
    font-size: 36px;
  }
  ion-buttons{
    .round{
      --padding-bottom: 14px;
      --padding-end: 14px;
      --padding-top: 14px;
      --padding-start: 14px;
      --border-radius: 50%;
      --border-width: 1px;
      margin-right: 12px;
    }
  }
}



.second-toolbar, .three-toolbar{
  margin-left: 36px !important;
  width: 94% !important;
  border-bottom: 1.2px solid var(--grey);
}

.section-label{
  padding-top: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .label-title{
    font-size: 24px;
  }
  .label-sub-title{
    font-size: 14px;
    color: var(--grey)
  }
}

.section{
  margin: 0 56px 0 36px;
  padding: 12px 0 24px 0;
  border-bottom: solid 1px var(--grey);

  .all-wrapper{
    display: flex;
    ion-button{
      --border-width: 2px;
      --border-style: dashed;
      ion-icon{
        font-size: 36px;
      }
    }
    .wrapper{
      padding: 4px 0;
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      .suplier-wrapper, .date-wrapper{
        display: flex;
        align-items: center;
        ion-input{
          margin-right: 8px;
          --border-width: 1.5px;
        }
      }
      .date-wrapper{
        width: 100%;
        margin-bottom: 8px;
        div{
          margin-right: 8px;
          flex: 33%;
        }
        ion-input{
          flex: 33%;
        }
      }
    }
    }
}


.hidden-header {
  display: none !important;
}


.header{
  font-size: 15px;
}


.input{
  margin-left: 36px !important;
  width: 95% !important;
  border-bottom: 1.2px solid var(--grey);
  font-family: RoseLight !important;
}

.content-container{
  display: flex;
  align-items: center;
  padding: 8px 0;
    .id{
      flex: 3%;
    }
    .name{
      padding-left: 18px;
      flex: 20%;
    }
    .um{
      flex: 6%;
    }
    .cant{
      flex: 6%;
    }
    .p-um{
      flex: 7%;
    }
    .val{
      flex: 8%;
    }
    .tva{
      flex: 5%
    }
    .val-tva{
      flex: 8%
    }
    .tot{
      flex: 8%;
    }
    .dep{
        flex: 10%;
    }
    .gst{
      flex: 9%;
    }
    .p-v{
      flex: 5%
    }
    ion-icon{
      flex: 5%;
    }

}

.footer-container{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: RoseReg !important;
  padding: 12px 0;
  div{
   display: flex;
   align-items: baseline;
   width: 250px;
   .label{
    margin-right: 8px;
    font-size: 16px;
   }
   .value{
    font-size: 22px;
   }
  }
  .footer-button{
    margin: 12px 24px !important;
  }
  ion-buttons{
    flex: 30%;
    ion-button{
      margin-left: 12px;
      --padding-end: 14px;
      --padding-top: 8px;
      --padding-start: 14px;
      --padding-bottom: 8px;
      --border-width: 1px;
      --border-radius: 0 !important;
    }
  }
}

.head{
  font-family: RoseReg !important;
  margin: 24px 0 12px 0;
}

