<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
    <ion-col size="3">
      <ion-title class="ion-text-center">Adaugă Ingredient</ion-title>
      <ion-searchbar mode="ios" [(ngModel)]="ingredientSearch"  [placeholder]="searcBarPlaceholder"  (ionInput)="searchIngredient($event)" (keyup.enter)="setIng()" #searchBar [disabled]="disableSearcbar"></ion-searchbar>
      <ion-item *ngFor="let ing of ingredients; let i = index" class="ing-name" (click)="selectIngredient(ing)" [ngClass]="{'prod-ing': ing.productIngredient}">
        <div>
          <span class="name">{{ing.name}}</span>
          <div class="ing-info-wrapper">
            <span class="ing-info">Gestiune:</span>
            <span class="ing-info-gest">{{ing.gestiune}}</span>
            <span class="ing-info-stoc">{{"Stoc: " + ing.qty + ' ' + ing.um}}</span>
          </div>
        </div>
      </ion-item>
      <form [formGroup]="ingredientForm">
      <ion-item lines="none" class="input">
        <ion-input mode="ios" type="text" label="Nume" labelPlacement="floating" fill="outline" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input  mode="ios" type="text" label="UM" labelPlacement="floating" fill="outline" formControlName="um"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input mode="ios" [type]="qtyInputType" label="Cantitate" labelPlacement="floating" fill="outline" formControlName="qty" #qtyInput (keydown)="onQtyTab($event)" (keyup.enter)="qtyInputType === 'text' ? evalQty() : null" ></ion-input>
        <ion-icon src="../../../../assets/icon/calc.svg" class="calculator" [color]="qtyCalcColor" (click)="switchCalcMode('qty')"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input  mode="ios" type="number" [label]="isTva ? 'Pret/UM/Fara TVA': 'Pret'" labelPlacement="floating" fill="outline" formControlName="price"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input" *ngIf="isTva">
          <ion-select label="Cotă TVA %" placeholder="%" formControlName="tva">
            <ion-select-option value="19">19%</ion-select-option>
            <ion-select-option value="9">9%</ion-select-option>
            <ion-select-option value="5">5%</ion-select-option>
            <ion-select-option value="0">0%</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item lines="none" class="input" *ngIf="isTva">
        <ion-input  mode="ios" [type]="valInputType" label="Valoare" labelPlacement="floating" fill="outline" formControlName="value" (keydown)="onValTab($event)" (keyup.enter)="valInputType === 'text' ? evalValue() : null"></ion-input>
        <ion-icon src="../../../../assets/icon/calc.svg" class="calculator" [color]="valCalcColor" (click)="switchCalcMode('value')"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="input" *ngIf="isTva">
        <ion-input  mode="ios" type="number" label="Valoare TVA" labelPlacement="floating" fill="outline" formControlName="tvaValue" (keyup.enter)="ingredientForm.valid ? addToNir(): null"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-input  mode="ios" type="number" label="Total" labelPlacement="floating" fill="outline" formControlName="total" (keyup.enter)="ingredientForm.valid ? addToNir(): null"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input" (keyup.enter)="ingredientForm.valid ? addToNir(): null">
        <ion-select label="Departament" placeholder="Materie Prima" formControlName="dep">
          <ion-select-option value="materie">Materie Primă</ion-select-option>
          <ion-select-option value="marfa">Marfă</ion-select-option>
          <ion-select-option value="consumabil">Consumabile</ion-select-option>
          <ion-select-option value="servicii">Servicii</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="none" class="input">
      <ion-select label="Gestiune" placeholder="Gestiune" formControlName="gestiune" (keyup.enter)="ingredientForm.valid ? addToNir(): null">
        <ion-select-option value="magazie">Magazie</ion-select-option>
        <ion-select-option value="bucatarie">Bucătărie</ion-select-option>
        <ion-select-option value="bar">Bar</ion-select-option>
        <ion-select-option value="servicii">Servicii</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item lines="none" class="input">
    <ion-input  mode="ios" type="number" label="Preț de vânzare" labelPlacement="floating" fill="outline" formControlName="sellPrice" (keyup.enter)="ingredientForm.valid ? addToNir(): null"></ion-input>
  </ion-item>
  <ion-button size="medium" expand="block" (click)="addToNir()" [disabled]="!ingredientForm.valid">
    Add
  </ion-button>
</form>
    </ion-col>
    <ion-col size="9">
      <ion-title class="ion-text-center">Adaugă Nir</ion-title>
      <ion-item lines="none">
        <ion-searchbar mode="ios" [(ngModel)]="furnizorSearch"  placeholder="Caută Furnizor"  (ionInput)="searchSuplier($event)" (keyup.enter)="selectSuplier(supliers[0])"></ion-searchbar>
        <img src="assets/icon/add-circle.svg" id="add-cat" (click)="addSuplier()">
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let suplier of supliers; let i = index" class="fur-name" (click)="selectSuplier(suplier)">
          <span>{{suplier.name}}</span>
        </ion-item>
      </ion-list>
      <form [formGroup]="nirForm">
        <ion-item lines="none" class="nirForm">
          <ion-label class="furz-name" *ngIf="suplier">{{suplier.name}}</ion-label>
          <ion-label class="fur-cif" *ngIf="suplier">{{suplier.vatNumber.toUpperCase()}}</ion-label>
          <ion-input mode="ios" type="text" label="Nr Doc" class="nr-doc" labelPlacement="floating" fill="outline" formControlName="nrDoc" #docInput></ion-input>
            <ion-datetime-button datetime="datetime" id="data"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date" formControlName="date" [showDefaultButtons]="true"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-buttons class="discount-button">
              <ion-button class="input" (click)="openDiscount()">
                Adaugă Reducere
                <ion-icon color="danger" src="../../../../assets/icon/percent.svg" size="lage" class="precent"></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-item>
          <ion-item lines="none" *ngIf="nirIngredients.length" class="content-container">
            <span class="header name">Nume</span>
            <span class="header um">UM</span>
            <span class="header cant">Cant</span>
            <span class="header p-um">Preț/Um</span>
            <span class="header val">Valoare</span>
            <span class="header tva">Cota TVA</span>
            <span class="header val-tva">Valoare TVA</span>
            <span class="header tot">Total</span>
            <span class="header dep">Departament</span>
            <span class="header gst">Gestiune</span>
            <span class="header p-v">Preț Vanzare</span>
            <ion-button fill="ghost">
              <ion-icon color="danger" size="lage"></ion-icon>
            </ion-button>
          </ion-item>
          <!-- <div class="line"></div> -->
          <ion-item lines="none" *ngFor="let ing of nirIngredients; let i = index;" class="content-container input" >
            <span class="content name">{{ing.name}}</span>
            <span class="content um">{{ing.um}}</span>
            <span class="content cant">{{ing.qty}}</span>
            <span class="content p-um">{{ing.price}} Lei</span>
            <span class="content val">{{ing.value}} Lei</span>
            <span class="content tva">{{ing.tva}}%</span>
            <span class="content val-tva">{{ing.tvaValue}}</span>
            <span class="content tot">{{ing.total}} Lei</span>
            <span class="content dep">{{ing.dep}}</span>
            <span class="content gst">{{ing.gestiune}}</span>
            <span class="content p-v">{{ing.sellPrice}} Lei</span>
            <ion-button fill="ghost" (click)="deleteEntry(i)">
              <ion-icon color="danger" size="lage" src="../../../assets/icon/trash-outline.svg"></ion-icon>
            </ion-button>
          </ion-item>
          <!-- <div class="line"></div> -->
          <ion-item lines="none footer-container">
            <span class="footer name">Total</span>
            <span class="footer"></span>
            <span class="footer"></span>
            <span class="footer"></span>
            <span class="footer">{{val}} Lei</span>
            <span class="footer"></span>
            <span class="footer"></span>
            <span class="footer">{{valTva}} Lei</span>
            <span class="footer">{{valTotal}} Lei</span>
            <span class="footer"></span>
            <span class="footer"></span>
            <span class="footer">{{valVanzare}} lei</span>


          </ion-item>

          <ion-button expand="block" (click)="saveNir()" size="large" [disabled]="!nirIngredients.length">
            Salvează NIR
          </ion-button>
        </form>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
