




<div class="meniu-wrapper">
<ion-grid>
  <ion-row>
    <ion-col [size]="sideColSize">
    </ion-col>
    <ion-col [size]="menuColSize">
      <ion-grid>
        <ion-row *ngIf="mainCats" class="main-cat-row">
          <div class="header" *ngIf="showHeader">
            <div class="masa">
              <span class="label">Masa:</span>
              <span class="value">{{bill.masaRest.index}}</span>
            </div>
            <div class="client" *ngIf="bill.clientInfo.name.length">
              <div class="name">
                <span class="label">Nume:</span>
                <span class="value">{{bill.clientInfo.name}}</span>
              </div>
              <div class="email">
                <span class="label">E-mail:</span>
                <span class="value">{{bill.clientInfo.email}}</span>
              </div>
            </div>
            <div class="cashBack" *ngIf="bill.clientInfo.name.length">
              <span class="label">CashBack:</span>
              <span class="value">{{bill.clientInfo.cashBack}} Lei</span>
            </div>
          </div>
          <ion-col size="3"   *ngFor="let mainCat of cats; let i= index;">
            <div class="main-cat" (click)="selectMainCat(mainCat.name, i)" [ngClass]="{'selected': i === 0}">
              <img [src]=" i === 0 ? mainCat.urlW : mainCat.url" color="primary">
              <span>
                {{uppercaseAllLetters(mainCat.name)}}
              </span>
            </div>
          </ion-col>
        </ion-row>
          <ion-row style="position: relative; left: -17px;">
            <ion-col size="3">
              <div class="category-wrapper">
                <div class="cat-wr">
                  <div class="cat" *ngFor="let cat of selectedMainCat" (click)="selectCategory(cat._id)" [ngClass]="{'selected-cat': categoryToShowId === cat._id}" #categoryChip [id]="cat._id">
                    {{capitalizeWords(cat.name)}}
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col size="9">
                <div class="products-content" #scrollableElement>
                  <ion-content [fullscreen]="true" (ionScroll)="onScroll($event)" class="scroll-products" [scrollEvents]="true">
                        <div class="category-product" *ngFor="let product of productsToShow" #myCard [attr.data-cat]="product.category._id" [attr.data-main]="product.mainCat" [id]="product._id">
                          <ion-card class="product-card" >
                            <ion-card-content class="ion-no-padding">
                              <ion-row>
                                <ion-col size="1.65">
                                  <img [src]=" product.image.length ?  modifyImageURL(product.image[0].path) : 'https://res.cloudinary.com/dhetxk68c/image/upload/v1692369756/True/no_image_patrat_pt8iod.png'"alt="Image" class="product-image">
                                </ion-col>
                                <ion-col size="9.05">
                                  <ion-card-header class="ion-no-padding">
                                    <ion-card-title>{{uppercaseAllLetters(product.name)}}</ion-card-title>
                                    <ion-card-subtitle>{{product.description}}</ion-card-subtitle>
                                  </ion-card-header>
                                </ion-col>
                                <ion-col size="1.3">
                                  <div class="price">
                                    <span class="pr">{{product.price}}</span>
                                    <div class="line"></div>
                                    <span class="lei">LEI</span>
                                  </div>
                                </ion-col>
                              </ion-row>
                            </ion-card-content>
                          </ion-card>
                        </div>
                  </ion-content>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-col>
    <ion-col size="2.6" *ngIf="bill && bill.products.length">
      <app-bill class="bill" [bill]="bill"></app-bill>
    </ion-col>
    <ion-col [size]="sideColSize">
      <ion-buttons style="margin: 50px">
        <ion-button (click)="toggleFullscreen()">
          <ion-icon [src]="fullScreenUrl"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
</div>









    <!-- <div class="main-cat-content" *ngIf="mainCats">
    </div> -->


<!--
  <div class="category-content">
    <div class="category-header">

      <ion-button (click)="celebrate()">Confetti</ion-button>
    </div>

  </div> -->
