

.meniu-wrapper{
  background-color: #fbe9db;
}

  .category-wrapper{
    height: 950px;
    width: 100%;
    padding-top: 18px ;
    overflow: hidden;
    .cat-wr{
      padding: 0 23px;
      height: 100%;
      .cat{
        font-family: NoirProReg !important;
        font-size: 22px;
        padding: 12px 8px;
        margin-bottom: 5%;
        width: 100%;
        text-align: center;
        background-color: white;
        opacity: 80%;
        cursor: pointer;
      }
    }
  }

    .products-content{
      border-radius: 12px;
      margin-top: 18px;
      height: 860px;
      width: 100%;
      display: flex;
      overflow: hidden;
      ion-content{
        --background: transparent !important;
          // height:800px !important;
          padding: 0;
      }

    }


  .main-cat-row{
    position: relative;
    margin-top: 75px;
    left: -22px;
    ion-col{
      padding: 0 24px;
      .main-cat{
        display: flex;
        flex-direction: row;
        background-color: white;
        opacity: 80%;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 40px;
        height: 65px;
        padding-top: 12px;
        width: 100%;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
        img{
          padding: 0;
          height: 35px;
          margin-right: 10px;
        }
        span{
          font-family: NoirProReg !important;
          font-size: 40px;
        }
      }
    }
  }



  .selected{
    animation: switch 0.2s ease forwards;
    background-color: black !important;
    color: white;
  }

  .main-cat:active{
    transform: scale(0.8);
    background-color: black !important;
    color: white;
    img{
      filter: invert(100%);
    }

  }

  .selected-cat{
    background-color: black!important;
    color: white;
  }




  .product-card{
    border-radius: 12px;
    box-shadow: none !important;
    height: 130px;
    opacity: 80%;
    padding-top: 0;
    direction: ltr;
    ion-card-title{
      font-family: NoirProMed !important;
      font-size: 25px;
      padding-top: 8px;
      color: black;
    }
    ion-card-subtitle{
      padding: 0;
      width: 80%;
      font-family: NoirProReg !important;
      font-size: 20px;
    }

    .price{
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70px;
      .line{
        border-top: 6px solid black;
        width: 55px;
        padding: 0;
      }
      span{
        position: relative;
        padding: 0;
        font-family: NoirProReg !important;
        font-size: 40px;
        color: black;
      }
      .pr{
        top: 10px;
      }
      .lei{
        bottom: 10px;
      }
    }

    .product-image{
      border-radius: 24px;
      height: 115px;
      padding: 8px 0 8px 8px;
    }

    .product-description{
      font-size: 14px;
      padding-left: 18px;
    }
  }


  .scroll-products{
    direction: rtl;
    left: -17px;
  }

  .shadow{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }



  @keyframes switch {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.2;
    }

    100% {
      scale: 1;
    }
  }
