
ion-content, ion-toolbar, ion-card, ion-list{
  --background: #fbf0e7 !important;
  background-color: #fbf0e7 !important;
}


ion-card{
  font-family: NoirProSemi !important;
}

.input{
  height: 100%;
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 0.4rem 0 0.4rem 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;

}


.prod-info-wrapper{
  font-family: NoirProReg !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  .name{
    flex: 50%;
    margin-left: 12px;
  }
  .qty{
    flex: 20%;
    width: 100px;
  }
  .price{
    flex: 30%;
    width: 100px;
    text-align: end;
  }
}

.icon{
  color: white
}

.total-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: NoirProSemi !important;
  font-size: 20px;
  .client{
    font-family: NoirProSemi !important;
  }
}
