
<div class="picker">
  <!-- <ion-button color="secondary" (click)="onPickImage()" *ngIf="!selectedImage || !showPreview" fill="outline">
    <ion-icon src="../../../assets/icon/add-outline.svg"></ion-icon>
  </ion-button> -->
  <!-- <ion-icon class="image" [src]="selectedImage"></ion-icon> -->
  <ion-img class="image" [src]="selectedImage" *ngIf="selectedImage" role="button"
    (click)="onPickImage()"></ion-img>
  <input type="file" *ngIf="usePicker" #filePicker (change)="onFileChosen($event)" accept="image/jpeg/webp">
</div>
