ion-content, ion-toolbar, ion-footer{
  --background: var(--background-color)!important;
  background-color: var(--background-color) !important;
}

  div, ion-select, ion-input, span ion-title{
  font-family: RoseReg !important;
}

ion-button{
  font-family: RoseMed !important;
}

ion-label, ion-input, span, ion-select{
  font-size: 20px !important;
}

.header-toolbar{
  padding: 24px 0 12px 0;
  border-bottom: 1.2px solid var(--grey);
  font-family: RoseMed !important;
  ion-title{
    font-size: 28px;
  }
  ion-buttons{
    ion-button{
      --padding-bottom: 16px;
      --padding-end: 16px;
      --padding-top: 16px;
      --padding-start: 16px;
      --border-radius: 50%;
      --border-width: 2px;
      margin-right: 12px;
    }
  }
}

span{
  width: 200px;
}

.input{
  cursor: pointer;
  min-height: 70px;
  border: 1.5px solid var(--grey);
  margin: 1rem 0 0.1rem 0.2rem;
  padding-left: 24px;
}

.input:hover{
  --background: rgb(242, 242, 242);
}

.date{
  display: flex;
  align-items: center;
}
