ion-row{
  margin-top: 100px;
}
ion-title{
  font-family: NoirProReg !important;
  font-size: 30px;
  padding: 12px;
  margin: 18px
}
.inv{
  font-family: NoirProReg !important;
  border: solid 1.2px var(--ion-color-primary-contrast);
  border-radius: 4px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
}


.spinner-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
