ion-content, ion-toolbar{
  --background: var(--background-color) !important;
}

ion-row{
  margin-top: 100px;
}
.title{
  font-family: RoseMed !important;
  font-size: 28px;
  margin-left: 12px;
}


.container{
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}


.inv{
  text-align: center;
  flex: 30%;
  max-width: 32%;
  margin: 4px;
  padding: 24px 12px;
  font-family: RoseLight !important;
  font-size: 18px;
  border: 1px solid var(--grey);
}

.inv:hover{
  font-family: RoseMed !important;
  font-size: 20px !important;
  border: 1.5px solid var(--ion-color-medium) !important;
  cursor: pointer;
}


.spinner-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color) !important;
}

