
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="products" href="/office/products">
      <ion-icon aria-hidden="true" src="../../assets/icon/food.svg"></ion-icon>
      <ion-label>Produse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="live-stoc" href="/office/live-stoc">
      <ion-icon aria-hidden="true" src="../../assets/icon/tools.svg"></ion-icon>
      <ion-label>Live Stoc</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cash-register" href="/office/cash-register">
      <ion-icon aria-hidden="true" src="../../assets/icon/business.svg"></ion-icon>
      <ion-label>Registru de casa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" href="/office/users">
      <ion-icon aria-hidden="true" src="../../assets/icon/man.svg" style="height: 25px;"></ion-icon>
      <ion-label>Utilizatori</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>








<!-- <ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons>
  <ion-button fill="clear">
    Produse
  </ion-button>
  <ion-button fill="clear">
    Live Stoc
  </ion-button>
  <ion-button fill="clear">
   Registru de casa
  </ion-button>
  <ion-button fill="clear">
    NIR
  </ion-button>
  <ion-button fill="clear">
    Furnizori
  </ion-button>
  <ion-button fill="clear">
    Utilizatori
  </ion-button>
  <ion-button fill="clear">
    Rapoarte
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-products></app-products>
</ion-content> -->
