
<ion-menu-button *ngIf="!menuOpen">
  <ion-icon src='assets/icon/chevron-double-right.svg'  size="large"></ion-icon>
</ion-menu-button>





<ion-split-pane when="sm" contentId="main">
  <ion-menu contentId="main">
      <div class="menu-toolbar">
          <ion-icon src="../../assets/icon/office-worker.svg" style="font-size: 68px;"></ion-icon>
      </div>
    <ion-content>
      <ion-list>
        <div *ngFor="let page of appPages">
          <ion-item
          lines="none"
          [ngClass]="{'selected': page.show}"
          (click)="selectPage(page.name)"
          >
            <ion-icon [src]="page.icon"></ion-icon>
            <ion-label>{{page.name}}</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

<div class="ion-page" id="main">


  <app-products *ngIf="appPages[0].show"  [isDarkMode]="isDarkMode"></app-products>
  <app-ingredient *ngIf="appPages[1].show"></app-ingredient>
  <app-nirs *ngIf="appPages[2].show"></app-nirs>
  <app-cash-register *ngIf="appPages[3].show"></app-cash-register>
  <app-users *ngIf="appPages[4].show"></app-users>


</div>
</ion-split-pane>





















<!-- <ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="screenWidth > 500">
    <ion-tab-button tab="products" href="/office/products">
      <ion-icon aria-hidden="true" src="../../assets/icon/foood.svg"></ion-icon>
      <ion-label>Produse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingredient" href="/office/ingredient" *ngIf="user && user.employee.access > 2">
      <ion-icon aria-hidden="true" src="../../assets/icon/plant.svg"></ion-icon>
      <ion-label>Materii Prime</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="imp" href="/office/imp">
      <ion-icon aria-hidden="true" src="../../assets/icon/tools.svg"></ion-icon>
      <ion-label>Deprecieri</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nirs" href="/office/nirs" *ngIf="user && user.employee.access > 2">
      <ion-icon aria-hidden="true" src="../../assets/icon/document.svg"></ion-icon>
      <ion-label>NIR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="e-factura" href="/office/e-factura" *ngIf="user && user.employee.access > 2">
      <ion-icon aria-hidden="true" src="../../assets/icon/cloud-outline.svg"></ion-icon>
      <ion-label>E-Factura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="supliers" href="/office/supliers" *ngIf="user && user.employee.access > 2">
      <ion-icon aria-hidden="true" src="../../assets/icon/document.svg"></ion-icon>
      <ion-label>Furnizori</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cash-register" href="/office/cash-register" *ngIf="user && user.employee.access > 2">
      <ion-icon aria-hidden="true" src="../../assets/icon/business.svg"></ion-icon>
      <ion-label>Registru de casa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" href="/office/users" *ngIf="user && user.employee.access > 3">
      <ion-icon aria-hidden="true" src="../../assets/icon/man.svg" style="height: 25px;"></ion-icon>
      <ion-label>Utilizatori</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="shedule" href="/office/shedule" *ngIf="user && user.employee.access > 2">
      <ion-icon aria-hidden="true" src="../../assets/icon/shedule.svg" style="height: 25px;"></ion-icon>
      <ion-label>Program</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pontaj" href="/office/pontaj" *ngIf="user && user.employee.access > 3">
      <ion-icon aria-hidden="true" src="../../assets/icon/time.svg" style="height: 25px;"></ion-icon>
      <ion-label>Pontaj</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->








<!-- <ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons>
  <ion-button fill="clear">
    Produse
  </ion-button>
  <ion-button fill="clear">
    Live Stoc
  </ion-button>
  <ion-button fill="clear">
   Registru de casa
  </ion-button>
  <ion-button fill="clear">
    NIR
  </ion-button>
  <ion-button fill="clear">
    Furnizori
  </ion-button>
  <ion-button fill="clear">
    Utilizatori
  </ion-button>
  <ion-button fill="clear">
    Rapoarte
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-products></app-products>
</ion-content> -->
