
.header{
  display: none;
}

ion-title{
  font-family: NoirProReg !important;
}

.input{
  height: 50px;
  width: 100%;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  margin: 0.5rem 0 0.1rem 0.2rem;
  font-family: NoirProReg !important;
}

.in{
  height: 58px;
}

.record-wrapper{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  .date{
    flex: 35%;
    padding-left: 24px;
  }
  .doc-type{
    flex: 25%
  }
  .doc-number{
    flex: 25%
  }
  .amount{
    flex: 15%;
    padding-right: 24px;
    text-align: right;
  }
}


.title-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: NoirProReg !important;
  font-size: 22px;
}

.sold-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: NoirProReg !important;
  margin: 24px 0 24px 0;
  .title{
    font-size: 42px;
  }
  .sum{
    font-size: 32px;
  }
}

.title-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: NoirProReg !important;
  font-size: 22px;
  margin-bottom: 12px;
}



@media(max-width: 500px){
  .date{
   font-size: 12px;
   flex: 60% !important;
   padding-left: 8px !important;
  }
  .doc-number{
   display: none;
  }
  .doc-type{
    display: none;
  }
  .amount{
   font-size: 12px;
   flex: 40% !important;
   padding-right: 8px !important;
  //  text-align: right !important;
  }

  .title-wrapper{
    font-size: 18px !important;
  }
  .header{
    display: flex;
  }
}
