<ion-header class="header" *ngIf="suplier">
  <ion-toolbar>
    <ion-title>
      {{suplier.name}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/office/supliers">
        <!-- <ion-icon src="../../../../assets/icon/arrow-back-outline.svg"></ion-icon> -->
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="suplier">
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="sold-wrapper">
        <span class="title">SOLD</span>
        <span class="sum">{{round(suplier.sold)}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="4" offset-lg="2">
      <!-- <ion-title class="ion-text-center">INTRĂRI</ion-title> -->
      <div class="title-wrapper in">
        <span class="title">INTRĂRI</span>
        <span class="sum">{{round(in)}} Lei</span>
      </div>
       <div *ngFor="let record of suplier.records">
         <div class="input record-wrapper" *ngIf="record.typeOf === 'intrare'">
           <span class="date">{{formateDate(record.date)}}</span>
           <span class="doc-type">{{record.document.typeOf}}</span>
           <span class="doc-number">{{record.document.docId}}</span>
           <span class="amount">{{record.document.amount}} Lei</span>
         </div>
       </div>
    </ion-col>
    <ion-col size-lg="4">
      <div class="title-wrapper">
        <span class="title">IEȘIRI</span>
        <ion-button fill="ghost" (click)="addRecord()">
          <ion-icon size="large" src="../../../../assets/icon/add-circle.svg"></ion-icon>
        </ion-button>
        <span class="sum">{{round(out)}} Lei</span>
      </div>
      <div *ngFor="let record of suplier.records; let i = index">
        <div class="input record-wrapper" *ngIf="record.typeOf === 'iesire'">
          <span class="date">{{formateDate(record.date)}}</span>
          <span class="doc-type">{{record.document.typeOf}}</span>
          <span class="doc-number">{{record.document.docId}}</span>
          <span class="amount">{{record.document.amount}} Lei</span>
          <ion-button fill="ghost" (click)="deleteRecord(record.document.docId, record.document.amount, i)">
            <ion-icon src="../../../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
