<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="title-wrapper">
            <div class="title">Adaugă Sub Produs</div>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="title-wrapper">
            <div class="title">Adaugă Ingredient / Topping</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <form [formGroup]="form">
        <div class="input">
          <ion-input mode="ios" type="text" label="Nume" labelPlacement="floating" fill="outline" formControlName="name"></ion-input>
        </div>
        <div class="input">
          <ion-input mode="ios" type="text" label="Cantitate" labelPlacement="floating" fill="outline" formControlName="qty"></ion-input>
        </div>
        <div class="input">
          <ion-input  mode="ios" type="number" label="Preț" labelPlacement="floating" fill="outline" formControlName="price"></ion-input>
        </div>
        <div class="input">
          <ion-input  mode="ios" type="number" label="Poziție" labelPlacement="floating" fill="outline" formControlName="order"></ion-input>
        </div>
        <div class="input" *ngIf="isTva">
            <ion-select label="TVA la vanzare" placeholder="TVA" formControlName="tva">
              <ion-select-option value="19">19%</ion-select-option>
              <ion-select-option value="9">9%</ion-select-option>
              <ion-select-option value="5">5%</ion-select-option>
              <ion-select-option value="0">0%</ion-select-option>
            </ion-select>
        </div>
        <div class="input">
          <ion-textarea  mode="ios" type="text" label="Descriere" labelPlacement="floating" fill="outline" formControlName="description"></ion-textarea>
        </div>
      </form>


      </ion-col>
      <ion-col size="8">
        <app-recipe-maker
        [ingPage]="false"
        [hideTop]="true"
        (ingsSend)="onIngRecive($event)"
        (toppSend)="onTopRecive($event)"
        [ings]="productIngredientss"
        [top]="toppings"
        ></app-recipe-maker>
      </ion-col>
      </ion-row>
      </ion-grid>

    </ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block"  (click)="onClose()" color="light" size="large">
          Renunță
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="medium" size="large" (click)="addToProduct()" [disabled]="!form.valid" color="medium">Salvează Sub Produs</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
