
ion-content, ion-toolbar, ion-footer{
  --background: var(--background-color) !important;
}


  span, ion-input, ion-select, ion-searchbar{
  font-family: RoseMed !important;
}

ion-textarea{
  font-family: RoseLight !important;
  // font-size: 14px;
}

.header-buttons{
  --border-width: 1px !important;
  margin: 0 24px !important;
}


.section{
  margin: 0 36px;
  padding: 12px 0 24px 0;
  border-bottom: solid 1px var(--grey);
  .section-label{
    padding-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .label-title{
      font-size: 24px;
    }
    .label-sub-title{
      font-size: 14px;
      color: var(--grey)
    }
  }

  .inputs-wrapper{
      padding: 12px 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .input, .toggle-input{
        margin: 4px 0 4px 12px;
        min-width: 230px;
        max-width: 230px;
        ion-input, ion-select{
          --border-width: 1.5px;
          // --border-color: var(--dark)
        }
      }
      .toggle-input{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17px;
        border: 1.5px solid var(--grey);
        border-radius: 6px;
      }
      .toggle-input:hover{
        border-color: var(--ion-color-medium) ;
      }
  }
}

.description-wrapper{
  padding: 12px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-textarea{
    margin-right: 12px;
    height: 180px;
  }
}


