<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-button class="header-buttons" slot="start" fill="outline" (click)="close()" color="medium">
      <ion-label slot="start" size="large">Închide</ion-label>
      <ion-icon slot="end" src="../../../../assets/icon/close-outline.svg" color="medium"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <section>
      <ion-row class="ion-padding">
        <ion-col size="5">
          <div class="section-label">
            <span class="label-title">Informații Generale</span>
            <span class="label-sub-title">Completează informațiile generale ale categoriei.</span>
          </div>
        </ion-col>
        <ion-col size="7">
          <form [formGroup]="catForm">
            <div class="input">
              <ion-input mode="md" type="text" label="Nume" labelPlacement="floating" fill="outline" formControlName="name" placeholder="Ex. Cafea Rece" required></ion-input>
              <ion-input  mode="md" type="number" label="Poziție" labelPlacement="floating" fill="outline" formControlName="order" placeholder="Ex. 1 Pentru prima pozitie"></ion-input>
            <ion-select mode="md" label="Categorie Parinte" labelPlacement="floating" fill="outline"  formControlName="mainCat" *ngIf="!newMainCat">
              <ion-select-option *ngFor="let cat of mainCats" [value]="cat.name">{{cat.name | capitalize}}</ion-select-option>
            </ion-select>
            <!-- <img src="assets/icon/add-circle.svg" id="add-cat" (click)="addMainCat()"> -->
          </div>
      </form>
        </ion-col>
      </ion-row>
    </section>
    <section>
      <ion-row>
        <ion-col size="5">
          <div class="section-label">
            <span class="label-title">Imagine</span>
            <span class="label-sub-title">Adaugă o imagine categoriei.</span>
          </div>
        </ion-col>
        <ion-col size="7">
          <app-cloudinary-picker [images]="[image]" (imagesToSend)="getImage($event)"></app-cloudinary-picker>
        </ion-col>
      </ion-row>
    </section>
  </ion-grid>
</ion-content>


<ion-footer mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button mode='md' class="footer-button" slot="end" fill="outline" color="medium" size="large" (click)="saveCategory()" [disabled]="!catForm.valid">
       <ion-label slot="start" size="large"> {{editMde ? 'Editează' : 'Salvează'}}</ion-label>
       <ion-icon slot="end" src="../../../../assets/icon/checkmark-outline.svg" color='medium' ></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-footer>

