ion-content, ion-datetime{
  --background: var(--background-color)!important;
}


ion-datetime{
  font-family: RoseMed !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span{
    font-family: RoseReg !important;
  }
  ion-buttons{
    ion-button{
      font-family: RoseMed !important;
    }
  }
}



.title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: RoseMed !important;
    text-align: center;
    background-color: var(--ion-color-medium);
    padding: 8px;
    color: var(--ion-color-light);
    font-size: 14px;
    margin-bottom: 24px;
  }
}
