


ion-content{
  --background: var(--ion-color-tertiary) !important;
}

ion-label, ion-title{
  font-family: NoirProSemi !important;
}

ion-title{
  font-size: 20px;
}

.spinner-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-tertiary) !important;
}


.grid-date{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;

  ion-button{
  padding: 16px;
  width: 400px;
  height: 110px;
  --border-radius: 20px;
  font-size: 22px;
  font-family: NoirProReg;

  }
}


.method-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
  border-radius: 6px 6px 0 0;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--ion-color-light);
  .title {
    text-align: center;
    color: var(--ion-color-medium);
    font-family: NoirProReg !important;
    font-size: 26px;
    margin: 8px 0 4px 0;
    padding: 8px;
  }
  .method, .header{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 12px;
    color: white;
    justify-content: space-between;
    align-items: center;
    color: var(--ion-color-medium);
    .proc{
      font-family: NoirProReg !important;
      font-size: 16px;
      flex: 20%;
      text-align: center;
    }
    .sum{
      font-family: NoirProSemi !important;
      font-size: 22px;
      flex: 40%;
      text-align: end;
    }
    .label{
      font-family: NoirProReg !important;
      flex: 20%;
      font-size: 18px;
      margin-right: 4px;
      text-align: start;
    }
    .intrari{
      flex: 20%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .iesiri{
      flex: 20%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .dif{
      flex: 18%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .inv{
      flex: 16%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .bonus {
      cursor: pointer;
      flex: 15%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .section{
      cursor: pointer;
      flex: 18%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .net{
      cursor: pointer;
      flex: 20%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .tax{
      cursor: pointer;
      flex: 20%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .brut{
      flex: 20%;
      font-family: NoirProReg !important;
      font-size: 20px;
      margin-right: 4px;
      text-align: start;
    }
    .pers{
      flex: 5%;
      font-family: NoirProReg !important;
      font-size: 16px;
      margin-right: 4px;
      text-align: start;
    }


    .venit{
      flex: 16.5%;
      font-family: NoirProReg !important;
      font-size: 24px;
      margin-right: 4px;
      text-align: start;
    }
    .mfs{
      flex: 16.5%;
      font-family: NoirProReg !important;
      font-size: 24px;
      margin-right: 4px;
      text-align: center;
    }
    .mfr{
      flex: 16.5%;
      font-family: NoirProReg !important;
      font-size: 24px;
      margin-right: 4px;
      text-align: center;
    }
    .empl{
      flex: 16.5%;
      font-family: NoirProReg !important;
      font-size: 24px;
      margin-right: 4px;
      text-align: center;
    }
    .spend{
      flex: 16.5%;
      font-family: NoirProReg !important;
      font-size: 24px;
      margin-right: 4px;
      text-align: center;
    }
    .prof{
      flex: 16.5%;
      font-family: NoirProReg !important;
      font-size: 24px;
      margin-right: 4px;
      text-align: end;
    }
  }
}

.header{
  border-bottom: 0.1px solid var(--ion-color-medium);
  margin-bottom: 0.7rem;
}

.light{
  font-family: NoirProLight !important;
}

.font{
  font-family: NoirProSemi !important;
  font-size: 25px !important;
  background-color: var(--ion-color-medium) !important;
  color: var(--ion-color-light) !important;
}


@media (prefers-color-scheme: dark) {


  .sum-wrapper {
    span{
      color: var(--ion-color-primary);
    }
    .incasat{
      color: rgb(255, 246, 234);

    }
    .vat{
      color: rgb(255, 240, 240);

    }
    .tot{
      color: rgb(237, 252, 255);
    }

  }

}

@media(max-width: 500px){
  .method-container{
    .method, .header{
      .label{
        font-size: 9px !important;
      }
      .proc{
        font-size: 9px !important;
      }
      .sum{
        font-size: 9px !important;
      }
      .intrari{
        font-size: 9px !important;
      }
      .iesiri{
        font-size: 9px !important;
      }
      .dif{
        font-size: 9px !important;
      }
      .inv{
        font-size: 9px !important;
      }
      .bonus {
        font-size: 9px !important;
      }
      .section{
        font-size: 9px !important;
      }
      .net{
        font-size: 9px !important;
      }
      .tax{
        font-size: 9px !important;
      }
      .brut{
        font-size: 9px !important;
      }
      .pers{
        font-size: 9px !important;
      }
      .venit{
        font-size: 9px !important;
      }
      .mfs{
        font-size: 9px !important;
      }
      .mfr{
        font-size: 9px !important;
      }
      .empl{
        font-size: 9px !important;
      }
      .spend{
        font-size: 9px !important;
      }
      .prof{
        font-size: 9px !important;
      }
    }
  }
  .font{
    font-size: 10px !important;
  }

  ion-title{
    font-size: 14px !important;
  }
}
