<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border toolbar">
      <ion-title slot="start">CASHBACK</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="dismiss()">
          <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <div class="sub-header">
      <div class="line">
        <span class="label">Notă de plată</span>
        <span class="value">{{data.total}} Lei</span>
      </div>
      <div class="line">
        <span class="label">Cashback client</span>
        <span class="value">{{data.cashBack}} Lei</span>
      </div>
    </div>
    <div class="input">
      <ion-input type="number" label="Valoare" labelPlacement="floating" fill="outline" placeholder="00" [(ngModel)]="cashBackValue"></ion-input>
      <ion-button size="large" expand="block" (click)="maxim()">MAXIM</ion-button>
    </div>

</ion-content>

<ion-footer class='ion-no-border'>

  <ion-button size="large" expand="block" (click)="useCashBack()">FOLOSEȘTE</ion-button>

</ion-footer>
