<ion-menu-button>
  <ion-icon [src]=" menuOpen ? '../../../assets/icon/chevron-double-left.svg' : 'assets/icon/chevron-double-right.svg'"  size="large"></ion-icon>
</ion-menu-button>


<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border header-toolbar">
      <ion-title slot="start">Registru de casă</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="addEntry()">
          <ion-icon size="large" src="../../../assets/icon/add-outline.svg"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="openDateModal('end')">
          <ion-icon size="large" src="../../../assets/icon/shedule.svg"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="export()">
          <ion-icon size="large" src="../../../assets/icon/exports.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <div class="header">
        <span class="id">Nr</span>
        <span class="date">Data</span>
        <span class="entry">Denumire Intrare</span>
        <span class="type">Tip Intrare</span>
        <span class="total">Valoare</span>
        <span class="action">Actiune</span>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <div class="day-container" *ngFor="let day of documents; let z = index">
      <div class="entry-wrapper" *ngFor="let entry of day.entry; let i = index">
        <span class="id">#{{i+1}}</span>
        <span class="date">{{formatDate(day.date)}}</span>
        <span class="entry">{{entry.description | capitalize}}</span>
        <span class="type" [class.red]="entry.tip === 'expense'">{{entry.tip === 'expense' ? 'Plată' : 'Încasare'}}</span>
        <span class="total" [class.red]="entry.tip === 'expense'">{{entry.amount}} Lei</span>
        <ion-button class="action" fill="ghost" color="medium" (click)="deleteEntry(entry._id, i, z)">
          <ion-icon src="../../../assets/icon/trash-outline.svg"></ion-icon>
        </ion-button>
      </div>
      <div class="raport-wrapper">
        <span class="id"></span>
        <span class="date"></span>
        <span class="r-label">TOTAL INTRĂRI</span>
        <span class="r-value">{{calcDayIncome(day)}} Lei</span>
      <span class="action"></span>
      </div>
      <div class="raport-wrapper">
        <span class="id"></span>
        <span class="date"></span>
        <span class="r-label">TOTAL IEȘIRI</span>
        <span class="r-value">- {{calcDayPayments(day)}} Lei</span>
      <span class="action"></span>
      </div>
      <div class="total-wrapper">
        <span class="id"></span>
        <span class="date">{{formatDate(day.date)}}</span>
        <span class="label">NUMERAR LA SFÂRȘIT DE ZI</span>
        <span class="value">{{round(day.cashOut)}} Lei</span>
      <span class="action"></span>
      </div>
  </div>
</ion-content>
