
ion-content, ion-toolbar, ion-header{
  --background: var(--background-color) !important;
  background-color:  var(--background-color) !important;
}
ion-select, span, ion-title, ion-button{
  font-family: RoseMed !important;
}

.font{
  font-family: NoirProReg !important;
}
ion-select{
  --border-width: 1.5px;
}



.header{
  margin: 0 28px;
  width: 96%;
  font-family: RoseReg !important;
  display: flex;
  align-items: center;
  padding: 14px 18px;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--grey);
}


.header, .ing-container{
    .id{
      flex: 5%;
    }
    .ing{
      text-align: start;
      flex: 30%;
    }
    .um{
      text-align: center;
      flex: 15%
    }
    .price{
      text-align: center;
      flex: 10%;
    }
    .qty{
      text-align: center;
      flex: 10%;
    }
    .inv{
      text-align: center;
      flex: 10%
    }
    .in{
      text-align: center;
      flex: 10%
    }
    .action{
      text-align: center;
      flex: 10%;
    }
}
.ing-container{
  font-family: RoseReg !important;
  margin: 0 28px;
  width: 96%;
  padding: 12px 18px;
  border-bottom: 0.5px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;

  div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: RoseReg !important;
      margin-left: 8px;
      .name{
        color: var(--ion-color-medium);
        font-size: 16px;
      }
      .cat{
        color: var(--grey);
        font-size: 13px
      }
    }
  }
  .status{
    width: 100%;
    justify-content: center;
  }
}

.ing-container:hover{
  background-color: rgba(var(--ion-color-medium-rgb), 0.05) !important;
}


