
ion-content{
  --background: var(--ion-color-tertiary);
}
ion-select{
  font-family: NoirProReg !important;
}

.font{
  font-family: NoirProReg !important;
}

span{
  font-family: NoirProReg !important;
}

.input{
  height: 45px;
  border: 0.5px solid var(--ion-color-medium);
  border-radius: 8px;
  margin: 0.1rem 0 0.1rem 0.2rem;
  font-family: NoirProReg !important;
}

img{
  height: 25px;
  cursor: pointer
}

.spinner-container{
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.header{
  font-size: 17px;
  font-weight: 500;
}

.arrow {
  height: 18px;
  padding: 10px;
}

.edit{
 color: var(--ion-color-primary);
 margin: 10px;
}

.delete{
  color: var(--ion-color-danger);
  margin: 10px;
}

ion-item[slot="fixed"]{
  top: 8%;
  width: 100%;
  opacity: 60%;
  font-family: NoirProReg !important;
  // --backgound: transparent;
}

#all{
  font-weight: 500;
}

.content-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
  span{
    margin: 10px 0 10px 0;
  }
  .name{
    flex: 10%;
    text-align: start !important;
  }
  .gestiune{
    flex:5%;
  }
  .um{
    flex: 3%;
  }
  .dep{
    flex: 3%;
  }
  .price{
    flex: 5%;
  }
  .qty{
    flex: 7%;
  }
}

.sub-container{
  ion-item{
    span{
      font-size: 13px;
    }
  }
}

.product{
  cursor: pointer;
}

.product:hover{
  --background: var(--ion-color-medium);
}
