
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border header-toolbar">
      <ion-title slot="start">Fișe Deprecieri</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="newSheet()">
          <ion-icon size="large" src="../../../assets/icon/add-outline.svg"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="close()">
          <ion-icon size="large" src="../../../assets/icon/close-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  <ion-toolbar>
    <div class="header">
      <span class="id">Nr</span>
      <span class="user">Responsabil</span>
      <span class="date">Dată</span>
      <span class="ing">Ingredinete</span>

    </div>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <div class="ing-container" *ngFor="let sheet of sheets; let i = index" (click)="showSheet(sheet)">
      <span class="id">#{{i+1}}</span>
      <span class="user">{{sheet.user.employee.fullName}}</span>
      <span class="date">{{formatedDate(sheet.date)}}</span>
      <span class="ing">{{sheet.ings.length}}</span>
    </div>

  </ion-content>








<!-- <ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col size="9" offset="1">
      <ion-row>
        <ion-col size="4">
          <div class="input" *ngFor="let sheet of sheets; let i=index;">
            <span class="index">{{i+1}}.</span>
            <span class="name" (click)="showSheet(sheet)">{{sheet.user.employee.fullName}}</span>
            <span class="date" (click)="showSheet(sheet)">{{formatedDate(sheet.date)}}</span>
            <ion-icon src="../../../assets/icon/trash-outline.svg" (click)="deleteSheet(sheet._id)" color="medium"></ion-icon>
          </div>
      </ion-col>
      <ion-col size="8">
        <ion-row>
          <ion-col size="9">
            <app-recipe-maker
            (ingsSend)="onIngRecive($event)"
            [impPage]="true"
            [ings]="ings"
            ></app-recipe-maker>
            <ion-button color="medium" expand="block" size="large" *ngIf="sheetIng.length && newSheet" (click)="saveSheet()">Salvează</ion-button>
          </ion-col>
          <ion-col size="3">
            <div class="display-date" (click)="newSheeet()">
              <span>Fișă nouă</span>
            </div>
            <div class="display-date" (click)="openDateModal()" *ngIf="date">
              <span>{{formatedDate(date)}}</span>
            </div>
            <div class="display-date" *ngIf="user">
              <span>{{user.employee.fullName}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> -->
