ion-content, ion-toolbar, ion-footer, ion-radio-group{
  --background: var(--background-color) !important;
}


ion-title, span, ion-item, ion-input, ion-searchbar, ion-chekbox, ion-radio, ion-button{
  font-family: RoseMed !important;
}


ion-searchbar{
  --background: rgba(var(--ion-color-medium-rgb), 0.1);
  --box-shadow: none !important;
}

.footer-button{
  margin: 12px 0 !important;
  margin-left: 36px !important;
  margin-right: 24px !important;
}



ion-checkbox {
  font-size: 18px;
  --size: 24px;
}

ion-radio {
  font-size: 18px;
  --size: 24px;
}

// ion-checkbox::part(label) {

// }


ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid black;
}
