
<ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-searchbar mode="md"  [placeholder]="searchPlaceholder"  (ionInput)="searchData($event)" #searchbar>
      </ion-searchbar>
      <ion-button slot="end" color="medium" fill="clear" (click)="addSuplier()" *ngIf="showAdd">
          <ion-icon src="../../../assets/icon/add-circle-outline.svg" size="large"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper">
  <ion-grid>
    <div *ngIf="mode === 'bonus'">
      <ion-item *ngFor="let user of users; let i = index" class="ing-name" lines="none" color="transparent">
        <ion-checkbox (ionChange)="onChange($event, user)" slot="start" [checked]="user.checked" labelPlacement="end">{{user.name}}</ion-checkbox>
      </ion-item>
    </div>
    <ion-radio-group [(ngModel)]="selectedValue"  *ngIf="mode === 'supliers' || 'data'">
      <ion-item *ngFor="let choice of data; let i = index" class="ing-name" lines="none" color="transparent">
        <ion-radio slot="start" [value]="choice" labelPlacement="end">{{choice}}</ion-radio>
      </ion-item>
    </ion-radio-group>
    </ion-grid>
  </ion-content>


  <!-- <ion-footer class="ion-no-border">
    <ion-button color="medium" (click)="onSubmit()" size="large" expand="block" style="font-family: NoirProSemi !important;">Alege</ion-button>
  </ion-footer> -->


<ion-footer mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button mode='md' class="footer-buttons" size="large" slot="start" fill="outline" (click)="close()" color="medium">
      <ion-label slot="start" size="large">Închide</ion-label>
      <ion-icon slot="end" src="../../../../assets/icon/close-outline.svg" color="medium"></ion-icon>
    </ion-button>
    <ion-button mode='md' class="footer-button" slot="end" fill="outline" color="medium" size="large" (click)="onSubmit()">
       <ion-label slot="start" size="large" >Adaugă</ion-label>
       <ion-icon slot="end" src="../../../../assets/icon/checkmark-outline.svg" color='medium' ></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-footer>
