/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'theme/colors';




.light-theme {
  --green: #{$green-light};
  --green-shade: #{$green-shade-light};
  --green-contrast: #{$green-contrast-light};
  --light-green: #{$light-green-light};
  --light-green-contrast: #{$light-green-contrast-light};
  --light-green-shade: #{$light-green-shade};


  --sand: #{$sand-light};
  --sand-rgb: #{$sand-light-rgb};
  --sand-contrast: #{$sand-contrast-light};

  --orange: #{$orange-light};
  --light-orange: #{$light-orange-light};
  --orange-contrast: #{$orange-contrast-light};
  --orange-contrast1: #{$orange-contrast-light1};
  --orange-rgb: #{$orange-light-rgb};

  --yellow: #{$yellow-light};
  --yellow-shade: #{$yellow-shade-light};

  --blue: #{$blue-light};
  --blue-shade: #{$blue-shade-light};
  --light-blue: #{$light-blue-light};
  --light-blue-shade: #{$light-blue-light-shade};
  --dark-blue: #{$dark-blue};

  --turqoise: #{$turqoise-light};
  --light-turqoise: #{$light-turqoise-light};
  --turqoise-contrast: #{$turqoise-contrast-light};
  --turqoise-rgb: #{$turqoise-light-rgb};

  --red: #{$red-light};
  --light-red: #{$light-red-light};
  --red-contrast: #{$red-contrast-light};
  --red-rgb: #{$red-light-rgb};

  --menu-background: #{$menu-background-light};

  --grey: #{$grey-light};
  --light-grey: #{$light-grey-light};
  --greyy: #{$greyy-light};


  --text-color: #{$text-color-light};
  --background-color: #{$background-color-light};

  --white: #{$white};
  --dark: #{$dark};


  --barista:#{$barista-light};
  --barista-rgb:#{$barista-light-rgb};

  --aj-barista: #{$aj-barista-light};
  --aj-barista-rgb: #{$aj-barista-light-rgb};

  --casier: #{$casier-light};
  --casier-rgb: #{$casier-light-rgb};

  --ospatar: #{$ospatar-light};
  --ospatar-rgb: #{$ospatar-light-rgb};

  --bucatar:#{$bucatar-light};
  --bucatar-rgb:#{$bucatar-light-rgb};

  --aj-bucatar:#{$aj-bucatar-light};
  --aj-bucatar-rgb:#{$aj-bucatar-light-rgb};

  --days: #{$days-light};
  --days-rgb: #{$days-light-rgb};

  --tes: #{$tes-light};
  --tes-rgb: #{$tes-light-rgb};

  --liber:#{$liber-light};
  --liber-rgb:#{$liber-light-rgb};

  --concediu:#{$concediu-light};
  --concediu-rgb:#{$concediu-light-rgb};

  --medical:#{$medical-light};
  --medical-rgb:#{$medical-light-rgb};


}

// Dark Theme
.dark-theme {
  --green: #{$green-dark};
  --green-shade: #{$green-shade-dark};
  --green-contrast: #{$green-contrast-dark};

  --light-green: #{$light-green-dark};
  --light-green-contrast: #{$light-green-contrast-dark};
  --light-green-shade: #{$light-green-shade};


  --sand: #{$sand-dark};
  --sand-rgb: #{$sand-dark-rgb};
  --sand-contrast: #{$sand-contrast-dark};

  --orange: #{$orange-dark};
  --light-orange: #{$light-orange-dark};
  --orange-contrast: #{$orange-contrast-dark};
  --orange-contrast1: #{$orange-contrast-dark1};
  --orange-rgb: #{$orange-dark-rgb};

  --yellow: #{$yellow-dark};
  --yellow-shade: #{$yellow-shade-dark};

  --blue: #{$blue-dark};
  --blue-shade: #{$blue-shade-dark};
  --light-blue: #{$light-blue-dark};
  --light-blue-shade: #{$light-blue-dark-shade};
  --dark-blue: #{$dark-blue};

  --turqoise: #{$turqoise-dark};
  --light-turqoise: #{$light-turqoise-dark};
  --turqoise-contrast: #{$turqoise-contrast-dark};
  --turqoise-rgb: #{$turqoise-dark-rgb};

  --red: #{$red-dark};
  --light-red: #{$light-red-dark};
  --red-contrast: #{$red-contrast-dark};
  --red-rgb: #{$red-dark-rgb};

  --grey: #{$grey-dark};
  --light-grey: #{$light-grey-dark};
  --greyy: #{$greyy-dark};

  --menu-background: #{$menu-background-dark};

  --text-color: #{$text-color-dark};
  --background-color: #{$background-color-dark};

  --white: #{$white};
  --dark: #{$dark};




  --barista:#{$barista-dark};
  --barista-rgb:#{$barista-dark-rgb};

  --aj-barista: #{$aj-barista-dark};
  --aj-barista-rgb: #{$aj-barista-dark-rgb};

  --casier: #{$casier-dark};
  --casier-rgb: #{$casier-dark-rgb};

  --ospatar: #{$ospatar-dark};
  --ospatar-rgb: #{$ospatar-dark-rgb};

  --bucatar:#{$bucatar-dark};
  --bucatar-rgb:#{$bucatar-dark-rgb};

  --aj-bucatar:#{$aj-bucatar-dark};
  --aj-bucatar-rgb:#{$aj-bucatar-dark-rgb};

  --days: #{$days-dark};
  --days-rgb: #{$days-dark-rgb};

  --tes: #{$tes-dark};
  --tes-rgb: #{$tes-dark-rgb};

  --liber:#{$liber-dark};
  --liber-rgb:#{$liber-dark-rgb};

  --concediu:#{$concediu-dark};
  --concediu-rgb:#{$concediu-dark-rgb};

  --medical:#{$medical-dark};
  --medical-rgb:#{$medical-dark-rgb};
}










@font-face {
  font-family: 'NoirProSemi';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-SemiBold.woff2');
}
@font-face {
  font-family: 'NoirProReg';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-Regular.woff2');
}
@font-face {
  font-family: 'NoirProLight';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-Light.woff2');
}
@font-face {
  font-family: 'NoirProMed';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-Medium.woff2');
}

@font-face {
  font-family: 'RoseSemi';    //This is what we are going to call
  src: url('./assets/fonts/RedRose-SemiBold.ttf');
}
@font-face {
  font-family: 'RoseReg';    //This is what we are going to call
  src: url('./assets/fonts/RedRose-Regular.ttf');
}
@font-face {
  font-family: 'RoseLight';    //This is what we are going to call
  src: url('./assets/fonts/RedRose-Light.ttf');
}
@font-face {
  font-family: 'RoseMed';    //This is what we are going to call
  src: url('./assets/fonts/RedRose-Medium.ttf');
}

body ion-alert.extraAlert{
  .alert-input{
    border: 0.5px solid var(--ion-color-medium);
    border-radius: 8px;
  }
  --width: 100% !important;

}


body .title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: RoseMed !important;
    text-align: center;
    background-color: black;
    padding: 18px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-medium);
    font-size: 24px;
    margin-top: 8px;
  }
}

body ion-alert.reprint-alert{
  font-family: RoseMed !important;
  --background: var(--background-color);
  --max-width: none !important;
  --width: 700px !important;
  .alert-title{
    padding: 4px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
  }
  .alert-radio-label{
    font-size: 25px;
  }
  .alert-input{
    font-size: 30px;
    padding-left: 12px;
    height: 100px;
    border: 1.5px solid var(--grey);
  .alert-button-group{
    flex-direction: row !important;
    justify-content: space-between;
    .alert-button{
      padding: 18px;
      font-size: 25px;
    }
  }
}
}

body .toast{
  font-family: RoseReg !important;
  font-size: 18px !important;
}

body ion-alert.suplier-alert{
  --max-height: none !important;
  --height: 900px !important;
  .alert-radio-group{
    max-height: none !important;
    height: 900px !important;
  }
  .alert-checkbox-group{
    max-height: none !important;
    height: 900px !important;
  }
}

body ion-alert.time-alert{
  --max-height: none !important;
  --width: 900px !important;
  --height: 600px !important;
  .alert-radio-group{
    max-height: none !important;
    height: 600px !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .alert-radio-button{
      width: 180px !important;
    }
  }
}


body ion-alert.deleteAlert{
  --max-width: none!important;
  --width: 400px!important;
  font-family: RoseMed !important;
  font-size: 16px !important;
  .alert-button-group-vertical{
    flex-direction: row !important;
    justify-content: center;
  }
  .inStoc{
    width: 150px !important;
    text-align: start !important;
  }
  .outStoc{
    text-align: start !important;
    width: 150px !important;
  }
}
.cancel{
  color: var(--ion-color-medium) !important;
  background-color: var(--background-color) !important;
}
.confirm{
  color: var(--ion-color-light) !important;
  background-color: var(--ion-color-medium) !important;
}

.crud-modal{
  --width: 50%;
  --height: 95vh;
  --min-heigth: none;
  --max-width: none;
  --min-width: none;
  }

.add-modal{
  --min-heigth: none;
  --max-width: none;
  --min-width: none;
  --width: 98%;
  --height: 98% !important;
}

  .billModal{
    --height: 95%;
    --min-width: none !important;
    --width: 60% !important;
  }

  .small{
    --height: 70%;
    --min-width: none !important;
    --width: 40% !important;
    .alert-radio-group{
      max-height: none !important;
      height: 100% !important;
    }
    .alert-checkbox-group{
      max-height: none !important;
      height: 100% !important;
    }
  }

  .small-one{
    --height: 50%;
    --min-width: none !important;
    --width: 40% !important;
  }
  .small-two{
    --height: 90%;
    --min-width: none !important;
    --width: 40% !important;
  }

  .medium{
    --height: 95%;
    --min-width: none !important;
    --width: 88% !important;
  }

  .medium-one{
    --height: 65%;
    --min-width: none !important;
    --width: 70% !important;
  }
  .medium-two{
    --height: 90%;
    --min-width: none !important;
    --width: 70% !important;
  }
  body ion-alert.discountAlert {
    --max-width: none!important;
    --width: 400px!important;
    --background: var(--ion-color-tertiary) !important;
    font-family: NoirProReg !important;
    .alert-title{
      background-color: var(--ion-color-medium) !important;
      color:  var(--ion-color-light) !important;
      padding: 12px;
      text-align: center;
    }
    .alert-button-group{
      flex-direction: row !important;
      justify-content: space-between;
    }
    .custom-input {
      height: 55px;
      font-size: 20px;
      box-shadow:
      0 -2px 4px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 12px;
      background-color: var(--ion-color-light);
      --highlight-color-focused: var(--ion-color-medium) !important;
      --color: var(--ion-color-medium) !important;
    }
  }


  body ion-alert{
    --background:  var(--background-color) !important;
    --min-width: none!important;
    --max-width: 600px !important;
    --width: 500px !important;
    font-family: RoseMed !important;
    .alert-title{
      padding: 4px !important;
      font-size: 26px !important;
      text-align: center;
    }
    .alert-message{
      text-align: center;
      font-family: RoseLight !important;
      font-size: 24px !important;
    }
    .alert-radio-group{
      .alert-radio-button[aria-checked=true]{
        .alert-radio-icon {
          border-color: var(--ion-color-medium);
          .alert-radio-inner{
            background-color: var(--ion-color-medium) !important;
          }
        }
      }
    }
    .alert-input{
      padding-left: 18px !important;
      font-family: RoseMed !important;
      font-size: 16px;
      border: 1px solid var(--ion-color-medium) !important;
      border-radius: 6px;
    }
    .alert-button-group{
      display: flex;
      flex-direction: row !important;
      justify-content: space-between !important;
      button:nth-child(1){
        color: var(--ion-color-medium) !important;
        background-color: var(--background-color) !important;
      }
      button:nth-child(2){
        color: var(--ion-color-light) !important;
        background-color: var(--ion-color-medium) !important;
        padding: 0 24px;
      }
    }
    .alert-radio-label{
      font-size: 18px !important;
    }
  }

  body ion-alert.tips {
    .alert-input{
      font-size: 28px !important;
    }
  }


  ion-date-time{
    ion-buttons{
      ion-button{
        font-family: RoseReg !important;
      }
    }
    .datetime-button-cancel{

      color: var(--ion-color-light) !important;
      --color: var(--ion-color-light) !important;
      --background:  var(--ion-color-medium) !important ;
      background-color:  var(--ion-color-medium) !important ;
    }
    .datetime-button-confirm {
      font-family: RoseReg !important;
      color: var(--ion-color-medium) !important;
      background-color: var(--ion-color-light) !important;
    }
  }

  @media screen and (max-width: 500px) {

  .billModal{
    --height: 100%;
    --min-width: none !important;
    --width: 100% !important;
  }
  }






 body ion-toolbar.header-toolbar{
    padding: 24px 0 12px 0;
    margin: 0 28px;
    width: 96%;
    border-bottom: 1.2px solid var(--grey);
    --background: var(--background-color) !important;
    ion-title{
      margin-left: 60px !important;
      font-family: RoseMed !important;
      font-size: 36px;
    }
    ion-buttons{
      ion-button{
        --padding-bottom: 12px !important;
        --padding-end: 12px !important;
        --padding-top: 12px !important;
        --padding-start: 12px !important;
        --border-radius: 50% !important;
        --border-width: 2px !important;
        margin-right: 12px !important;
        --border-color: var(--ion-color-medium);
        ion-icon{
          color: var(--ion-color-medium);
        }
      }
      ion-badge{
        font-family: RoseLight !important;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 99 !important;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 18px;
        box-shadow: none !important;
      }
    }
  }

  body ion-toolbar.toolbar{
    padding: 24px 0 12px 0;
    border-bottom: 1.2px solid var(--grey);
    --background: var(--background-color) !important;
  ion-title{
    margin-left: none !important;
    font-family: RoseMed !important;
    font-size: 36px;
  }
  ion-buttons{
    ion-button{
      --padding-bottom: 12px !important;
      --padding-end: 12px !important;
      --padding-top: 12px !important;
      --padding-start: 12px !important;
      --border-radius: 50% !important;
      --border-width: 1px !important;
      margin-right: 12px !important;
      --border-color: var(--orange-contrast1);
      --background: rgba(var(--orange-rgb), 0.2) !important;
      ion-icon{
        color:  var(--orange-contrast1) !important;
      }
    }
  }
  }

  body ion-toolbar.cash{
    border: none !important;
  }

  body ion-toolbar.small{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    ion-buttons{
      ion-button{
        --padding-bottom: 10px !important;
        --padding-end: 10px !important;
        --padding-top: 10px !important;
        --padding-start: 10px !important;
        --border-radius: 50% !important;
        --border-width: 2px !important;
        margin-right: 12px !important;
        --border-color: var(--ion-color-medium);
        ion-icon{
          color: var(--ion-color-medium);
        }
      }
    }
  }

  ion-menu-button{
    position: absolute;
    top: 25px;
    left: 40px;
    z-index: 99;
    width: fit-content;
    border: 2px solid var(--ion-color-medium);
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }

  ion-menu-button.tool{
    top: 8px;
    left: 12px;
    width: 45px !important;
    height: 45px !important;
    ion-icon{
      color: var(--orange-contrast1) !important;
    }
  }

  ion-toggle.toggle-checked::part(track) {
    background: #ddd;
  }


  ion-toggle.toggle-checked::part(handle) {
    background: var(--orange)
  }


  .default-spinner{
    font-family: RoseLight !important;
    font-size: 22px;
    --background: var(--background-color) !important;
    --spinner-color: var(--orange-contrast1) !important;
    --backdrop-opacity: 0.3 !important;
    .loading-spinner{
      font-family: 60px !important;
      ion-spinner{
          height: 50px !important;
          width: 50px !important;
      }
      // height: 100px !important;
    }
  }






  ion-buttons.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
    ion-button{
      text-transform: uppercase !important;
      --background: rgba(var(--sand-rgb), 0.2) !important;
      --padding-start: 16px;
      --border-radius: 6px !important;
      --padding-end: 16px;
      --padding-top: 16px;
      --padding-bottom: 16px;
      --background: transparent;
      font-size: 13px !important;
      ion-label{
        font-family: RoseReg !important;
        font-size: 13px !important;
        color: var(--orange-contrast1);
      }
      ion-icon{
        font-size: 24px;
        color: var(--orange-contrast1);
      }
    }
  }


  ion-buttons.horizontal-scroll ion-button.add-button{
    --background: transparent !important;
    --border-width: 1px;
    --border-color: var(--orange-contrast1);
    margin: 0 12px 0 12px;
    ion-icon{
      color: var(--orange-contrast1) !important;
    }
    ion-label{
      font-family: RoseReg !important;
      color: var(--orange-contrast1) !important;
    }
  }

  ion-buttons.horizontal-scroll ion-button.active-button {
    --background: var(--orange-contrast) !important;
    ion-label{
      color: var(--light-sand) !important;
    }
    ion-icon{
      color: var(--light-sand) !important;
    }
  }

  ion-buttons.horizontal-scroll ion-button ion-item{
    --background: rgba(var(--sand-rgb), 0.2) !important;
    ion-input{
    color: var(--sand-contrast) !important;
    }
  }


  ion-toolbar.tool{
    padding: 24px 0 12px 0;
    margin-top: 12px;
    --background: var(--background-color) !important;
  ion-title{
    margin: 24px 0 0 40%;
    font-family: RoseMed !important;
    color: var(--orange-contrast1) !important;
    font-size: 24px;
  }
  ion-buttons[slot='start']{
    ion-button{
      --background: rgba(var(--sand-rgb), 0.1) !important;
      --padding-bottom: 16px !important;
      --padding-end: 16px !important;
      --padding-top: 16px !important;
      --padding-start: 16px !important;
      --border-radius: 50% !important;
      --border-width: 0.5px !important;
      margin-right: 12px !important;
      --border-color: var(--orange-contrast1) !important;
      ion-icon{
        color: var(--orange-contrast1);
      }
    }
    ion-button:active{
      --background: rgba(var(--sand-rgb), 0.2) !important;
    }
  }
  }


