/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



@font-face {
  font-family: 'NoirProSemi';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-SemiBold.woff2');
}
@font-face {
  font-family: 'NoirProReg';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-Regular.woff2');
}
@font-face {
  font-family: 'NoirProLight';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-Light.woff2');
}
@font-face {
  font-family: 'NoirProMed';    //This is what we are going to call
  src: url('./assets/fonts/NoirPro-Medium.woff2');
}

body ion-alert.extraAlert{
  .alert-input{
    border: 0.5px solid var(--ion-color-medium);
    border-radius: 8px;
  }
  --width: 100% !important;

}


body .title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: NoirProSemi !important;
    text-align: center;
    background-color: black;
    padding: 18px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-medium);
    font-size: 24px;
    margin-top: 8px;
  }
}

body ion-alert.reprint-alert{
  font-family: NoirProReg !important;
  --background: var(--ion-color-tertiary);
  --max-width: none !important;
  --width: 700px !important;
  .alert-title{
    background-color: var(--ion-color-light);
    color: var(--ion-color-medium);
    padding: 12px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
  }
  .alert-radio-label{
    font-size: 25px;
  }
  .alert-input{
    font-size: 30px;
    padding-left: 12px;
    height: 100px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-medium);
    box-shadow:
    0 -2px 4px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .alert-button-group{
    flex-direction: row !important;
    justify-content: space-between;
    .alert-button{
      padding: 18px;
      font-size: 25px;
    }
  }
}

body ion-alert.suplier-alert{
  --max-height: none !important;
  --height: 900px !important;
  .alert-radio-group{
    max-height: none !important;
    height: 900px !important;
  }
  .alert-checkbox-group{
    max-height: none !important;
    height: 900px !important;
  }
}

body ion-alert.time-alert{
  --max-height: none !important;
  --width: 900px !important;
  --height: 600px !important;
  .alert-radio-group{
    max-height: none !important;
    height: 600px !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .alert-radio-button{
      width: 180px !important;
    }
  }
}


body ion-alert.deleteAlert{
  --max-width: none!important;
  --width: 500px!important;
  .alert-button-group-vertical{
    flex-direction: row !important;
    justify-content: center;
  }
  .inStoc{
    width: 150px !important;
    text-align: start !important;
  }
  .outStoc{
    text-align: start !important;
    width: 150px !important;
  }
}
.cancel{
  color: var(--ion-color-medium) !important;
  background-color: var(--ion-color-light) !important;;
}
.confirm{
  color: var(--ion-color-light) !important;
  --color: var(--ion-color-light) !important;
  --background:  var(--ion-color-medium) !important ;
  background-color:  var(--ion-color-medium) !important ;
}

.crud-modal{
  --width: 80%;
  --height: 95vh;
  --min-heigth: none;
  --max-width: none;
  --min-width: none;
  }

  .billModal{
    --height: 95%;
    --min-width: none !important;
    --width: 60% !important;
  }

  body ion-alert.discountAlert {
    --max-width: none!important;
    --width: 400px!important;
    --background: var(--ion-color-tertiary) !important;
    font-family: NoirProReg !important;
    .alert-title{
      background-color: var(--ion-color-medium) !important;
      color:  var(--ion-color-light) !important;
      padding: 12px;
      text-align: center;
    }
    .alert-button-group{
      flex-direction: row !important;
      justify-content: space-between;
    }
    .custom-input {
      height: 55px;
      font-size: 20px;
      box-shadow:
      0 -2px 4px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 12px;
      background-color: var(--ion-color-light);
      --highlight-color-focused: var(--ion-color-medium) !important;
      --color: var(--ion-color-medium) !important;
    }
  }


  body ion-alert{
    --background:  var(--ion-color-tertiary) !important;
    --max-width: none!important;
    --width: 500px;
    font-family: NoirProReg !important;
    .alert-title{
      background-color: var(--ion-color-medium) !important;
      color: var(--ion-color-light) !important;
      padding: 12px !important;
      font-size: 26px !important;
      text-align: center;
    }
    .alert-button-group{
      display: flex;
      flex-direction: row !important;
      justify-content: space-between !important;
      button:nth-child(1){
        color: var(--ion-color-medium) !important;
        background-color: var(--ion-color-light) !important;
      }
      button:nth-child(2){
        color: var(--ion-color-light) !important;
        --color: var(--ion-color-light) !important;
        --background:  var(--ion-color-medium) !important ;
        background-color:  var(--ion-color-medium) !important ;
        padding: 0 24px;
      }
    }
    .alert-radio-label{
      font-size: 22px !important;
    }
  }

  ion-date-time{
    .datetime-button-cancel{
      color: var(--ion-color-light) !important;
      --color: var(--ion-color-light) !important;
      --background:  var(--ion-color-medium) !important ;
      background-color:  var(--ion-color-medium) !important ;
    }
    .datetime-button-confirm {
      color: var(--ion-color-medium) !important;
      background-color: var(--ion-color-light) !important;
    }
  }

  @media screen and (max-width: 500px) {

  .billModal{
    --height: 100%;
    --min-width: none !important;
    --width: 100% !important;
  }
  }


