

ion-content, .header{
  background-color: var(--background-color) !important;
  --background: var(--background-color) !important;
}

ion-header, .title{
  background-color: rgba(var(--ion-color-medium-rgb), 0.03) !important;
  --background: rgba(var(--ion-color-medium-rgb), 0.03) !important;
}

ion-title{
  font-family: RoseMed !important;
}

.hidden {
  display: none;
 }


 #shed{
  --padding-bottom: 10px !important;
  --padding-end: 10px !important;
  --padding-top: 10px !important;
  --padding-start: 10px !important;
  --border-radius: 50% !important;
  --border-width: 2px !important;
  margin-right: 12px !important;
  --border-color: var(--ion-color-medium);
  ion-icon{
    color: var(--ion-color-medium);
  }
}



.barista{
  background-color: rgb(61, 158, 190);
}
.aj-barista{
  background-color: rgb(129, 196, 218);
}
.casier{
  background-color: rgb(225, 115, 109);
}
.ospatar{
  background-color: rgb(225, 177, 109);
}
.bucatar{
  background-color: rgb(116, 169, 107);
}
.aj-bucatar{
  background-color: rgb(155, 182, 150);
}
.days{
  background-color: rgb(19, 82, 116);
  color: white;
}
.tes{
  background-color: rgb(0, 50, 77);
  color: white;
}

.liber{
  background-color: rgb(98, 91, 91) !important;
  color: white !important;
}
.con{
  background-color: rgb(19, 82, 116);
  color: white;
}
.med{
  background-color: rgb(232, 41, 41);
  color: white;
}

.pointer{
  cursor: pointer;
  user-select: none;
  // border: 5px solid green;
}

.selected{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}


.square{
  font-family: RoseMed !important;
  border-radius: 4px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  .name{
    font-size: 12px;
    text-align: center;
  }
}

.size{
  font-size: 13px !important;
}
.padding{
  padding: 2px;
}

.total{
  font-family: RoseMed !important;
  border-radius: 4px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  text-align: center;
  background-color: rgb(9, 46, 66);
  color: white;
  .day{
    font-size: 8px!important;
  }
}


@media (prefers-color-scheme: dark) {
  .barista {
    background-color: rgb(30, 79, 95); /* Darkened version of rgb(61, 158, 190) */
  }
  .aj-barista {
    background-color: rgb(64, 98, 109); /* Darkened version of rgb(129, 196, 218) */
  }
  .casier {
    background-color: rgb(112, 57, 54); /* Darkened version of rgb(225, 115, 109) */
  }
  .ospatar {
    background-color: rgb(122, 88, 54); /* Darkened version of rgb(225, 177, 109) */
  }
  .bucatar {
    background-color: rgb(58, 84, 54); /* Darkened version of rgb(116, 169, 107) */
  }
  .aj-bucatar {
    background-color: rgb(77, 91, 75); /* Darkened version of rgb(155, 182, 150) */
  }
  .days {
    background-color: rgb(10, 41, 58); /* Darkened version of rgb(19, 82, 116) */
    color: white;
  }
  .liber {
    background-color: rgb(49, 46, 46) !important; /* Darkened version of rgb(98, 91, 91) */
    color: white !important;
  }
  .tes {
    background-color: rgb(106, 52, 13); /* Darkened version of rgb(212, 104, 27) */
    color: white;
  }
  .con{
    background-color: rgb(10, 41, 58);
    color: white;
  }
  .med{
    background-color: rgb(67, 15, 15);
    color: white;
  }


}
