<ion-header class="ion-no-border" *ngIf="user">
  <ion-toolbar class="ion-no-border">
      <ion-button (click)="goBack()" class="back-button" slot="start">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg"  class="icon"></ion-icon>
      </ion-button>
      <ion-button (click)="editUser()" slot="end" color="medium" size="large">
        <ion-icon src="../../../assets/icon/create-outline.svg"  class="icons" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="addDiscount()" slot="end" color="light" size="large">
        <ion-icon src="../../../assets/icon/percent.svg"  class="icons" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteUser()" slot="end" color="medium" size="large">
        <ion-icon src="../../../assets/icon/trash-outline.svg"  class="icons" color="light"></ion-icon>
      </ion-button>
      <div class="title-wrapper">
        <div class="title">{{user.name}}</div>
      </div>
</ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border" *ngIf="user">
    <ion-row>
      <ion-col>
        <ion-title class='ion-text-start'>Informații Generale</ion-title>
        <div class="input">
            <ion-label>Nume: {{user.name}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Email: {{user.email}}</ion-label>
        </div>
        <div lines="none" class="input">
          <ion-label>Telefon: {{user.telephone}}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <ion-title class='ion-text-start'>Informații Aplicație</ion-title>
        <div class="input">
            <ion-label>Cash Back: {{user.cashBack}} Lei</ion-label>
        </div>
        <div class="input">
          <ion-label>Comenzi: {{user.orders.length}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Status: {{user.status}}</ion-label>
        </div>
      </ion-col>
      <ion-col *ngIf="user.employee">
        <ion-title class='ion-text-start'>Informatii Angajat</ion-title>
        <div class="input">
            <ion-label>Nume Complet: {{user.employee.fullName}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Functie: {{user.employee.position}}</ion-label>
        </div>
        <div class="input" *ngIf="user.employee.salary">
          <ion-label>Salariu NET: {{user.employee.salary.inHeand}}</ion-label>
        </div>
        <!-- <div class="input">
          <ion-label>Adresa: {{user.employee.address}}</ion-label>
        </div> -->
        <!-- <div class="input">
          <ion-label>CNP: {{user.employee.cnp}}</ion-label>
        </div> -->
        <!-- <div class="input">
          <ion-label>Serie: {{user.employee.ciSerial}}</ion-label>
        </div> -->
        <!-- <div class="input">
          <ion-label>Număr: {{user.employee.ciNumber}}</ion-label>
        </div> -->
        <div class="input">
          <ion-label>Access: Level {{user.employee.access}}</ion-label>
        </div>
        <div class="input">
          <ion-label>Stare: {{user.employee.active ? 'Activ' : 'Inactiv'}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border" *ngIf="user" style="height: 100px;">
    <div class="title-wrapper">
      <div class="title">COMENZI</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" >
<ion-grid>
  <ion-row *ngIf="user.orders.length">
    <ion-col>
      <div class="order-wrapper" *ngFor="let order of user.orders.reverse(); let i = index" (click)="showOrder(order)">
          <span class="nr">Nr. {{i+1}}</span>
          <span class="date">{{formatDate(order.createdAt)}}</span>
          <span class="prodLen">{{order.productCount}}  Produse</span>
          <span class="total">Total: {{order.total}} Lei</span>
          <span class="cashBack">{{order.cashBack}} Lei CashBack</span>
          <span class="discount">{{order.discount}} Lei Reducere</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
