ion-content, ion-toolbar{
  --background: #fbf0e7 !important;
}

.back-button{
  --background: var(--ion-color-medium);
  height: 70px;
  width: 100px;
  --color: white;
  ion-icon{
    font-size: 28px;
  }
}

ion-title{
  font-family: NoirProSemi !important;
  margin: 24px 0;
  font-size: 22px;
}

.input, .order-wrapper{
  font-family: NoirProReg !important;
  font-size: 18px;
}

.icons{
  font-size: 28px;
}

.title-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-family: NoirProSemi !important;
    text-align: center;
    background-color: black;
    padding: 18px;
    color: white;
    font-size: 24px;
    margin-top: 8px;
  }
}

.precent{
  height: 30px;
}


.general-info-container{
display: flex;
flex-direction: column;
align-items: center;
}

.input{
  height: 45px;
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
  padding-left: 24px;
  margin: 0.4rem 0 0.4rem 0.2rem;
  display: flex;
  align-items: center;
}

.order-wrapper{
  height: 45px;
  // border: 0.5px solid var(--ion-color-medium);
  box-shadow:
  0 -2px 4px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
  padding-left: 24px;
  margin: 0.4rem 0 0.4rem 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  .nr{
   width: 60px;
   }
   .date{
    flex: 20%;
   }
   .prodLen{
    flex: 10%;
   }
   .total{
    flex: 10%;
   }
   .cashBack{
    flex: 10%;
   }
   .discount{
    flex: 10%;
   }
}

.order-wrapper:hover{
  --background: var(--ion-color-medium-shade);
}

