<div class="container">

      <ion-toolbar class="header">
        <ion-buttons slot="start">
          <ion-button class="masa" (click)="toggleFullscreen()">
           M {{tableNumber}}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="horizontal-scroll">
          <ion-button
              class="ion-text-end orders"
              *ngFor="let bill of table.bills; let i = index;"
              [ngClass]="{ 'active-button': bill.show }"
              (click)="showOrder(i)">
              <ion-label [id]="'orderName-' + i">{{bill.name === 'NEW' ? bill.name + ' ' + (i+1) : bill.name}}</ion-label>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="newOrder()" *ngIf="table.bills.length" class="add">
            <ion-icon src="../../../assets/icon/add-outline.svg" class="icon"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>



  <div class="bill-wrapper">
    <div class="bill">
      <ion-content [fullscreen]="false" class="product-content" #billContent>
        <ion-item lines="none" *ngFor="let product of billProducts; let i = index" [ngClass]="{'grey': !product.sentToPrint}" class="product-item">
          <ion-buttons slot="end" *ngIf="!product.sentToPrint">
            <ion-button size="large" (click)="openDeleteAlert(product.quantity, i, product.ings, product)">
              <ion-icon color="danger" src="../../../assets/icon/trash-outline.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-avatar slot="start" (click)="openComments(product, i)">
            <img alt="image" [src]="modifyImageURL(product.imgPath)"/>
          </ion-avatar>
          <div class="prod-name" (click)="openComments(product, i)">
            <span id="p-name">{{product.name}}</span>
            <div class="toppings-wrapper" *ngIf="product.toppings.length">
              <span *ngFor="let topping of product.toppings">+{{topping.name.split('/')[0]}}</span>
            </div>
            <div class="toppings-wrapper" *ngIf="product.comment && product.comment.length">
              <span>-{{product.comment}}</span>
            </div>
          </div>
          <ion-buttons *ngIf="breakMode">
            <ion-button (click)="break(i)" size="large" color="tertiary">
              <ion-icon src="../../../assets/icon/beak.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
            <span class="prod-price">{{product.price}} Lei</span>
            <ion-button size="medium" color="secondary" (click)="redProd(i)" *ngIf="product.sentToPrint">-</ion-button>
            <span class="prod-qty">{{product.quantity}} Buc</span>
            <ion-button size="medium" color="secondary"(click)="addProd(i)" *ngIf="product.sentToPrint">+</ion-button>
            <div class="price-wrapper">
              <span class="prod-total">{{product.total}} Lei</span>
              <span class="prod-discount"*ngIf="product.discount > 0">-{{product.discount}} Lei</span>
            </div>
        </ion-item>
      </ion-content>
      <div class="extra-bill" *ngIf="billToshow">
        <ion-row class="bill-discount-row" *ngIf="billToshow.discount !== 0">
          <ion-col size="8">
            <span class="red-text">TOTAL PRODUSE</span>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <span class="red-lei">{{calcProductTotal(billToshow.products)}} Lei</span>
          </ion-col>
        </ion-row>
        <ion-row class="bill-discount-row" *ngIf="billToshow.discount !== 0">
          <ion-col size="8">
            <span class="red-text">REDUCERE</span>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <span class="red-lei">- {{roundInHtml(billToshow.discount)}} Lei</span>
          </ion-col>
        </ion-row>
        <ion-row class="bill-discount-row" *ngIf="billToshow.cashBack !== 0">
          <ion-col size="8">
            <span class="red-text">CASH BACK</span>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <span class="red-lei">- {{roundInHtml(billToshow.cashBack)}} Lei</span>
          </ion-col>
        </ion-row>
        <ion-row class="bill-discount-row" *ngIf="billToshow.voucher !== 0">
          <ion-col size="8">
            <span class="red-text">VOUCHER</span>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <span class="red-lei">- {{billToshow.voucher}} Lei</span>
          </ion-col>
        </ion-row>
        <ion-row class="bill-tips-row" *ngIf="billToshow.tips > 0 || showZeroTips">
          <ion-col size="8">
            <span class="tips-text">BACSIS</span>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <span class="tips-lei"> + {{billToshow.tips}} Lei</span>
          </ion-col>
        </ion-row>
        <ion-row class="bill-tips-row" *ngIf="billToshow.payOnline || billToshow.payment.online > 0">
          <ion-col size="8">
            <span class="tips-text">PLĂTIT ONLINE</span>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <span class="tips-lei"> - {{billToshow.payment.online}} Lei</span>
          </ion-col>
        </ion-row>
      </div>
      <div class="bill-total" *ngIf="billToshow">
        <ion-button
            class="total"
            size="large"
            expand="block"
            [disabled]="disableOrderButton"
            (click)="payment()"
            >
          <ion-icon src="assets/icon/bill.svg" slot="start"></ion-icon>
          <ion-label
          class="label">NOTĂ
            <span>{{roundInHtml(billToshow.total)}}</span>
            Lei
          </ion-label>
        </ion-button>
        <ion-button
        class="order"
        (click)="sendOrder(true).subscribe()"
        [disabled]="disableOrderButton"
        >
        <ion-label>TRIMITE</ion-label>
        <ion-icon src="assets/icon/send-outline.svg"></ion-icon>
      </ion-button>
      </div>
    </div>
      <ion-buttons slot="end" class="bill-controls">
        <ion-button
            class=""
            (click)="mergeOrders()"
            >
            <ion-label>
              <ion-icon src="../../../assets/icon/hug.svg"></ion-icon>
              UNEȘTE
            </ion-label>
        </ion-button>
        <ion-button
            class=""
            (click)="breakOrder()"
            >
            <ion-label>
              <ion-icon src="assets/icon/beak.svg"></ion-icon>
              SEPARĂ
            </ion-label>
        </ion-button>
        <ion-button
            class=""
            (click)="deleteOrder()"
            >
            <ion-label>
              <ion-icon src="assets/icon/trash-outline.svg"></ion-icon>
              ȘTERGE
            </ion-label>
        </ion-button>
    <ion-button
        class=""
        (click)="addDiscount()"
        >
        <ion-label>
          <ion-icon src="assets/icon/discount.svg"></ion-icon>
          REDUCERE
        </ion-label>
    </ion-button>
    <ion-button
    class=""
    (click)="addCustomer(clientMode)"
    >
    <ion-label>
      <ion-icon src="assets/icon/person-outline.svg"></ion-icon>
      {{clientMode ? 'CLIENT' : "SCOATE"}}
    </ion-label>
    </ion-button>

    <ion-button
    *ngIf="!clientMode"
    class=""
    (click)="useCashBack(cashBackMode)"
    >
    <div class="label-wrapper" *ngIf="client">
      <ion-label class="label">
        CashBack
      </ion-label>
        <ion-label class="value">
        <!-- <ion-icon src="assets/icon/cash1.svg"></ion-icon> -->
        {{client.cashBack}} LEI
        </ion-label>
    </div>
    </ion-button>

    <ion-button
    class=""
    (click)="addTips()"
    >
    <ion-label>
      <ion-icon src="assets/icon/business.svg" slot="start"></ion-icon>
      TIPS
    </ion-label>
    </ion-button>
      </ion-buttons>
  </div>

</div>
